<ion-header>
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3" class="ion-align-self-center">
        <ion-buttons >
          <ion-back-button color="primary" defaultHref="main"></ion-back-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-title
          ><h2><b> {{language.About_Us.Title}} </b></h2></ion-title
        >
      </ion-col>
      <ion-col size="3"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-top">
    <ion-row class="ion-margin-top">
      <ion-col size="6">
        <ion-row class="ion-text-center">
          <ion-col class="ion-text-center"
            ><b class="blue-color"> {{language.About_Us.Powered_by}} </b></ion-col
          >
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-img src="assets/menu/about-app/rysa.png"></ion-img>
        </ion-row>
        <ion-row class="small-icons ion-justify-content-center">
          <ion-img src="assets/menu/about-app/linkedin.png"></ion-img>
          <ion-img src="assets/menu/about-app/instagram.png"></ion-img>
          <ion-img src="assets/menu/about-app/website.png"></ion-img>
        </ion-row>
      </ion-col>
      <ion-col size="6">
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <b class="blue-color">{{language.About_Us.for}} </b>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-img src="assets/menu/about-app/danone.png"></ion-img>
        </ion-row>
        <ion-row class="small-icons ion-justify-content-center">
          <ion-img src="assets/menu/about-app/linkedin.png"></ion-img>
          <ion-img src="assets/menu/about-app/instagram.png"></ion-img>
          <ion-img src="assets/menu/about-app/website.png"></ion-img>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row  [ngStyle]="{'background-color': sharedService.handleBackgroundColor()}"class=" white-text h-100">
      <ion-col class="ion-text-center ion-align-self-center" size="6">
        <b>{{language.About_Us.Your_version}}</b>
      </ion-col>
      <ion-col class="ion-text-center ion-align-self-center" size="6">
        <b>{{language.About_Us.copyright}}</b>
      </ion-col>
    </ion-row>

    <ion-row class="h-100">
      <ion-col class="ion-text-center ion-align-self-center" size="6">
        <b class="blue-color">{{language.About_Us.Terms_of_Use}} </b>
      </ion-col>
      <ion-col class="ion-text-center ion-align-self-center" size="6">
        <b class="blue-color">{{language.About_Us.Privacy_Policy}} </b>
      </ion-col>
    </ion-row>

    <div class="update">
      <b class="update-text">{{language.About_Us.Update_New_Version}} </b>
    </div>
  </ion-grid>
</ion-content>
