<ion-header>
  <ion-toolbar class="ion-no-padding">
    <ion-row class="primary-bg">
      <ion-col size="1" class="ion-align-self-center ion-no-padding">
        <ion-button fill="clear" (click)="backButton()">
          <ion-img
            class="back-button"
            src="assets\pages\customer-history\Backward arrow.png"
          ></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="7" class="ion-text-center ion-align-self-center">
        <ion-title class="ion-no-padding white-text"
          ><h3>Customer History</h3></ion-title
        >
      </ion-col>
      <ion-col
        size="1"
        class="ion-no-padding ion-align-self-center ion-text-end gps-text"
      >
        GPS
      </ion-col>
      <ion-col size="1" class="ion-align-self-center">
        <ion-toggle color="primary" checked="true"></ion-toggle>
      </ion-col>
      <ion-col
        size="1"
        class="ion-align-self-center hide ion-no-padding iopn-margin-end"
      >
        <ion-img src="\assets\pages\customer-nearby\Hide.png"> </ion-img>
        <ion-item>
          <ion-select interface="popover" value="hide">
            <ion-select-option value="50n">50 M</ion-select-option>
            <ion-select-option value="100m">100 M</ion-select-option>
            <ion-select-option value="500m">500 M</ion-select-option>
            <ion-select-option value="700m">700 M</ion-select-option>
            <ion-select-option value="1km">1 KM</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col
        size="1"
        class="ion-float-left ion-align-self-center wifi ion-no-padding"
      >
        <ion-img
          class="wifi-offline"
          src="assets\pages\customer-history\Internet Off.png"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-grid class="secondary-bg white-text">
    <ion-row class="ion-justify-content-between">
      <ion-col size="3" class="ion-no-padding ion-text-start">
        2022.04.02
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-center">
        Saturday
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-end">
        13 فروردین
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-row class="search-box ion-justify-content-center">
    <button class="search-submit primary-bg">
      <ion-icon name="search-outline"></ion-icon>
    </button>
    <input
      type="search"
      name=""
      id="trigger-search"
      placeholder="Search"
      class="search search-customer-history input-shadow"
    />
    <span class="search-icon">
      <ion-icon name="chevron-down-outline"></ion-icon>
    </span>
  </ion-row>

  <form [formGroup]="form">
    <ion-grid class="customer-history-select">
      <ion-row class="ion-justify-content-center">
        <ion-item
          id="trigger-input-1"
          lines="none"
          class="box-shadow select-box"
        >
          <ion-select
            class="drop-down select-drop-down"
            placeholder="DC"
            interface="popover"
            formControlName="DC"
            (ionChange)="selectCity($event)"
          >
            <ion-select-option disabled value=""
              >{{language.Questionnaire.Input_select_DC}}</ion-select-option
            >
            <ion-select-option *ngFor="let city of cities" [value]="city.City"
              >{{city.City}}
            </ion-select-option>
          </ion-select>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-item
          id="trigger-input-route"
          lines="none"
          class="box-shadow select-box"
        >
          <ion-select
            class="drop-down select-drop-down"
            placeholder="Route"
            interface="popover"
            formControlName="Route"
            (ionChange)="routeSelect($event)"
            [disabled]="!f.DC.value"
          >
            <ion-select-option value="">Route</ion-select-option>
            <ion-select-option
              *ngFor="let route of routes"
              [value]="route.routename"
              >{{route.routename}}
            </ion-select-option>
          </ion-select>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-item
          id="trigger-input-customer"
          lines="none"
          class="box-shadow select-box"
        >
          <ion-select
            class="drop-down select-drop-down"
            placeholder="Customer"
            interface="popover"
            formControlName="Customer"
            [disabled]="!f.Route.value"
            (ionChange)="customerSelect($event)"
          >
            <ion-select-option value="">Customer</ion-select-option>
            <ion-select-option
              *ngFor="let customer of customers"
              [value]="customer"
              >{{customer.custName}}
            </ion-select-option>
          </ion-select>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-item>
      </ion-row>

      <ion-row class="radio-input-1 ion-justify-content-center">
        <div class="radio-input box-shadow">
          <div class="radio-input-sales">
            <input
              [disabled]="!f.Customer.value"
              type="radio"
              value="sales"
              formControlName="type"
              (ionChange)="typeAndQtyKgSelect()"
            />
            <label for="sales">Sales</label>
          </div>
          <div>
            <input
              [disabled]="!f.Customer.value"
              type="radio"
              value="pped"
              formControlName="type"
              (ionChange)="typeAndQtyKgSelect()"
            />
            <label for="pped">PPED</label>
          </div>
          <div>
            <input
              [disabled]="!f.Customer.value"
              type="radio"
              value="samples"
              formControlName="type"
              (ionChange)="typeAndQtyKgSelect()"
            />
            <label for="samples">Samples</label>
          </div>
        </div>
      </ion-row>
      <ion-row class="radio-input-2 ion-justify-content-center">
        <div class="radio-input box-shadow">
          <div>
            <input
              type="radio"
              value="qty"
              formControlName="kgqty"
              (ionChange)="typeAndQtyKgSelect()"
            />
            <label for="qty">Qty</label>
          </div>
          <div>
            <input
              type="radio"
              value="kg"
              formControlName="kgqty"
              (ionChange)="typeAndQtyKgSelect()"
            />
            <label for="kg">Kg</label>
          </div>
        </div>
      </ion-row>
    </ion-grid>
  </form>
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <h4 class="shop-name">
        <span>Shop name: </span>{{customerInfo.shopName}}
      </h4>
      <h4 class="shop-code">
        <span>Shop code: </span>{{customerInfo.shopCode}}
      </h4>
      <h4 class="tell"><span>Tell: </span>{{customerInfo.tell}}</h4>
      <h4 class="shop-type">
        <span>Shop type: </span>{{customerInfo.shopType}}
      </h4>
      <div>
        <h4 class="sr"><span>SR: </span>{{customerInfo.sr}}</h4>
        <h4 class="address"><span>Address: </span>{{customerInfo.address}}</h4>
      </div>
      <div class="questionnaire">
        <a routerLink="/questionnaire">
          <img src="assets\pages\customer-history\Group 1309.png" alt="" />
        </a>
      </div>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-row
        class="table-container"
        *ngFor="let row of virtual_rows; let i = index"
        (click)="rowClick(row)"
        [ngClass]="{'firstrow': i==0}"
      >
        <ng-container
          class=""
          *ngIf="row.show && (row.type=='a' || row.type=='h')"
        >
          <ion-col
            *ngFor="let item of customer_histories[row.index]; let j = index"
            [ngClass]="{'firstculomn': j==0 && i!=0}"
          >
            {{ item }}
          </ion-col>
        </ng-container>
        <ng-container *ngIf="row.show && row.type=='b'">
          <ion-grid class="table-detail ion-no-padding">
            <ion-row wrap *ngFor="let rows of selected_ch[row.index]">
              <ion-col
                *ngFor="let item of rows"
                [ngClass]="{'first-row-culomn': j==0 && i==0}"
              >
                {{ item }}
              </ion-col>
              <hr />
            </ion-row>
          </ion-grid>
        </ng-container>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- ----------------------------------------- -->
  <ion-grid class="maingrid">
    <ion-row
      wrap
      *ngFor="let row of virtual_rows; let i = index"
      (click)="rowClick(row)"
      [ngClass]="{'firstrow': i==0}"
    >
      <ng-container *ngIf="row.show && (row.type=='a' || row.type=='h')">
        <ion-col
          *ngFor="let item of customer_histories[row.index]; let j = index"
          [ngClass]="{'firstculomn': j==0 && i!=0}"
        >
          {{ item }}
        </ion-col>
      </ng-container>
      <ng-container *ngIf="row.show && row.type=='b'">
        <ion-grid>
          <ion-row wrap *ngFor="let rows of selected_ch[row.index]">
            <ion-col
              *ngFor="let item of rows"
              style="border: 1px solid dodgerblue !important"
              [ngClass]="{'first-row-culomn': j==0 && i==0}"
            >
              {{ item }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </ion-row>
  </ion-grid>

  <ion-row class="ion-justify-content-center">
    <app-area-charts></app-area-charts>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <app-column-charts></app-column-charts>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <app-pie-charts></app-pie-charts>
  </ion-row>
</ion-content>

<!-- -----------------table----------------------- -->
<!-- <table>
  <thead class="table-head">
    <tr class="table-head-content">
      <th><span>Cat</span></th>
      <th>W4</th>
      <th>W5</th>
      <th>W6</th>
      <th>W7</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="table-body table-body-content">
    <tr>
      <td class="table-body-icon">
        <ion-icon name="chevron-down-outline"></ion-icon> DCD
      </td>
      <td></td>
      <td>4.10</td>
      <td></td>
      <td>3.20</td>
      <td></td>
    </tr>
    <div class="table-detail">
      <div class="table-border">
        <table>
          <thead>
            <th>Visitor</th>
            <th>Driver</th>
          </thead>
          <tbody>
            <td>Ali Zardust</td>
            <td>Hosein Aghai</td>
          </tbody>
        </table>
        <hr class="hr" />
      </div>
    </div>
    <tr>
      <td>
        <ion-icon
          class="isNotShowing"
          name="chevron-down-outline"
        ></ion-icon>
        DD 200
      </td>
      <td></td>
      <td>4.10</td>
      <td></td>
      <td>3.20</td>
      <td></td>
    </tr>

    <tr>
      <td class="table-body-icon">
        <ion-icon name="chevron-down-outline"></ion-icon> FLan
      </td>
      <td></td>
      <td>4.10</td>
      <td></td>
      <td>3.20</td>
      <td></td>
    </tr>

    <tr>
      <td><ion-icon name="chevron-down-outline"></ion-icon> Total</td>
      <td></td>
      <td>4.10</td>
      <td></td>
      <td>3.20</td>
      <td></td>
    </tr>
    <div class="table-detail">
      <div class="table-border">
        <table>
          <thead>
            <th>Visitor</th>
            <th>Driver</th>
          </thead>
          <tbody>
            <td>Ali Zardust</td>
            <td>Hosein Aghai</td>
          </tbody>
        </table>
        <hr class="hr" />
      </div>
    </div>
    <tr>
      <td class="table-body-icon">
        <ion-icon name="chevron-down-outline"></ion-icon> DCD
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td><ion-icon name="chevron-down-outline"></ion-icon> DCD</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="table-body-icon">
        <ion-icon name="chevron-down-outline"></ion-icon> DCD
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td><ion-icon name="chevron-down-outline"></ion-icon> DCD</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table> -->
<!-- ----------------------- -->
<!-- <table
        *ngFor="let row of virtual_rows; let i = index"
        [ngClass]="{'firstrow': i==0}"
        (click)="rowClick(row)"
      >
        <tbody
          *ngIf="row.show && (row.type=='a' || row.type=='h')"
          class="table-body table-body-content"
        >
          <tr
            *ngFor="let item of customer_histories[row.index]; let j = index"
            [ngClass]="{'firstculomn': j==0 && i!=0,'firstrow': i==0}"
          >
            <td>{{ item }}</td>
          </tr> -->
<!-- <div *ngIf="row.show && row.type=='b'" class="table-detail">
            <div class="table-border">
              <table>
                <thead>
                  <th>Visitor</th>
                  <th>Driver</th>
                </thead>
                <tbody>
                  <td>Ali Zardust</td>
                  <td>Hosein Aghai</td>
                </tbody>
              </table>
              <hr class="hr" />
            </div>
          </div> -->
<!-- </tbody> -->

<!-- ------------ -->
<!-- <table>
  <tbody>
    <tr
      *ngFor="let row of virtual_rows; let i = index"
      [ngClass]="{'firstrow': i==0}"
      (click)="rowClick(row)"
      class=""
    >
      <div
        class="table-container"
        [ngClass]="{'firstrow': i==2}"
        *ngIf="row.show && (row.type=='a' || row.type=='h')"
      >
        <td
          *ngFor="let item of customer_histories[row.index]; let j = index"
          [ngClass]="{'firstculomn': j==0 && i!=0}"
        >
          {{ item }}
        </td>
      </div>
    </tr> -->
<!-- <div *ngIf="row.show && row.type=='b'" class="table-detail">
      <div class="table-border">
        <table *ngFor="let rows of selected_ch[row.index]">
          <tbody *ngFor="let item of rows">
            <td>{{item}}</td>
          </tbody>
        </table>
        <hr class="hr" />
      </div>
    </div> -->
<!-- </tbody>
</table> -->

<!-- <ion-row
        class="table-container"
        *ngFor="let row of virtual_rows; let i = index"
        (click)="rowClick(row)"
        [ngClass]="{'firstrow': i==0}"
      >
        <ng-container *ngIf="row.show && (row.type=='a' || row.type=='h')">
          <ion-col
            *ngFor="let item of customer_histories[row.index]; let j = index"
            [ngClass]="{'firstculomn': j==0 && i!=0}"
          >
            {{ item }}
          </ion-col>
        </ng-container>
        <ng-container *ngIf="row.show && row.type=='b'">
          <ion-grid>
            <ion-row wrap *ngFor="let rows of selected_ch[row.index]">
              <ion-col
                *ngFor="let item of rows"
                [ngClass]="{'first-row-culomn': j==0 && i==0}"
              >
                {{ item }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
      </ion-row> -->
