



ion-toolbar ion-row{
    --background: var(--ion-color-light);
    --color: #0095EB;
    padding-top:.5rem;
    padding-bottom:.5rem;
   
}
ion-toolbar.ios{
    --ion-padding-bottom:0;
}

ion-content {
    --background: var(--ion-color-light);
}

ion-title {
    height: 100%;
    h3{
        font-size: 1.1rem;
        width: 100%;
    }
}
ion-item{
    --background: var(--ion-color-light);
}

ion-input{
    --padding-start : 5vw;
    --placeholder-color : #b9b9b9;
    --background : var(--ion-color-light)
}




ion-toggle{
    padding: 3px 0 ;
    --background: #a0c5ff;
  // --background-checked: #3880ff;
  --background-checked: #a0c5ff;
  
  --handle-background: #3880ff;
  // --handle-background-checked: #a0c5ff;
  --handle-background-checked: #0095eb;
}

ion-img{
    max-width: 60px;
    min-width: 40px;

}



ion-toggle.ios{
    height: 15px;
    width: 20px;
    --handle-width:15px;
}
ion-img .back-button.ios{
    min-width: 40px;
    max-width: 80px;
    margin-right: 3px;
}

.margin-end{
    margin: 0 1vw;
}










// -------------Header------------------
.hide{
    display: flex;
}
.gps{
    display: flex;
    justify-content: flex-end;
}
span.toggle-background{
    border-radius: 100%;
    background: #f4f4f4;
    padding: 14% 7% 10%;
}


.toggle{
    display: flex;
}

.back-button {
    max-width: 20px;
    min-width: 20px;
    

}


// -------------Body------------------


// -------------Search------------------


ion-row.search-container{
    width: 80%;
    margin: 3vh 0  3vh 10vw;
    ion-col.search-box{
        background: none;
        border-radius: 50px;
        padding-inline-start:0;
        ng-select{
           max-width: 80%;
           height: 100%;
           margin-left:auto;
           margin-right: 2vw;
           border-bottom: none;
           padding: .3rem 0 .9rem;    
        }
        .search-submit{
            position: absolute;
            top: 0;
            z-index: 2;
            width: 3rem;
            height: 100%;
            border-radius: 50px 0 0 50px;
            ion-icon{
                color: var(--ion-color-light);
                font-size: 1.5rem; 
            }
        }
        span{
            position: absolute;
            top: 2rem;
            right: 2rem;
            ion-icon{
                font-size: 1.5rem;
                color: #808080;

            }
        }
    }
}




// -------------Select-Options------------------
form{
    width: 100%;
}
.customer-history-select{
    ion-row{
        margin-bottom: 1rem;
        >ion-item.select-box{
          
            --color:var(--ion-color-dark) ;
            --padding-top:.5rem;
            --padding-bottom:.5rem;
            --padding-start:2rem;
            --border-radius: 50px;
            border-radius: 50px;
            width: 80%;
            ion-icon{
                width: 3rem;
                position: absolute;
                right:3vw;
    
            }
         
      
        }
    }

    .custom-popover{
        &::part(content){
            padding: 1rem ;
        }
    }

    ion-select{
        width: 100%;
        color: #0095EB;
        --placeholder-color: #6a6a6a;
        height: 4rem; 
    }
   
    ion-icon{
        width: 1rem;
    }


    ion-list{
        --padding-start:2rem;
        --border-radius: 50px;
        border-radius: 50px;
        width: 80%;
        ion-radio-group {
            display: flex;
            >ion-item{
                width: 150px;
            }
            >ion-label{
                width: 100px;
                white-space: nowrap;
            }
          
        }

    }

   

    // -------------Radio Input------------------


    

    .radio-input{
        display: flex;
        justify-content: center;
        background: var(--ion-color-light);
        padding:1.2rem 2rem;
        border-radius: 50px;
        width: 80%;
        &>:first-child{
            margin-right: 2rem;
        }
        div{
            width:80px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
          
            input[type=radio] {
                min-width: 15px;
                height: 15px;
                accent-color: #0095EB;
                &:checked + label{
                        color: #0095EB;
                }
            }
            label{
                color:#e5e5e5df
            }
        }
    }
    .radio-input-1{
        &>.radio-input{
            justify-content: space-between;
            padding:1.2rem 1.5rem;
            >div{
                flex-direction: row-reverse;
                max-width: 100%;
                align-items: center;
                input[type=radio] {
                    min-width: 15px;
                    padding-right: 1rem;
                    height: 15px;
                    accent-color: #0095EB;
                    &:checked + label{
                        color: #0095EB;
                }
                }
            }
            &>:first-child{
                margin-right: 0;
            }
            &>:nth-child(3){
                label{
                    padding-right: 1.8vw;

                }
            }
        }
    }


}

// -------------Card------------------


// -------------Card Header------------------

// -------------Customer History Information------------------



ion-card{
    width: 100%;
    border-radius: 40px 40px 0 0;
    h4{
        color:#343785;
        span{
            color: var(--ion-color-light);
        }
    }
    ion-card-header{
        ion-row.customerInfo{
            ion-row{
                width:-webkit-fill-available;
            }
        }
        .questionnaire{
            display: flex;
            align-items: flex-end;
        }
        img{
            max-width:120px ;
        }
        >div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    
    // -------------Card content Table------------------
    
    
    ion-card-content{
        ion-row.table-container{
            text-align: center;
                ion-col{
                    width: 10vw;
                }
            .table-detail{
                width: 100%;
                ion-row{
                    hr{
                        position: absolute;
                        left: 1rem;
                        height: 2px;
                        width: 2rem;
                    }
                    width: 100%;
                    :first-child{
                        background: #5cc3ff63;
                        font-size:.9rem ;
                         font-weight: bold;
                    }
                    &>ion-col{
                        font-size: 1rem;
                        border: #5cc3ff63 .5px solid;
                    }
                }
            }    
        }
    }
            
}


.firstrow{
    font-size: 1.1rem;
     font-weight: bold;
    flex-wrap: wrap;
    &>:first-child{
        color: #0095EB;
    }
}

.firstculomn{
    background: #c9c9c97d;
    max-width:13vw;

}
   



    @media (min-width:990px) {
    
        ion-card{
        ion-card-content{
            table{
            .table-detail{
                .table-border{
                    &>table{
                        width:60vw;
                        
                    }
                }
            }
            }
        }
        }
    }

   


html,
body,
#map {
  width: 100%;
  height: 70%;
  margin: 0;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}