// to do : 1 header button size needs to get fixed.
// 3 table cat column overflows and table details
 // change the down icons



ion-toolbar ion-row{
    --background: #fff;
    --color: #0095EB;
    padding-top:.5rem;
    padding-bottom:.5rem;
}
ion-toolbar.ios{
    --ion-padding-bottom:0;
}

ion-content {
    --background: #fff;
    // --color: #0095EB;
}

ion-title {
    height: 100%;
    h3{
        font-size: 3.5vw;
        // font-size: 20px;
        width: 100%;
    }
}
ion-item{
    --background: #fff;
}

ion-input{
    --padding-start : 5vw;
    --placeholder-color : #b9b9b9;
    --background : #fff
}

ion-toggle{
    margin-top: 3px;
    background: #fff;
    border-radius: 100%;
    // padding:2.3vh .3vw;
    padding:13px 3px;
    max-width: 100%;
}

ion-img{
    // width: 100%;
    max-width: 60px;
    min-width: 30px;

}


.wifi{
    ion-img{
        max-width: 66px;
    }
}


ion-toggle.ios{
    height: 15px;
    width: 20px;
    --handle-width:15px;
}
ion-img .back-button.ios{
    min-width: 40px;
    max-width: 80px;
    margin-right: 3px;
}










.box-shadow{
    box-shadow: 5px 8px 16px 0 #e3f6ff, 0 6px 20px 0 #E6F5FC ;

}

// -------------Header------------------

.gps-text{
    white-space: nowrap;
}

.dropDown-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: none;
    background-color: #fff;
    margin-top: 3px;
    padding:1.1vw ;
    // margin-right: 1rem;
        ion-icon{
        color:#0095EB;
        font-size: 2rem;
    }
}



.back-button {
    max-width: 20px;
    min-width: 20px;
    

}


// -------------Body------------------


// -------------Search------------------


ion-row.search-container{
    width: 80%;
    margin: 3vh 0  3vh 10vw;
    ion-col.search-box{
        background: none;
        border-radius: 50px;
        ng-select{
           max-width: 80%;
           height: 100%;
           margin-left:auto;
           margin-right: 2vw;
           border-bottom: none;
           padding: .3rem 0 .9rem;    
        }
        .search-submit{
            position: absolute;
            top: 0;
            z-index: 2;
            width: 3rem;
            height: 100%;
            border-radius: 50px 0 0 50px;
            ion-icon{
                color: #fff;
                font-size: 1.5rem; 
            }
        }
        span{
            position: absolute;
            top: 2rem;
            right: 2rem;
            ion-icon{
                font-size: 1.5rem;
                color: #e5e5e5;

            }
        }
    }
}




// -------------Select-Options------------------

.customer-history-select{
    ion-row{
        margin-bottom: 1rem;
        >ion-item.select-box{
          
            --color:#000 ;
            --padding-top:.5rem;
            --padding-bottom:.5rem;
            --padding-start:2rem;
            --border-radius: 50px;
            border-radius: 50px;
            width: 80%;
            box-shadow: 5px 8px 16px 0 #e3f6ff, 0 6px 20px 0 #E6F5FC ;
            ion-icon{
                color: #e5e5e5;
                width: 3rem;
                position: absolute;
                right:3vw;
    
            }
            // ---------------------------------------------------------------------------------------------
            // ---------------------------------------------------------------------------------------------
            // ---------------------------------------------------------------------------------------------

      
        }
    }

    .custom-popover{
        &::part(content){
            padding: 1rem ;
        }
    }

    ion-select{
        width: 100%;
        color: #0095EB;
        --placeholder-color: #6a6a6a;
        height: 4rem; 
    }
   
    ion-icon{
        color: #e5e5e5;
        width: 1rem;
    }


    ion-list{
        --padding-start:2rem;
        --border-radius: 50px;
        border-radius: 50px;
        width: 80%;
        ion-radio-group {
            display: flex;
            >ion-item{
                width: 150px;
            }
            >ion-label{
                width: 100px;
                white-space: nowrap;
            }
          
        }

    }

   

    // -------------Radio Input------------------


    

    .radio-input{
        display: flex;
        justify-content: center;
        background: #fff;
        padding:1.2rem 2rem;
        border-radius: 50px;
        width: 80%;
        &>:first-child{
            margin-right: 2rem;
        }
        div{
            width:80px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            // align-items: center;
          
            input[type=radio] {
                // border: 10px;
                min-width: 15px;
                height: 15px;
                accent-color: #0095EB;
                &:checked + label{
                        color: #0095EB;
                }
            }
            label{
                // padding-right: 3rem;
                color:#e5e5e5df
            }
        }
    }
    .radio-input-1{
        &>.radio-input{
            justify-content: space-between;
            padding:1.2rem 1.5rem;
            label{
                padding-right: .5rem;
            }

            >div{
                flex-direction: row-reverse;
                max-width: 100%;
                align-items: center;
                input[type=radio] {
                    // border: 10px;
                    min-width: 15px;
                    padding-right: 1rem;
                    height: 15px;
                    accent-color: #0095EB;
                    &:checked + label{
                        color: #0095EB;
                }
                }
            }
            &>:first-child{
                margin-right: 0;
            }
            &>:nth-child(3){
                label{
                    padding-right: .8rem;

                }
            }
        }
    }


}

// -------------Card------------------


// -------------Card Header------------------

// -------------Customer History Information------------------



ion-card{
    // height: 100vh;
    width: 100%;
    border-radius: 40px 40px 0 0;
    h4{
        color:#343785;
        span{
            color: #fff;
        }
    }
    ion-card-header{
        --background: #0095EB;
        // min-height: 60vh;
        // display: grid;
        // grid-template-columns: repeat(2,1fr);
        // column-gap: .6rem;
        ion-row.customerInfo{
            ion-row{
                width:-webkit-fill-available;
            }
        }
        .questionnaire{
            display: flex;
            align-items: flex-end;
        }
        img{
            max-width:120px ;
        }
        >div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    
    // -------------Card content Table------------------
    
    
    ion-card-content{
        ion-row.table-container{
            text-align: center;
            &>:nth-child(odd){
                background: #d6d6d648;
            }
            ng-container{
                ion-col{
                    color: #3a3838;
                    height: 1rem;
                    max-width: 13vw;

                }
            }
            .table-detail{
                // height: 15vh;
                // display: flex;
                // flex-direction: row;
                width: 100%;
                box-shadow: 2px 2px 6px 0 #cdcdcdd6, 0 6px 20px 0 #E6F5FC ;
                ion-row{
                    hr{
                        position: absolute;
                        left: 1rem;
                        height: 2px;
                        width: 2rem;
                    }
                    width: 100%;
                    :first-child{
                        background: #5cc3ff63;
                        // color: #3a3838;
                        font-size:.9rem ;
                        font-weight: bold;
                    }
                    &>ion-col{
                        font-size: 1rem;
                        // display: flex;
                        border: #5cc3ff63 .5px solid;
                    }
                }
            }    
        }
    }
            
}

.first-row-culomn{
    background: red;
}

.firstrow{
    font-size: 1.3rem;
    font-weight: bold;
    // background: green;
    flex-wrap: wrap;
    &>:first-child{
        color: #0095EB;
    }
}

.firstculomn{
    // background: pink;
    background: #c9c9c97d;

}
    // ion-card-content{
    //     table{

    //         table-layout: fixed;
    //         width: 100%;
    //         margin: 0;
            
    //         tr{
    //             cursor: pointer;
    //             z-index: 3;
    //             :nth-child(3),
    //             :nth-child(5){
    //                 background: #c9c9c95e;
  
    //             }
    //             :nth-child(1){
    //                 max-width: 100px;
    //             }
                
    //             &:nth-child(even){
    //                 background: #b9d7e5;
    //             }
    //             &>:last-child{
    //                 width:5vw;  
    //             }
    //         }
    //         td{
    //             white-space: nowrap;
    //             padding: 2px 0;
    //             max-width: 120px;

    //         }
    //         .table-head{
    //             .table-head-content{
    //                 font-weight: bold;
    //                 color: #000;
    //                 th{
    //                     font-size: 1.1rem;
    //                 }
    //                 >:first-child{
    //                     color:#0095EB;
    //                         min-height: 20px;
    //                     }
                
    //             }
    //         }
    //         .table-body{
    //            >tr{
    //                 >td{
    //                     font-size: .9rem;
    //                     color: #000;
    //                     width: 50px;
    //                     text-align: center;
    //                     &:first-child{
    //                         text-align: left;
    //                         padding-left: 5px;            
    //                     }
    //                 }
    //             }
                
    //             ion-icon{
    //                 font-size: 1.2rem;
    //                 padding-right: 4px;
    //                 // margin-top: 5px;
    //             }
    //             &-icon{
    //                 background: #dddddd;
    //             }
    //         }

    //         // ---------table-detail--------------
    //         .table-detail{
    //             height: 15vh;
    //             .table-border{
    //                 // background: red;
    //                 height:95%;
    //                 margin-left: 1rem;
    //                 padding-top: 3rem;
    //                 border-left: 1px solid #005b90;
    //                 hr{
    //                     position: relative;
    //                     // bottom: 5vh;
    //                     bottom: 9.5vh;
    //                     background: #0095EB;
    //                     width: 5vw;
    //                     height: 2px;
    //                     margin-right: 6rem;
    //                     // padding-top: 3rem;
    //                 }
                
    //             &>table{
    //                 // min-width: 90vw;
    //                 width: 90vw;
    //                 box-shadow: 2px 2px 6px 0 #cdcdcdd6, 0 6px 20px 0 #E6F5FC ;
    //                 position: relative;
    //                 left: 5vw;
    //                 bottom: 2rem;
    //             }
    //             thead{
    //                 background: #2cb2ffd8;
    //                 :first-child{
    //                     border-right:1px #0095eb4b solid ;
    //                 }
    //             }
    //             th{
    //                 color: #282828;
    //                 min-width: 200px;
    //                 font-size: 1.2rem;
    //             }
    //             tbody{
    //                 text-align: center;
    //                 :first-child{
    //                     background: #0095EB;
    //                     color: #fff;
    //                 }

    //             }
                

    //         }

    //     } 
            
    //     }

    //     }
        
        
        
    // }


//     table{
//         table-layout: fixed;
//         width: 100%;
//         margin: 0; 
//         tbody{
//             width: 100%;
//             tr{
//                 width: 100%;
//                 //    background: red;
               
//                 .table-container{
//                     width: 100%;
//                     display: flex;
//                     :nth-child(odd){
//                         background: #c4c4c46f;
//                     }
//                     &>:first-child{
//                         :first-child{
//                             background: green;
//                         }
//                     }
//                 td{
//                     &>:first-child{
//                         background: #005b90;
//                     }
//                     text-align: center;
//                     // background: blue;
//                     // font-size: .9rem;
//                     color: #000;
//                     width: 100%;
//                     text-align: center;
                    
                  
//                 }

//             }
//             }
            
//             ion-icon{
//                 font-size: 1.2rem;
//                 padding-right: 4px;
//                 // margin-top: 5px;
//             }
//             &-icon{
//                 background: #dddddd;
//             }
//         }

  
        
//     }

// }   




    @media (min-width:990px) {
    
        ion-card{
        ion-card-content{
            table{
            .table-detail{
                .table-border{
                    &>table{
                        width:60vw;
                        
                    }
                }
            }
            }
        }
        }
    }
    // @media (max-width:490px) {
    //     ion-toggle{
          
    //         padding:1.5vh .3vw;
    //     }
    // }



html,
body,
#map {
  width: 100%;
  height: 70%;
  margin: 0;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}