ion-toolbar{
    --background: var(--ion-color-light);
    --color: #0095EB;
}

ion-content{
    --background: var(--ion-color-light);
    --color: #0095EB;
}

ion-title{
    height: 100%;
}

.back-button{
    max-width: 20px;
}

.main-icon{
    max-width: 40vw;
    max-height: 40vh;
}

.center-texts{
    position: relative;
    top: 5vh;
}

.help {
    position: absolute;
    width: 25px;
    left: 8px;
}

.secondary-color{
    color: #205072;
}