<ion-header>
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3" class="ion-align-self-center">
        <ion-buttons>
          <ion-back-button color="primary" defaultHref="main"></ion-back-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-title>
          <h3><b>{{language.Setting.Title}}</b></h3>
        </ion-title>
      </ion-col>
      <ion-col size="3"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center ion-margin-vertical">
      <ion-img
        class="main-icon"
        src="assets/menu/settings/setting.png"
      ></ion-img>
    </ion-row>
    <ion-row class="ion-justify-content-center h-15vh">
      <ion-col
      [ngStyle]="{'background-color': sharedService.handleThemeColor()}"
        size="6"
        class="ion-text-center  h-100 white-text"
        routerLink="/language"
      >
        <b class="center-texts"> {{language.Setting.Language}} </b>
      </ion-col>
      <ion-col
        routerLink="/theme"
        size="6"
        class="ion-text-center secondary-bg h-100 white-text"
      >
        <b class="center-texts">{{language.Setting.Theme}}</b>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center w-100 mt-8vh">
      <h4 class="secondary-color">{{language.Setting.help}}</h4>
      <span class="relative">
        <ion-img class="help" src="assets/menu/settings/help.png"></ion-img>
      </span>
    </ion-row>
    <ion-row class="ion-justify-content-center mt-4vh">
      <p class="secondary-color">{{language.Setting.frequently_asked_questions}}</p>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <p class="secondary-color">{{language.Setting.description_video}}</p>
    </ion-row>
  </ion-grid>
</ion-content>
