ion-toolbar{
    --background: #fff;
    --color: #0095EB;
}

ion-content{
    --background: #fff;
    --color: #0095EB;
}

ion-title{
    height: 100%;
}

.back-button{
    max-width: 20px;
}

.main-icon{
    max-width: 40vw;
    max-height: 40vh;
}