<ion-header>
  <ion-toolbar class="ion-no-padding">
    <ion-row
      class="primary-bg ion-justify-content-between header ion-no-margin"
    >
      <ion-col size="1" class="ion-align-self-center">
        <ion-button fill="clear" routerLink="/main">
          <ion-img
            class="back-button ion-justfy-self-start ion-align-self-cente"
            src="assets\pages\customer-history\Backward arrow.png"
          ></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="6" class="ion-text-center ion-align-self-center">
        <ion-title class="white-text">
          <h3><b>Daily Status</b></h3>
        </ion-title>
      </ion-col>
      <ion-col></ion-col>
      <ion-col class="ion-align-self-center reload" size="1">
        <ion-img class="" src="\assets\pages\customer-nearby\Group 1325.png">
        </ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center wifi" size="1">
        <ion-img
          class="wifi-online"
          src="\assets\mainPage\main\wifi.png"
        ></ion-img>
      </ion-col>
    </ion-row>
    <!--  -->
  </ion-toolbar>
  <ion-grid class="secondary-bg white-text">
    <ion-row class="ion-justify-content-between">
      <ion-col size="3" class="ion-no-padding ion-text-start">
        2022.04.02
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-center">
        Saturday
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-end">
        13 فروردین
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-col class="ion-no-padding segment-change">
    <ion-segment
      mode="md"
      class="ion-justify-content-between"
      (ionChange)="segmentChanged($event)"
      value="tablet"
    >
      <ion-segment-button class="tablet" value="tablet">
        <ion-label>Tablet</ion-label>
      </ion-segment-button>
      <ion-segment-button class="truck" value="truck">
        <ion-label>Truck</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-col>
</ion-header>
<!-- -------------------------------------------------------------------------------------------- -->
<ion-content class="ion-no-padding ion-no-margin">
  <ion-col class="tablet-page" *ngIf="selectedSegment == 'tablet'">
    <ion-col>
      <ion-row class="date-picker-container">
        <ion-row class="date-picker-box">
          <label for="Date-picker">{{language.DatePicker.title}}</label>
          <ion-row class="date-picker lightBlue-shadow">
            <img src="\assets\pages\Max PPED\Group 1438.png" alt="" />
            <ion-col id="open-popover" class="ion-justify-content-end">
              {{dateNow | date:'yyyy/MM/dd'}}
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-row>
      <ion-popover trigger="open-popover" show-backdrop="false">
        <ng-template>
          <ion-datetime
            size="cover"
            showDefaultButtons="true"
            presentation="date"
          >
            <ion-buttons slot="buttons">
              <ion-button (click)="reset()"
                >{{language.DatePicker.reset}}</ion-button
              >
              <ion-button (click)="confirm()"
                >{{language.DatePicker.confirm}}</ion-button
              >
            </ion-buttons>
          </ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-col>
    <ion-col class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item class="lightBlue-shadow">
          <button class="search-submit primary-bg">
            <ion-icon name="search-outline"></ion-icon>
          </button>
          <ion-select multiple="true" interface="popover">
            <ion-select-option value="esfahan">ESFAHAN</ion-select-option>
            <ion-select-option value="rasht">RASHT</ion-select-option>
            <ion-select-option value="tehran">TEHRAN</ion-select-option>
            <ion-select-option value="karaj">KARAJ</ion-select-option>
            <ion-select-option value="shiraz">SHIRAZ</ion-select-option>
          </ion-select>
          <span class="search-icon">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </span>
        </ion-item>
      </ion-row>
    </ion-col>
    <ion-col>
      <table>
        <thead class="table-head">
          <tr class="table-head-content">
            <th>Name</th>
            <th>Route</th>
            <th>Out</th>
            <th>In</th>
            <th>First</th>
            <th>Last</th>
            <th>Vol</th>
            <th>Pl</th>
            <th>Pl&Inv</th>
            <th>OOR</th>
          </tr>
        </thead>
        <tbody
          *ngFor="let mockData of dailyStatusData;let i = index;"
          [ngClass]="{'oddRows' : 0 === i % 2}"
          class="table-body table-body-content"
        >
          <tr>
            <td class="table-body-icon">
              <ion-icon name="chevron-down-outline"></ion-icon>
              {{mockData.Name}}
            </td>
            <td>{{mockData.route}}</td>
            <td>{{mockData.out}}</td>
            <td>{{mockData.in}}</td>
            <td>{{mockData.first}}</td>
            <td>{{mockData.last}}</td>
            <td>{{mockData.vol}}</td>
            <td>{{mockData.pl}}</td>
            <td>{{mockData.PlInv}}</td>
            <td>{{mockData.OOr}}</td>
          </tr>
          <div class="table-detail">
            <div class="table-line-ver"></div>
            <div class="table-line-horiz"></div>
            <table class="lightBlue-shadow">
              <thead class="blue-bg">
                <th>Visitor</th>
                <th>Driver</th>
              </thead>
              <tbody>
                <td class="primary-bg">Ali Zardust</td>
                <td>Hosein Aghai</td>
              </tbody>
            </table>
          </div>
        </tbody>
      </table>
    </ion-col>
  </ion-col>

  <!-- ----------------------------------------------------------------------------- -->
  <!-- ----------------------------------------------------------------------------- -->
  <!-- ----------------------------------------------------------------------------- -->
  <ion-col *ngIf="selectedSegment == 'truck'">
    <ion-col>
      <!--  -->
      <ion-row class="date-picker-container">
        <ion-row class="date-picker-box">
          <label for="Date-picker">{{language.DatePicker.title}}</label>
          <ion-row class="date-picker lightBlue-shadow">
            <img src="\assets\pages\Max PPED\Group 1438.png" alt="" />
            <ion-col id="open-popover" class="ion-justify-content-end">
              {{dateNow | date:'yyyy/MM/dd'}}
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-row>
      <!--  -->
      <ion-popover trigger="open-popover" show-backdrop="false">
        <ng-template>
          <ion-datetime
            size="cover"
            showDefaultButtons="true"
            presentation="date"
          >
            <ion-buttons slot="buttons">
              <ion-button (click)="reset()"
                >{{language.DatePicker.reset}}</ion-button
              >
              <ion-button (click)="confirm()"
                >{{language.DatePicker.confirm}}</ion-button
              >
            </ion-buttons>
          </ion-datetime>
        </ng-template>
      </ion-popover>
      <!--  -->
    </ion-col>
    <ion-col class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item class="lightBlue-shadow">
          <button class="search-submit primary-bg">
            <ion-icon name="search-outline"></ion-icon>
          </button>
          <ion-select multiple="true" interface="popover">
            <ion-select-option value="esfahan">ESFAHAN</ion-select-option>
            <ion-select-option value="rasht">RASHT</ion-select-option>
            <ion-select-option value="tehran">TEHRAN</ion-select-option>
            <ion-select-option value="karaj">KARAJ</ion-select-option>
            <ion-select-option value="shiraz">SHIRAZ</ion-select-option>
          </ion-select>
          <span class="search-icon">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </span>
        </ion-item>
      </ion-row>
    </ion-col>
    <ion-col>
      <table class="truck-table">
        <th>0</th>
        <th>E</th>
        <th>m</th>
        <th>p</th>
        <th>t</th>
        <th>y</th>
      </table>
    </ion-col>
  </ion-col>
</ion-content>
