<ion-header>
  <ion-toolbar class="ion-no-padding">
    <ion-row [ngStyle]="{'background-color': sharedService.handleThemeColor()}" class=" ion-justify-content-between header ion-no-margin">
      <ion-col size="1" class="ion-align-self-center">
       <ion-buttons>
         <ion-back-button color="light" defaultHref="main"></ion-back-button>
       </ion-buttons>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="6" class="ion-text-center ion-align-self-center">
        <ion-title class="white-text">
          <h3><b>{{language.DailyStatus.Title}}</b></h3>
        </ion-title>
      </ion-col>
      <ion-col class="ion-align-self-center reload" size="1" (click)="refresh()">
        <ion-img class="" src="\assets\pages\customer-nearby\Group 1325.png">
        </ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center wifi" size="1">
        <ion-img *ngIf="isOnline"
          class="wifiOn"
          src="\assets\pages\Wifi\Internet On.png"
        ></ion-img>
        <ion-img *ngIf="!isOnline"
          class="wifiOn"
          src="\assets\pages\Wifi\Internet Off.png"
        ></ion-img>
      </ion-col>
    </ion-row>
    <!--  -->
  </ion-toolbar>
   <app-date></app-date>
  <ion-col class="ion-no-padding segment-change">
    <ion-segment mode="md" class="ion-justify-content-between" (ionChange)="segmentChanged($event)" value="tablet">
      <ion-segment-button  [style.--background-checked]="sharedService.handleThemeColor()" class="tablet" value="tablet">
        <ion-label>{{language.DailyStatus.Tablet}}</ion-label>
      </ion-segment-button>
      <ion-segment-button [style.--background-checked]="sharedService.handleThemeColor()"  class="truck" value="truck">
        <ion-label>{{language.DailyStatus.Truck}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-col>
</ion-header>
<!-- -------------------------------------------------------------------------------------------- -->
<ion-content class="ion-no-padding ion-no-margin">
  <ion-grid class="tablet-page  " *ngIf="selectedSegment == 'tablet'">
    <ion-grid>
      <ion-row class="date-picker-container">
        <ion-row class="date-picker-box">
          <label for="Date-picker">{{language.DatePicker.Title}}</label>
          <ion-row class="date-picker lightBlue-shadow">
            <img src="\assets\pages\Max PPED\Group 1438.png" alt="" />
            <ion-col id="open-popover" class="ion-justify-content-end">
              {{tabletDate | date:'yyyy/MM/dd'}}
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-row>
      <ion-popover trigger="open-popover" show-backdrop="false">
        <ng-template>
          <ion-datetime #tabletDateE [value]="tabletDate" (ionChange)="tabletDate = tabletDateE.value; tabletDateChanged(tabletDateE.value)"
            size="cover" showDefaultButtons="true" presentation="date">
            <ion-buttons slot="buttons">
              <ion-button (click)="tabletDateE.cancel(true)">{{language.DatePicker.reset}}</ion-button>
              <ion-button (click)="tabletDateE.confirm(true)">{{language.DatePicker.confirm}}</ion-button>
            </ion-buttons>
          </ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-grid>
    <ion-grid class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item class="lightBlue-shadow">
          <button class="search-submit"  [ngStyle]="{'background-color': sharedService.handleThemeColor()}" (click)="getCommutecityT(tabletDate)">
            <ion-icon name="search-outline"></ion-icon>
          </button>
          <ng-select *ngIf="tabletDropDown.length" [items]="tabletDropDown" [multiple]="true" bindLabel="itemName"
            groupBy="group" appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false"
            [closeOnSelect]="false" bindValue="itemName" [(ngModel)]="selectedTabletDc">

            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
            </ng-template>

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.itemName}}
            </ng-template>

          </ng-select>
          <span class="search-icon">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </span>
        </ion-item>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-grid class="maingrid-tablet ion-no-padding ">
        <div *ngFor="let row of virtual_rows_t; let i = index" [ngClass]="{'firstrow': i==0}">
          <ion-row>
            <ng-container *ngIf="i==0 && row.show && (row.type=='a' || row.type=='h')">
              <ion-col class="ion-justify-content-center ion-align-items-center" *ngFor="let item of commutes_t[row.index]; let j = index"
                [ngClass]="{'firstcolumn': j==0 && i!=0 ,'oddColumns' : 0 === j % 2 }">
                {{ item }}
              </ion-col>
            </ng-container>
          </ion-row>
        </div>

        <div class="tablet-table-body-container" >
          <div *ngFor="let row of virtual_rows_t; let i = index" [ngClass]="{'oddRows' : 3 === i % 4}" >
            <ion-row>
              <ng-container *ngIf="i!=0 &&row.show && (row.type=='a' || row.type=='h')">
                <ion-col class="ion-justify-content-center ion-align-items-center" *ngFor="let item of commutes_t[row.index]; let j = index"
                  [ngClass]="{'firstcolumn': j==0 && i!=0 , 'oddColumns' : 0 === j % 2 }">
                  {{ item }}
                </ion-col>
              </ng-container>
            </ion-row>
          </div>
        </div>
      </ion-grid>
    </ion-grid>
  </ion-grid>

  <!-- ----------------------------------------------------------------------------- -->
  <!-- ----------------------------------------------------------------------------- -->
  <!-- ----------------------------------------------------------------------------- -->
  <ion-grid *ngIf="selectedSegment == 'truck'">
    <ion-grid>
      <!--  -->
      <ion-row class="date-picker-container">
        <ion-row class="date-picker-box">
          <label for="Date-picker">{{language.DatePicker.Title}}</label>
          <ion-row class="date-picker lightBlue-shadow">
            <img src="\assets\pages\Max PPED\Group 1438.png" alt="" />
            <ion-col id="open-popover" class="ion-justify-content-end">
              {{truckDate | date:'yyyy/MM/dd'}}
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-row>
      <!--  -->
      <ion-popover trigger="open-popover" show-backdrop="false">
        <ng-template>
          <ion-datetime #truckDateE [value]="truckDate" (ionChange)="truckDate = truckDateE.value;truckDateChanged(truckDateE.value)"
            size="cover" showDefaultButtons="true" presentation="date">
            <ion-buttons slot="buttons">
              <ion-button (click)="truckDateE.cancel(true)">{{language.DatePicker.reset}}</ion-button>
              <ion-button (click)="truckDateE.confirm(true)">{{language.DatePicker.confirm}}</ion-button>
            </ion-buttons>
          </ion-datetime>
        </ng-template>
      </ion-popover>
      <!--  -->
    </ion-grid>
    <ion-grid class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item class="lightBlue-shadow">
          <button class="search-submit"  [ngStyle]="{'background-color': sharedService.handleThemeColor()}" (click)="getCommutecity(truckDate)">
            <ion-icon name="search-outline"></ion-icon>
          </button>
          <ng-select *ngIf="truckDropDown.length" [items]="truckDropDown" [multiple]="true" bindLabel="itemName"
            groupBy="group" appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false"
            [closeOnSelect]="false" bindValue="itemName" [(ngModel)]="selectedTruckDc">

            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
            </ng-template>

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.itemName}}
            </ng-template>

          </ng-select>
          <span class="search-icon">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </span>
        </ion-item>
      </ion-row>
    </ion-grid>
    <ion-grid class="truck-table">
        <div *ngFor="let row of virtual_rows; let i = index" 
        [ngClass]="{'firstrow': i==0 , 'oddRows': 0 === i % 2}">
          <ion-row>
            <ng-container *ngIf="i==0 && row.show && (row.type=='a' || row.type=='h')">
              <ion-col class="ion-justify-content-center ion-align-items-center" *ngFor="let item of commutes[row.index]; let j = index"
              [ngClass]="{'firstcolumn': j==0 && i!=0 ,'oddColumns' : 0 === j % 2 }">
              {{ item }}
              </ion-col>
            </ng-container>
          </ion-row>
        </div>
        <div class="tablet-table-body-container">
          <div *ngFor="let row of virtual_rows; let i = index" >
            <ion-row>
              <ng-container *ngIf="i!=0 &&row.show && (row.type=='a' || row.type=='h')">

                <ion-col class="ion-justify-content-center ion-align-items-center"
                 *ngFor="let item of commutes[row.index]; let j = index"
                 [ngClass]="{'firstcolumn': j==0 && i!=0 , 'oddColumns' : 0 === j % 2 }">
                 {{ item }}
                </ion-col>

              </ng-container>

            </ion-row>
          </div>
        </div>
      </ion-grid>
    
  </ion-grid>
</ion-content>