ion-toolbar{
    --background: #0095EB;
    --color: var(--ion-color-light);
}

ion-content{
    --background:  #0095EB ;
    --color: var(--ion-color-light);
}

ion-title{
    height: 100%;
}

.back-button{
    max-width: 20px;
}

ion-row.select-theme{
    margin: 20vh 0 10vh;
    ion-radio-group{
        width: 100%;
        display: flex;
        justify-content: center;
  
        ion-col{
            display: flex;
            align-items: center;
            flex-direction: column;
            &.light-theme,
            &.dark-theme{
                h3{
                    color: #205172;
                }

            }

        }

        ion-radio{
        margin-right: 1rem;
        --color:var(--color-checked);
        --color-checked:#205172;
        background: var(--ion-color-light);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        }
        &>ion-item{
            font-size: 1rem;
        }
        
        ion-img{
            max-width: 3rem;
        }
    }
}
ion-row.theme-options{
    margin-bottom: 10vh;
    ion-col{
        margin-bottom: .5rem;
        width: 80%;
        ion-item{
            background: var(--ion-color-light);
            border-radius: 10px;
             // font-weight: bold;
            ion-col.option-label{
                padding: 2rem 0;
                font-size: 1.3rem;
                 // font-weight: bold;
                color:#205172 ;
            }
        }

    }

    ion-item.setting-box{
       ion-col.option-options{
           display: flex;
       }
    }

    ion-toggle{
        --background: var(--ion-color-light);
        --background-checked: #205172;
        --handle-background:var(--ion-color-light);
        --handle-background-checked:var(--ion-color-light);
    }
}

ion-row.theme-colors{
    height: 20vh;
    background: var(--ion-color-light);
    ion-col.theme-colors-label{
        display: flex;
        font-size: 1.6rem;
      //  font-weight: 600;
        color: #205172;
    }
    ion-col.theme-colors-colors{
        display: flex;
      .green{
          border-radius: 50%;
          margin-right: 1.5rem;
          width: 30px;
          height: 30px;
          background: #55c595;
      }
      .yellow{
          border-radius: 50%;
          margin-right: 1.5rem;
          width: 30px;
          height: 30px;
          background: #facb01;
      }
      .red{
          border-radius: 50%;
          margin-right: 1.5rem;
          width: 30px;
          height: 30px;
          background: #fe7376;
      }
      .purple{
          border-radius: 50%;
          margin-right: 1.5rem;
          width: 30px;
          height: 30px;
          background: #7495fe;
      }
      .blue{
          border-radius: 50%;
          width: 30px;
          height: 30px;
          background: #62ebfe;
      }
    }
}
