<ion-header>
  <ion-toolbar>
    <ion-row class="primary-bg ion-justify-content-between header ion-no-margin">
      <ion-col size="1" class="ion-align-self-center">
        <ion-button fill="clear" routerLink="/main">
          <ion-img class="back-button ion-justfy-self-start ion-align-self-cente"
            src="assets\pages\customer-history\Backward arrow.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="9" class="ion-text-center ion-align-self-center">
        <ion-title class="white-text">
          <h3><b>{{language.Salesmen_Location.Title}}</b></h3>
        </ion-title>
      </ion-col>
      <ion-col class="ion-align-self-center hide" size="1" (click)="show = !show" [ngClass]="{'show-content': show}">
        <ion-img id="trigger-hide" class="hide" src="\assets\pages\customer-nearby\Hide.png">
        </ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center wifi" size="1">
        <ion-img *ngIf="isOnline" class="wifiOn" src="\assets\pages\Wifi\Internet On.png"></ion-img>
        <ion-img *ngIf="!isOnline" class="wifiOn" src="\assets\pages\Wifi\Internet Off.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-grid class="secondary-bg white-text">
      <ion-row class="ion-justify-content-between">
        <ion-col size="3" class="ion-no-padding ion-text-start">
          2022.04.02
        </ion-col>
        <ion-col size="3" class="ion-no-padding ion-text-center">
          Saturday
        </ion-col>
        <ion-col size="3" class="ion-no-padding ion-text-end">
          13 فروردین
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="show">
    <!-- <form [formGroup]="form"> -->
    <ion-row *ngIf="f.accessTime.value">
      <ion-row class="date-picker-container">
        <ion-row class="date-picker-box">
          <label for="Date-picker">{{language.DatePicker.title}}</label>
          <ion-row class="date-picker lightBlue-shadow">
            <img src="\assets\pages\Max PPED\Group 1438.png" alt="" />
            <ion-col id="open-popover" class="ion-justify-content-end">
              {{selectedDate | date:'yyyy/MM/dd'}}
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-row>
      <ion-popover trigger="open-popover" show-backdrop="false">
        <ng-template>
          <ion-datetime #date [value]="selectedDate" (ionChange)="selectedDate = date.value; dateChanged()"
            presentation="date">
            <ion-buttons slot="buttons">
              <ion-button (click)="date.cancel(true)">{{language.DatePicker.reset}}</ion-button>
              <ion-button (click)="date.confirm(true)">{{language.DatePicker.confirm}}</ion-button>
            </ion-buttons>
          </ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-row>
    <ion-row class="salesmen-location-container">
      <div class="salesmen-location-box" *ngIf="f.accessRsm.value">
        <ion-item class="salesmen-location ion-no-padding lightBlue-shadow">
          <ion-item>
            <ion-button class="btn-search primary-bg">
              <ion-icon name="search-outline"></ion-icon>
            </ion-button>
            <ion-img src="\assets\pages\salesmen-location\RSM.png"></ion-img>
            <ion-item>
              <ng-select *ngIf="rsms.length" [items]="rsms" [multiple]="true" bindLabel="FullName" groupBy="group"
                appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="false"
                bindValue="id" [(ngModel)]="selectedRsm" (change)="loadAsms(true,selectedRsm)">

                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
                </ng-template>

                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.FullName}}
                </ng-template>

              </ng-select>
            </ion-item>
            <ion-checkbox mode="ios"></ion-checkbox>
          </ion-item>

        </ion-item>
      </div>
      <div class="salesmen-location-box" *ngIf="f.accessAsm.value">
        <ion-item class="salesmen-location ion-no-padding  lightBlue-shadow">
          <ion-item class=" ion-justify-content-between ion-align-items-center ">
            <ion-button class="btn-search primary-bg">
              <ion-icon name="search-outline"></ion-icon>
            </ion-button>
            <ion-img src="\assets\pages\salesmen-location\RSM-1.png"></ion-img>
            <ion-item>
              <ng-select *ngIf="asms.length" [items]="asms" [multiple]="true" bindLabel="FullName" groupBy="group"
                appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="false"
                bindValue="id" [(ngModel)]="selectedAsm" (change)="loadSsvs(true,selectedAsm)">

                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
                </ng-template>

                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.FullName}}
                </ng-template>

              </ng-select>
            </ion-item>
            <ion-checkbox mode="ios"></ion-checkbox>
          </ion-item>

        </ion-item>
      </div>
      <div class="salesmen-location-box" *ngIf="f.accessSsv.value">
        <ion-item class="salesmen-location ion-no-padding lightBlue-shadow">
          <ion-item>
            <ion-button class="btn-search primary-bg">
              <ion-icon name="search-outline"></ion-icon>
            </ion-button>
            <ion-img src="\assets\pages\salesmen-location\RSM-2.png"></ion-img>
            <ion-item>
              <ng-select *ngIf="ssvs.length" [items]="ssvs" [multiple]="true" bindLabel="FullName" groupBy="group"
                appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="false"
                bindValue="id" [(ngModel)]="selectedSsv" (change)="loadSrs(true,selectedSsv)">

                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
                </ng-template>

                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.FullName}}
                </ng-template>

              </ng-select>
            </ion-item>
            <ion-checkbox mode="ios"></ion-checkbox>
          </ion-item>

        </ion-item>
      </div>
      <div class="salesmen-location-box" *ngIf="f.accessSr.value">
        <ion-item class="salesmen-location ion-no-padding lightBlue-shadow">
          <ion-item>
            <ion-button class="btn-search primary-bg">
              <ion-icon name="search-outline"></ion-icon>
            </ion-button>
            <ion-img src="\assets\pages\salesmen-location\RSM-3.png"></ion-img>
            <ion-item>
              <ng-select *ngIf="srs.length" [items]="srs" [multiple]="true" bindLabel="FullName" groupBy="group"
                appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="false"
                bindValue="id" [(ngModel)]="selectedSr" (change)="loadSrs(false,selectedSr)">

                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
                </ng-template>

                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.FullName}}
                </ng-template>

              </ng-select>
            </ion-item>
            <ion-checkbox mode="ios"></ion-checkbox>
          </ion-item>

        </ion-item>
      </div>
    </ion-row>
    <!-- </form> -->
  </ion-grid>
  <div [ngStyle]="{display: !show ? 'block' : 'none'}">
    <div *ngIf="showMap" style="width: 100vw; height: 100vh">
      <app-map [showMap]="showMap" [markers]="markers"></app-map>
    </div>
  </div>
</ion-content>