

.back-button {
    max-width: 20px;
    min-width: 20px;
}
.hide{
    // max-width: 30px;
    min-width: 40px;
    margin-right: .1rem;
}
.wifi{
    min-width: 50px;
    margin-left: .1rem;

}
title{
    width: 100%;
}

ion-title{
    width: 100%;
    h3{
        font-size: 4vw;
        width: 100%;

    }
}

ion-popover.hide-drop-down{
    --max-width:10rem;
    --offset-x:-10vw;
    --offset-y:1vh;

    .first{
        --padding-top: 1rem ;

    }
    ion-content{
        --color:#005b90;
        font-weight: bold;
        --padding-top: .9rem ;
        --padding-bottom: .3rem ;
        --padding-start: 1.7rem ;
        &:hover{
            --background:#0095EB;
        }
        &:focus{
            background: none;
        }

    }
}

// ion-col.input-select{
// ion-row{
//     display: flex;
//     justify-content: center;
//     margin-bottom: 1rem;
//     width: 100%;
//     .select-input-container{
        
//         width:75vw;
//         border-radius: 50px;
//         box-shadow: 5px 8px 16px 0 #e3f6ff, 0 6px 20px 0 #E6F5FC ;
//         .select-input{
//             border-radius: 50px;
//             width: 98%;
//             border: none;
//             height: 5rem;
//             padding-left: .5rem;
//             padding-right: 1rem;
//             .input-select-label{
//                 border-bottom: 2px dashed #000;
//                 padding: 1rem;
//             }
//         }
//         select:focus{
//             border: none;
//             outline: none;
//         }
//     }
// }
// }
ion-col{
    .date-picker-container{
        width: 100vw;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 5rem 0;
        .date-picker-box{
        // padding: 5rem 0;
        width: 90vw;
        height: 90%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        border: 1px solid #a9a9a9;
        border-radius: 10px;
        padding-top: 1rem;
        label{
            font-size: 1.5rem;
            color: #cfcfcf;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        .date-picker{
            height: 6rem;
            width: 80vw;
            display: flex;
            justify-content: space-between;
            border-radius: 20px;
            align-items: center;
            // padding: 1rem 2rem 1rem 0 ;
            padding-right: 2rem;
            box-shadow: 5px 8px 16px 0 #e3f6ff, 0 6px 20px 0 #E6F5FC ;

            img{
                max-height: 100%;
                max-width: 100%;
            }
            >div{
                color: #0095EB;
                font-size: 1.5rem;
                font-weight: bold;
                ion-icon{
                    color: #a9a9a9;
                    padding-left: 1rem;

                }
            }
        }
        }
    }
    ion-modal{
        --background: red;
        .ion-page{
            --width: 2rem;
        }
        ion-buttons{
            --background: red;
        }
    }
}






.salesmen-location-box{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    .salesmen-location{
        width: 80vw;
        height: 5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 50px;
        box-shadow: 5px 8px 16px 0 #e3f6ff, 0 6px 20px 0 #E6F5FC ;
       &.disabled{
           color: #a9a9a9;
       }
        >img{
            max-width: 50px;
        }
        div{
            display: flex;
            align-items: center;
            ion-icon{
                color:#a9a9a9;
                padding-right: 1rem;
            }
            >img{
                max-width: 30px;
            }
            
        }


    }
}

@media (min-width: 991px) {
    ion-col{
        .date-picker-container{
            width: 70vw;
    
            .date-picker-box{
                width: 68vw;
                .date-picker{
                    width: 60vw;
                }
            }
        }

    }
    ion-col{
        .salesmen-location-box{
            width: 70vw;
            .salesmen-location{
            width: 60vw;
            }
        }
    }
}