<ion-header>
  <ion-toolbar>
    <ion-row class="ion-justify-content-between header ion-no-margin">
      <ion-col size="1" class="ion-align-self-center">
        <ion-button fill="clear" routerLink="/main">
          <ion-img
            class="back-button ion-justfy-self-start ion-align-self-cente"
            src="assets\pages\customer-history\Backward arrow.png"
          ></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-title>
          <h3><b>{{language.News.Title}}</b></h3>
        </ion-title>
      </ion-col>
      <ion-col class="ion-align-self-center wifi" size="1">
        <ion-img
          class="wifi-online"
          src="assets/mainPage/main/wifi.png"
        ></ion-img>
      </ion-col>
    </ion-row>
    <ion-grid class="secondary-bg white-text">
      <ion-row class="ion-justify-content-between">
        <ion-col size="3" class="ion-no-padding ion-text-start">
          2022.04.02
        </ion-col>
        <ion-col size="3" class="ion-no-padding ion-text-center">
          Saturday
        </ion-col>
        <ion-col size="3" class="ion-no-padding ion-text-end">
          13 فروردین
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="addNotification()"> <!-- routerLink="/add-item"-->
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-col class="">
    <h4>Lorem, ipsum dolor sit amet elit.</h4>
  </ion-col>
  <ion-col class="card">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card class="add">
          <button class="btn-edit" *ngIf="hasAccess">
            <img src="\assets\pages\notifications\Group 1298.png" alt="" />
          </button>
          <button class="btn-delete" *ngIf="hasAccess">
            <img src="\assets\pages\notifications\Group 1299.png" alt="" />
          </button>
          <ion-card-header>
            <img src="\assets\pages\notifications\Card-img.png" alt="" />
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="add">
          <ion-card-header>
            <button class="btn-edit" *ngIf="hasAccess">
              <img src="\assets\pages\notifications\Group 1298.png" alt="" />
            </button>
            <button class="btn-delete" *ngIf="hasAccess">
              <img src="\assets\pages\notifications\Group 1299.png" alt="" />
            </button>
            <img src="\assets\pages\notifications\Card-img.png" alt="" />
          </ion-card-header>
          <ion-card-content
            class="ion-align-items-center ion-justify-content-center"
          >
            Lorem ipsum, dolor sit amet consectetur adipisicing.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="add">
          <ion-card-header>
            <button class="btn-edit" *ngIf="hasAccess">
              <img src="\assets\pages\notifications\Group 1298.png" alt="" />
            </button>
            <button class="btn-delete" *ngIf="hasAccess">
              <img src="\assets\pages\notifications\Group 1299.png" alt="" />
            </button>
            <img src="\assets\pages\notifications\Card-img.png" alt="" />
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing.
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-col>
  <ion-col class="notifications">
    <ion-card *ngFor="let news of all_news">
      <h2>
        <ion-label>{{news.title}}</ion-label>
      </h2>
      <button id="open-modal" class="btn-edit" *ngIf="hasAccess">
        <img src="\assets\pages\notifications\Group 1298.png" alt="" />
      </button>
      <button class="btn-delete" *ngIf="hasAccess">
        <img src="\assets\pages\notifications\Group 1299.png" alt="" />
      </button>
      <ion-card-content
        class="ion-align-items-center ion-justify-content-between"
      >
        <h4>
         {{news.text}}
        </h4>
        <img src="\assets\pages\notifications\notification-img.png" alt="" />
      </ion-card-content>
      <p class="time-posted">1h ago</p>
    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title class="ion-text-center" >Edit</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()">Confirm</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-list>
            <ion-item>
            <ion-grid >
              <ion-row>
                <ion-col size="12">
                  <ion-label>Edit Text</ion-label>
                  </ion-col>
                <ion-col size="12">
                  <ion-input placeholder="Enter Text..."></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
            
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-card>

  </ion-col>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="language.News.Loading">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
