<ion-header>
  <ion-toolbar>
    <ion-row [ngStyle]="{'background-color': sharedService.handleThemeColor()}" class="ion-justify-content-between header ion-no-margin">
      <ion-col size="1" class="ion-align-self-center">
        <ion-buttons routerLink="/main">
            <ion-img class="back-button" src="\assets\pages\Backward arrow.png"></ion-img>
        </ion-buttons>
      </ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-title>
          <h3><b>{{language.News.Title}}</b></h3>
        </ion-title>
      </ion-col>
      <ion-col class="ion-align-self-center wifi" size="1">
        <ion-img *ngIf="isOnline"
          class="wifiOn"
          src="\assets\pages\Wifi\Internet On.png"
        ></ion-img>
        <ion-img *ngIf="!isOnline"
          class="wifiOff"
          src="\assets\pages\Wifi\Internet Off.png"
        ></ion-img>
      </ion-col>
    </ion-row>
        <app-date></app-date>

  </ion-toolbar>
</ion-header>

<ion-content  [ngStyle]="{'direction' : sharedService.get_direction()}" [style.--background]="sharedService.handleThemeColor()" [style.--color]="sharedService.handleColor()">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="addNotification()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-col class="">
    <h4></h4>
  </ion-col>
  <!-- <ion-col class="card">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card class="add">
          <button class="btn-edit" *ngIf="hasAccess">
            <img src="\assets\pages\notifications\Group 1298.png" alt="" />
          </button>
          <button class="btn-delete" *ngIf="hasAccess">
            <img src="\assets\pages\notifications\Group 1299.png" alt="" />
          </button>
          <ion-card-header>
            <img src="\assets\pages\notifications\Card-img.png" alt="" />
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="add">
          <ion-card-header>
            <button class="btn-edit" *ngIf="hasAccess">
              <img src="\assets\pages\notifications\Group 1298.png" alt="" />
            </button>
            <button class="btn-delete" *ngIf="hasAccess">
              <img src="\assets\pages\notifications\Group 1299.png" alt="" />
            </button>
            <img src="\assets\pages\notifications\Card-img.png" alt="" />
          </ion-card-header>
          <ion-card-content
            class="ion-align-items-center ion-justify-content-center"
          >
            Lorem ipsum, dolor sit amet consectetur adipisicing.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="add">
          <ion-card-header>
            <button class="btn-edit" *ngIf="hasAccess">
              <img src="\assets\pages\notifications\Group 1298.png" alt="" />
            </button>
            <button class="btn-delete" *ngIf="hasAccess">
              <img src="\assets\pages\notifications\Group 1299.png" alt="" />
            </button>
            <img src="\assets\pages\notifications\Card-img.png" alt="" />
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing.
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-col> -->
  <ion-col class="notifications">
    <ion-card    
    *ngFor="let news of all_news">
      <h2>
        <ion-label>{{news.title}}</ion-label>
      </h2>
      <button class="btn-edit" *ngIf="hasAccess" (click)="editNews(news)">
        <img src="\assets\pages\notifications\Group 1298.png" alt="" />
      </button>
      <button class="btn-delete" *ngIf="hasAccess">
        <img src="\assets\pages\notifications\Group 1299.png" alt="" />
      </button>
      <ion-card-content
        class="ion-align-items-center ion-justify-content-end"
      >
        <h4>
         {{news.text}}
        </h4>
        <img src="" alt="" />
      </ion-card-content>
      <p class="time-posted"></p>

    
  </ion-card>

  </ion-col>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="language.News.Loading">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
