<ion-header>
  <ion-toolbar>
    <ion-row class="ion-justify-content-between header ion-no-margin">
      <ion-col size="1" class="ion-align-self-center">
        <ion-button fill="clear" (click)="backButton()">
          <ion-img
            class="back-button ion-justfy-self-start ion-align-self-cente"
            src="assets\pages\customer-history\Backward arrow.png"
          ></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-title>
          <h3><b>Notifications</b></h3>
        </ion-title>
      </ion-col>
      <ion-col class="ion-align-self-center wifi" size="1">
        <ion-img
          class="wifi-online"
          src="assets/mainPage/main/wifi.png"
        ></ion-img>
      </ion-col>
    </ion-row>
    <ion-grid class="secondary-bg white-text">
      <ion-row class="ion-justify-content-between">
        <ion-col size="3" class="ion-no-padding ion-text-start">
          2022.04.02
        </ion-col>
        <ion-col size="3" class="ion-no-padding ion-text-center">
          Saturday
        </ion-col>
        <ion-col size="3" class="ion-no-padding ion-text-end">
          13 فروردین
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-col class="">
    <h4>Lorem, ipsum dolor sit amet elit.</h4>
  </ion-col>
  <ion-col class="card">
    <!-- <img src="\assets\pages\notifications\Card.png" alt="" /> -->
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card class="add">
          <ion-card-header>
            <button class="btn-edit">
              <img src="\assets\pages\notifications\Group 1298.png" alt="" />
            </button>
            <button class="btn-delete">
              <img src="\assets\pages\notifications\Group 1299.png" alt="" />
            </button>
            <img src="\assets\pages\notifications\Card.png" alt="" />
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="add">
          <ion-card-header>
            <button class="btn-edit">
              <img src="\assets\pages\notifications\Group 1298.png" alt="" />
            </button>
            <button class="btn-delete">
              <img src="\assets\pages\notifications\Group 1299.png" alt="" />
            </button>
            <img src="\assets\pages\notifications\Card.png" alt="" />
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="add">
          <ion-card-header>
            <button class="btn-edit">
              <img src="\assets\pages\notifications\Group 1298.png" alt="" />
            </button>
            <button class="btn-delete">
              <img src="\assets\pages\notifications\Group 1299.png" alt="" />
            </button>
            <img src="\assets\pages\notifications\Card.png" alt="" />
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing.
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-col>
  <ion-col class="notifications">
    <ion-card>
      <button class="btn-edit">
        <img src="\assets\pages\notifications\Group 1298.png" alt="" />
      </button>
      <button class="btn-delete">
        <img src="\assets\pages\notifications\Group 1299.png" alt="" />
      </button>
      <ion-card-content>
        <h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
          doloribus?
        </h4>
        <img src="\assets\pages\notifications\notification-img.png" alt="" />
      </ion-card-content>
      <p class="time-posted">1h ago</p>
    </ion-card>
    <ion-card>
      <button class="btn-edit">
        <img src="\assets\pages\notifications\Group 1298.png" alt="" />
      </button>
      <button class="btn-delete">
        <img src="\assets\pages\notifications\Group 1299.png" alt="" />
      </button>
      <ion-card-content>
        <h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
          doloribus?
        </h4>
        <img src="\assets\pages\notifications\notification-img.png" alt="" />
      </ion-card-content>
      <p class="time-posted">1h ago</p>
    </ion-card>
  </ion-col>
</ion-content>
