ion-toolbar {
    --background: #0095EB;
    --color: #fff;
}

ion-img.back-button{
    width: 20px;
    z-index: 2;
}
ion-img.wifi-online{
    width: 7vw;

    // width: 100px;
    // width: 20%;
}
ion-col.wifi{
    margin-right: 4vw;
}


ion-title {
    height: 100%;
    h3{
        font-size: 4vw;
    }
}

ion-input{
    --padding-start : 5vw;
    --placeholder-color : #b9b9b9;
    --background : #fff
}

ion-content{
    --background: #0095EB;
}

ion-slides {
    height: 80vw;
  }

ion-col{
    display: flex;
    justify-content: center;
    h4{
        color: #fff;

    }
}



// -----card----------

// use the img
// ion-col.card{
//     width: 100vw;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     img{
//         width: 90vw;
//     }
// }
//  or card
ion-col.card{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-card{
            background: red;
            height: 60vw;
            // width: 90vw;
            border-radius: 30px 30px 0 0;
            ion-card-header{
                img{
                    // max-width: 100%;
                    height: 40%;
                }
                .btn-delete{
                    position: absolute;
                    right: 1px;
                    background: none;
                    border-radius: 50%;
                    width:50px;
                    z-index: 2;
                }
                .btn-edit{
                    position: absolute;
                    background: none;
                    border-radius: 50%;
                    width:50px;
                    z-index: 2;
                }
            }
        }

}

ion-col.notifications{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    ion-card{
        max-height: 12rem;
        width: 90vw;
        .btn-delete{
            position: absolute;
            right: 1px;
            background: none;
            border-radius: 50%;
            width:50px;
            z-index: 2;
            padding-top: 1rem;
        }
        .btn-edit{
            position: absolute;
            background: none;
            border-radius: 50%;
            width:50px;
            z-index: 2;
            padding-top: 1rem;
        }
        p{
            color: #0095EB;
            padding-left: 1rem;
        }
        ion-card-content{
            padding: 2rem 4rem .5rem;
            display: flex;
            align-items: center;
            padding-left:10vw ;
            h4{
                color: #07073f;
                font-size: 1.4rem;
                font-weight: bold;
            }
            img{
                max-width: 100px;
                border-radius: 10px;
            }
        }
    }
}


// // adds
// ion-col.adds{
//     width: 100vw;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 10vh;
//     background: #b9b9b9;
// }