<ion-header>
  <ion-toolbar class="ion-no-padding">
    <ion-row
      class="primary-bg ion-justify-content-between header ion-no-margin"
    >
      <ion-col size="1" class="ion-align-self-center">
        <ion-button fill="clear" routerLink="/main">
          <ion-img
            class="back-button ion-justfy-self-start ion-align-self-cente"
            src="assets\pages\customer-history\Backward arrow.png"
          ></ion-img>
        </ion-button>
      </ion-col>
      <ion-col></ion-col>

      <ion-col size="8" class="ion-text-center ion-align-self-center">
        <ion-title class="white-text">
          <h3><b>{{language.Online_Sales_Hourly.Title}}</b></h3>
        </ion-title>
      </ion-col>
      <ion-col class="ion-align-self-center reload" size="1">
        <ion-img class="" src="\assets\pages\customer-nearby\Group 1325.png">
        </ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center wifi" size="1">
        <ion-img
          class="wifi-online"
          src="\assets\mainPage\main\wifi.png"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-grid class="secondary-bg white-text">
    <ion-row class="ion-justify-content-between">
      <ion-col size="3" class="ion-no-padding ion-text-start">
        2022.04.02
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-center">
        Saturday
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-end">
        13 فروردین
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item class="lightBlue-shadow">
          <button class="search-submit primary-bg">
            <ion-icon name="search-outline"></ion-icon>
          </button>
          <ion-select multiple="true" interface="popover">
            <ion-select-option value="esfahan">SELECT ALL</ion-select-option>
            <ion-select-option value="esfahan">ESFAHAN</ion-select-option>
            <ion-select-option value="rasht">RASHT</ion-select-option>
            <ion-select-option value="tehran">TEHRAN</ion-select-option>
            <ion-select-option value="karaj">KARAJ</ion-select-option>
            <ion-select-option value="shiraz">SHIRAZ</ion-select-option>
          </ion-select>
          <span class="search-icon">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </span>
        </ion-item>
      </ion-row>
    </ion-col>
  </ion-row>
  <!-- -----------------------table -->
  <ion-row>
    <ion-col class="ion-no-padding table-container">
      <table>
        <thead>
          <th class="route"><span>Route</span></th>
          <th>SSV</th>
          <th>ASM</th>
          <th>RR_LY</th>
          <th>Stat</th>
          <th>H16_5Diff</th>
          <th>vs16</th>
          <th>H16</th>
          <th>H16Diff</th>
          <th>vs15_5</th>
          <th>H15_5</th>
          <th>H15_5Diff</th>
          <th>vs15</th>
        </thead>
        <tbody
          *ngFor="let data of compare; let i= index"
          [ngClass]="{'oddRows' : 0 === i % 2 }"
        >
          <tr>
            <td class="table-darker-bg">
              <ion-icon name="chevron-down-outline"></ion-icon> {{data.route}}
            </td>
            <td>{{data.H8}}</td>
            <td>{{data.H9}}</td>
            <td>{{data.H10}}</td>
            <td>{{data.H11}}</td>
            <td>{{data.H12}}</td>
            <td>{{data.H13}}</td>
            <td>{{data.H14}}</td>
            <td>{{data.H15}}</td>
            <td>{{data.H16}}</td>
            <td>{{data.H17}}</td>
            <td>{{data.total}}</td>
          </tr>
          <div *ngIf="nestedTableIsShowingRow" class="routeDetails">
            <div
              class="routeDetail ion-align-items-center ion-justify-content-center"
            >
              {{data.route}} => person
            </div>
          </div>
        </tbody>
      </table>
    </ion-col>
  </ion-row>
</ion-content>
