.table-lightblue-bg{
    background: #bce2fe;
}

ion-item{
    --background: var(--ion-color-light);
}

ion-toolbar{
    ion-img{
        max-width: 80px;
        min-width: 30px; 
    }

    .back-button{
        min-width:15px;
    }
}



// -----segment change---------
ion-col.segment-change{
    --height: 3rem;
    ion-segment{
        border-bottom: 2px solid  #0095eb ;
        ion-segment-button{
            --background-checked: #0095eb;
            --indicator-color:var(--ion-color-dark);
            --indicator-height:	10px;	
            padding:.5rem 0;
            width: 100%;
           
            ion-label{
                font-size: 3vw;
                font-weight: bold;
                color: #b9b9b9;
                &:checked{
                    color: var(--ion-color-light);
                }
            }
        }
    }
}




// -------date picker

ion-col{
    .date-picker-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .date-picker-box{
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #a9a9a9;
        border-radius: 10px;
        padding-top: 1rem;
        .date-picker{
            height: 6rem;
            width: 90%;
            display: flex;
            justify-content: space-between;
            border-radius: 20px;
            align-items: center;
            padding-right: 2rem;
            margin-bottom: 1rem;
            h4{
                color: #cfcfcf;
                margin-left: 1rem;
          
            }
            img{
                max-height: 100%;
                max-width: 100%;
            }
            >div{
                overflow: hidden;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color:  #0095EB;
                font-size: 1.5rem;
                font-weight: bold;
                ion-icon{
                    color: #a9a9a9;
                    padding-left: 1rem;

                }
            }
        }
        }
    }
}


// ----searchbar


.search-bar{
    .search-box{
        width: 90%;
        border: 1px solid var(--ion-color-dark);
        border-radius: 10px;
        padding: 2rem 0;
        margin: 3vh 4vw;
        &>ion-item{
            --background: none;
            --padding-start:0;
            width: 90%;
            border-radius: 10px;
            --border-width:0;
           ng-select{
               height: 10vh;
               width: 100%;
               overflow-y: auto;
           }
        }
        .search-submit{
            z-index: 2;
            width: 3rem;
            height: 100%;
            border-radius: 10px 0 0 10px;
            ion-icon{
                color: var(--ion-color-light);
                font-size: 1.5rem; 
            }
        }
        input::-webkit-input-placeholder{
            justify-self: center;
            align-self: center;
            color: #e5e5e5df;
        }
      
        .search{
            text-align: center;
            height: 5rem;
            width:75%;
            outline: none;
            border: none;
            border-radius: 0 10px 10px 0 ;
        }
        span{
            position: absolute;
            bottom: 5vh;
            right: 2vw;
        }
        ion-icon{
            color:#e5e5e5;
        
        }
    }
    }
// -------------table




table.table-container{
    text-align: center;
    width: 100vw;
    table-layout: fixed;
    table.table-header{
        table-layout: fixed;
        width: 100vw;
        th{
            height: 5vh;
            font-size: .8rem;
        }
        tr.header{
            .firstcolumn{
                width: 25vw;
                color: #0095eb;
            }
            &>:nth-child(3){
                width: 30vw;
            }
        }
    }
    tr.content-body{
        height: 50vh;
        overflow: scroll;
    }
    table.table-body{
        table-layout: fixed;
        width: 100vw;
        tr.body-content{
            td{
                height: 5vh;
            }
            .firstcolumn{
                width: 25vw;
               ion-icon{
                position: absolute;
                left: 0;
            }
            }
            &>:nth-child(3){
                width: 30vw;
            }

        }
    }
    tr.hidden-row{
    height: 15vh;
    background: var(--ion-color-light);
    }
    td.details{
        height: 15vh;
        position: absolute;
        padding-top: 2.5vh;    
        background: var(--ion-color-light);
    }
    table.table-header-details{
        width: 100vw;
        table.table-details-header{
            height: 100%;
            width: 90%;
            margin-left: 5vw;
            .details-header{
                height: 5vh;
                background: var(--ion-color-secondary-tint);
                th{
                    width: 50%;
                }
            }
        }
        .body-details{
            height:5vh ;
            width: 100vw;
            table.table-details-body{
                height: 100%;
                width: 90%;
                margin-left: 5vw;
                .details-body{
                    box-shadow: 5px 8px 8px 0 #00000017, 0 6px 20px 0 #00000017 ;
                    td{
                        width: 50%;
                    }
                    :first-child{
                        background: #0095eb;
                        color: var(--ion-color-light);
                    }
                }
            }

        }
    }
    
}


hr.hor-line{
    background: #0095eb;
    position: absolute;
    left: 0.6rem;
    width: 5vw;
    margin-top: 1rem;
}    
hr.ver-line{
    background: #0095eb;
    position: absolute;
    left: -2.7rem;
    width: 6.3rem;
    transform: rotate(90deg);
    margin-top: -1rem;
}   
// ------------------------------
ion-grid.maingrid{
    text-align: center;
    ion-col.col-route{
        overflow-wrap: anywhere;
        height: 8vh;
        font-size: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:first-child{
            max-width: 21%;
        }
        &:nth-child(3){
            max-width: 18%;
        }
        &:nth-child(4){
            max-width: 18%;
        }
        &:nth-child(5){
            max-width: 13%;
        }
        &:last-child{
            max-width: 10%;
        }
    }
    .r-body-content{
        height: 60vh;
        overflow: scroll;
        ion-grid.nested.table{
           background: var(--ion-color-light);
        }
    }
}
ion-col.nested-details{
    border: 1px solid #0095EB;
    width: 10vw;
}
.firstrow2{
    background: #0095eb;
}