.table-lightblue-bg{
    background: #bce2fe;
}

ion-item{
    --background: var(--ion-color-light);
}

ion-toolbar{
    ion-img{
        max-width: 80px;
        min-width: 30px; 
    }

    .back-button{
        min-width:15px;
    }
}



// -----segment change---------
ion-col.segment-change{
    --height: 3rem;
    ion-segment{
        border-bottom: 2px solid  #0095eb ;
        ion-segment-button{
            --background-checked: #0095eb;
            --indicator-color:var(--ion-color-dark);
            --indicator-height:	10px;	
            padding:.5rem 0;
            width: 100%;
           
            ion-label{
                font-size: 3vw;
                font-weight: bold;
                color: #b9b9b9;
                &:checked{
                    color: var(--ion-color-light);
                }
            }
        }
    }
}




// -------date picker

ion-col{
    .date-picker-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .date-picker-box{
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #a9a9a9;
        border-radius: 10px;
        padding-top: 1rem;
        .date-picker{
            height: 6rem;
            width: 90%;
            display: flex;
            justify-content: space-between;
            border-radius: 20px;
            align-items: center;
            padding-right: 2rem;
            margin-bottom: 1rem;
            h4{
                color: #cfcfcf;
                margin-left: 1rem;
          
            }
            img{
                max-height: 100%;
                max-width: 100%;
            }
            >div{
                overflow: hidden;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color:  var(--ion-color-primary);
                font-size: 1.5rem;
                font-weight: bold;
                ion-icon{
                    color: #a9a9a9;
                    padding-left: 1rem;

                }
            }
        }
        }
    }
}


// ----searchbar


.search-bar{
    .search-box{
        width: 90%;
        border: 1px solid var(--ion-color-dark);
        border-radius: 10px;
        padding: 2rem 0;
        margin: 3vh 4vw;
        &>ion-item{
            --background: none;
            --padding-start:0;
            width: 90%;
            border-radius: 10px;
            --border-width:0;
           ng-select{
               height: 10vh;
               width: 100%;
           }
        }
        .search-submit{
            z-index: 2;
            width: 3rem;
            height: 5rem;
            border-radius: 10px 0 0 10px;
            ion-icon{
                color: var(--ion-color-light);
                font-size: 1.5rem; 
            }
        }
        input::-webkit-input-placeholder{
            justify-self: center;
            align-self: center;
            color: #e5e5e5df;
        }
      
        .search{
            text-align: center;
            height: 5rem;
            width:75%;
            outline: none;
            border: none;
            border-radius: 0 10px 10px 0 ;
        }
        span{
            position: absolute;
            bottom: 5vh;
            right: 2vw;
        }
        ion-icon{
            color:#e5e5e5;
        
        }
    }
    }
// -------------table

// ion-col.table-container{
//     display: inline-block;
//     // overflow: scroll;
//     table.container-table{
//         // width: 160vw;
//         width: 100vw;
//         table-layout: fixed;
//         table.borderSet-header{
//             table-layout: fixed;
//             // width: 160vw;
//             width: 100vw;
//             th{
//                 font-size: .9rem;
//                 width: 7vw;
//                 height: 6vh;
//                 span{
//                     color: var(--ion-color-primary);
//                 }
//             }
//         }
//         tr.table-content{
//             overflow: scroll;
//             height: 50vh;

//         }
//         table.borderSet-body{
//             table-layout: fixed;
//             width: 100%;
//             tr{
//                 td.borderSet-detail{
//                     // width: 10vw;   
//                     max-width: 7vw;
//                     text-align: center;
//                     font-size: 1rem;
//                     height: 6vh;
//                 }
//             }
//             td.detailsContainer{
//                 background: var(--ion-color-light);
//                 height: 20vh;
//                 &>table{
//                     width: 90%;
//                     margin-left: 4.5vw;
//                     display: grid;
//                     box-shadow: 1px 3px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) ;
//                     justify-content: space-around;
//                 tr.skuhead{
//                     width: 90vw;
//                     display: flex;
//                     &.header{
//                         background: var(--ion-color-secondary-tint);
//                         height: 5vh;
                        
//                     }
//                     tr{
//                         font-size: 1rem;
//                         width: 90vw;
//                         display: flex;
                       

//                     }
//                 }
//                 }
//                 table.borderSet-detailsContainer{
//                     text-align: center;
//                     tr.details-header{
//                         background: red;
//                     }
//                     tr.details-content{
//                         background: blue;
//                     }
//                     td.visitor{
//                         width: 50%;
//                         padding: .5rem 0;
                        
//                     }
//                     td.driver{
//                         width: 50%;
//                         background: var(--ion-color-light);
//                         padding: .5rem 0;
//                     }
//                 }
//             }
//         }
//     }
// }

ion-col.table-container{
    display: inline-block;
    // overflow: scroll;
    table.container-table{
        // width: 160vw;
        table-layout: fixed;
        table.borderSet-header{
            table-layout: fixed;
            width: 100vw;
            th{
                font-size: 1rem;
                width: 60px;
                height: 10vh;
                span{
                    color: var(--ion-color-primary);
                }
            }
        }
        table.borderSet-body{
            // table-layout: fixed;
            width: 100%;
            tr.borderSet{
                td.borderSet-detail{
                    width: 15px;   
                    text-align: center;
                    font-size: .9rem;
                    height: 6vh;
                    &:nth-child(3){
                        background: red;
                        max-width: 20px;
                    }
                }
                .firstColumn{
                    width: 5vw;
                }
            }
            td.detailsContainer{
                height: 15vh;
                &>table{
                    height: 10vh;
                    width: 90%;
                    margin-left: 5vw;
                    display: grid;
                    box-shadow: 1px 3px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) ;

                    // grid-template-rows: 1fr 1fr;
                    justify-content: space-around;
                tr.skuhead{
                    width: 90vw;
                    &.header{
                        background: var(--ion-color-secondary-tint);
                        padding: .5rem 0;

                    }
                    tr{
                        font-size: 1.3rem;
                        width: 90vw;
                    display: flex;

                    }
                }
                }
                table.borderSet-detailsContainer{
                    text-align: center;
                    // font-size: 1.4rem;
                    
                    td.visitor{
                        width: 50%;
                        padding: .5rem 0;
                        
                    }
                    td.driver{
                        width: 50%;
                        background: var(--ion-color-light);
                        padding: .5rem 0;
                    }
                }
            }
        }
    }
}
