<ion-col class="search-bar">
  <ion-row class="search-box ion-justify-content-center">
    <ion-item class="box-shadow">
      <button class="search-submit primary-bg">
        <ion-icon name="search-outline"></ion-icon>
      </button>
      <ion-select multiple="true" interface="popover">
        <ion-select-option value="esfahan">ESFAHAN</ion-select-option>
        <ion-select-option value="rasht">RASHT</ion-select-option>
        <ion-select-option value="tehran">TEHRAN</ion-select-option>
        <ion-select-option value="karaj">KARAJ</ion-select-option>
        <ion-select-option value="shiraz">SHIRAZ</ion-select-option>
      </ion-select>
      <span class="search-icon">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </span>
    </ion-item>
  </ion-row>
</ion-col>
