
// to do 
// description details hover background

ion-toolbar ion-row{
    --background: var(--ion-color-light);
    --color: #0095EB;
}
ion-toolbar.ios{
    --ion-padding-bottom:0;
}

ion-content {
    --background: var(--ion-color-light);
    --color: #0095EB;
}



ion-title{
    width: 100%;
    font-size: 1.2rem;
    margin-left: 9vw;
}
ion-item{
    --background: var(--ion-color-light);
}

ion-input{
    --padding-start : 5vw;
    --placeholder-color : #b9b9b9;
    --background : var(--ion-color-light)
}

ion-img{

    width: 100%;
    min-width: 30px;    

}




ion-img .back-button.ios{
    min-width: 40px;
    max-width: 80px;
    margin-right: 3px;
}


ion-popover.header-drop-down{
    --backdrop-opacity:0;
    ion-content{
        cursor: pointer;
        font-size: 1.2rem;  
        &:hover{
            --background:#0095EB;
        }

    }
}



ion-popover.description-drop-down{
    --min-width: 64vw;
    --min-height: 22rem;
    --offset-x: 0vw;
    --offset-y: 1vh;
    >ion-content{
        font-size: 1.2rem;
        --color: var(--ion-color-dark);
        >div{
            border-bottom: 1px solid #b9b9b9aa;
            p{
                text-align: center;
            }
            img{
                position: absolute;
                left: 1rem;             
            }
        }
        img{
            max-width:3.5vw;
        }
        &:hover{
            --background:var(--ion-color-light);
        }
    }
    ion-content.header-input-popover-title{
        display: flex;
        justify-content: center;
        cursor:auto;
        --color:var(--ion-color-light) ;
        text-align: center;
        border-bottom: none;
         // font-weight: bold;
        --padding-start: 0 ;
        --padding-top: 1rem ;
        --padding-bottom: 1rem ;
        :hover{
            --background:none;
        }
        
    }
}
ion-popover.hide-drop-down{
    --max-width:10rem;
    --offset-x:-10vw;
    --offset-y:1vh;

    .first{
        --padding-top: 1rem ;

    }
    ion-content{
        --color:#005b90;
         // font-weight: bold;
        --padding-top: .9rem ;
        --padding-bottom: .3rem ;
        --padding-start: 1.7rem ;
        &:hover{
            --background:#0095EB;
        }

    }
}




.back-button {
    max-width: 20px;
    min-width: 20px;
    

}

ion-content.header-input-popover-title{
    cursor:auto;
    --color:var(--ion-color-dark) ;
    text-align: center;
    border-bottom: 2px dashed #8f8f8f;
     // font-weight: bold;
    --padding-start: 0 ;
    &:hover{
        --background:none;
    }
    
}


@media (max-width:700px) {
    ion-item.select-description{
        max-height: 25px;
        left: 0;

    }
}

@media (max-width:425px) {
    ion-popover.description-drop-down{     
        --min-width:85vw;
    }
}