<ion-header>
  <ion-toolbar class="ion-no-padding">
    <ion-row class="primary-bg">
      <ion-col size="1" class="ion-align-self-center">
        <ion-button fill="clear" (click)="backButton()">
          <ion-img
            class="back-button"
            src="assets\pages\customer-history\Backward arrow.png"
          ></ion-img>
        </ion-button>
      </ion-col>
      <!--  -->
      <ion-col sizeLg="7" class="ion-text-start ion-align-self-center">
        <ion-title
          class="ion-no-padding main-page-Title white-text ion-align-self-center"
          >Customer nearby
        </ion-title>
      </ion-col>
      <!--  -->
      <ion-col size="1" class="ion-align-self-center description">
        <ion-img
          id="trigger-desc"
          src="\assets\pages\customer-nearby\Description.png"
          alt=""
        ></ion-img>

        <ion-popover
          class="header-drop-down description-drop-down"
          trigger="trigger-desc"
        >
          <ng-template>
            <ion-content disabled class="header-input-popover-title"
              >Description</ion-content
            >
            <ion-content>
              <div value="normal-customer" class="">
                <img src="\assets\pages\customer-nearby\Green.png" alt="" />
                <p value="normal-customer">Normal Customer</p>
              </div>
            </ion-content>
            <ion-content>
              <div class="">
                <img src="\assets\pages\customer-nearby\Green-1.png" alt="" />
                <p>Promotion Customer</p>
              </div>
            </ion-content>
            <ion-content>
              <div class="">
                <img src="\assets\pages\customer-nearby\Path.png" alt="" />
                <p>PPED > 5%</p>
              </div>
            </ion-content>
            <ion-content>
              <div class="">
                <img src="\assets\pages\customer-nearby\Path 8119.png" alt="" />
                <p>NOT Buy 2 Weeks</p>
              </div>
            </ion-content>
            <ion-content>
              <div class="">
                <img
                  src="\assets\pages\customer-nearby\Group 1424.png"
                  alt=""
                />
                <p>Not Buy 2 Weeks & PPED > 5%</p>
              </div>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
      <!--  -->
      <ion-col size="1" class="ion-align-self-center reload">
        <img src="\assets\pages\customer-nearby\Group 1325.png" alt="" />
      </ion-col>
      <!--  -->
      <ion-col size="1" class="ion-align-self-center">
        <img
          id="trigger-hide"
          class="hide"
          src="\assets\pages\customer-nearby\Hide.png"
          alt=""
        />
        <ion-popover
          class="header-drop-down hide-drop-down hide"
          trigger="trigger-hide"
        >
          <ng-template>
            <ion-content>50 M</ion-content>
            <ion-content>100 M</ion-content>
            <ion-content>500 M</ion-content>
            <ion-content>700 M</ion-content>
            <ion-content>1 KM</ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
      <!--  -->
      <ion-col size="1" class="ion-align-self-center wifi">
        <ion-img
          class="wifi-online"
          src="/assets\mainPage\main\wifi.png"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-grid class="secondary-bg white-text">
    <ion-row class="ion-justify-content-between">
      <ion-col size="3" class="ion-no-padding ion-text-start">
        2022.04.02
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-center">
        Saturday
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-end">
        13 فروردین
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content> </ion-content>
