


ion-toolbar ion-row{
    --background: var(--ion-color-light);
    --color: #0095EB;

}
ion-toolbar.ios{
    --ion-padding-bottom:0;
}

ion-content {
    --background: var(--ion-color-light);
    --color: #0095EB;
}

ion-title {
    height: 100%;
    h3{
        font-size: 2rem;
        margin-left: 15vw;
    }
}
ion-item{
    --background: var(--ion-color-light) ;
}

ion-input{
    --padding-start : 5vw;
    --placeholder-color : #b9b9b9;
    --background : var(--ion-color-light)
}

ion-img{
    max-width: 50px;
}

ion-img .back-button.ios{
    min-width: 40px;
    max-width: 80px;
}




ion-popover.description-drop-down{

    --min-width:72%;
    --min-height:22rem;
    --offset-x:-5vw;
    --offset-y:1vh;
    >ion-content{
        font-size: 1.2rem;
        --color: var(--ion-color-dark);
        >div{
            border-bottom: 1px solid #b9b9b9aa;
            p{
                text-align: center;
            }
            img{
                position: absolute;
                left: 1rem;             
            }
        }
        img{
            max-width:3.5vw;
        }
        &:hover{
            --background:#119ff23f;
        }
    }
    ion-content.header-input-popover-title{
        display: flex;
        justify-content: center;
        cursor:auto;
        --color:var(--ion-color-light) ;
        text-align: center;
        border-bottom: none;
         // font-weight: bold;
        --padding-start: 0 ;
        --padding-top: 1rem ;
        --padding-bottom: 1rem ;
        :hover{
            --background:none;
        }
        
    }
}


.back-button {
    max-width: 20px;
    min-width: 20px;
    

}

ion-content.header-input-popover-title{
    cursor:auto;
    --color:var(--ion-color-dark) ;
    text-align: center;
    border-bottom: 2px dashed #8f8f8f;
     // font-weight: bold;
    --padding-start: 0 ;
    &:hover{
        --background:none;
    }
    
}




// -----------content---------------------------


ion-col.select-drop-down-container{
    ion-row{
        margin-bottom: 1rem;
        >ion-item{
            --background: var(--ion-color-light);
            --color:var(--ion-color-dark) ;
            --padding-top:1rem;
            --padding-bottom:1rem;
            --padding-start:2rem;
            --border-radius: 50px;
            border-radius: 50px;
            width: 80%;
            ion-icon{
                color: #e5e5e5;
                width: 3rem;
                position: absolute;
                right:3vw;
    
            }
            ion-label{
                color: #b9b9b961;
            }

      
        }
    }

    ion-select{
        width: 100%;
        color: #0095EB;
        --placeholder-color: #6a6a6a;
        height: 3rem; 
    }

   
}





// radio-input
ion-col.radio-input-container{
    margin-top: .5rem;
    margin-bottom: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ion-row{ 
        width: 80%;    
        .radio-input{
            background: var(--ion-color-light);
            padding:2.2rem ;
            border-radius: 50px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            >div{
                display: flex;
                flex-direction: row-reverse;
            }
            input[type='radio']{
               
                &:checked + label{
                    color:#0095EB;
                }
            }
            label{
                font-size: 1rem;
                color: #b9b9b961;
                padding-right: 5vw;
            }
          
        }
}
}


