

.back-button {
    max-width: 20px;
    min-width: 20px;
}

.wifi{
    margin-right: 3vw;
}
ion-img{
 max-width: 60px;       
 min-width: 40px;
}
title{
    width: 100%;
}

ion-title{
    width: 100%;
    h3{
        font-size: 1.5rem;
        width: 100%;
        margin-left: 7vw;
    }
}



ion-col{
    .date-picker-container{
        width: 100%;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .date-picker-box{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #a9a9a9;
        border-radius: 10px;
        padding-top: 1rem;
        label{
            font-size: 1.5rem;
            color: #cfcfcf;
             font-weight: bold;
            margin-bottom: 1rem;
        }
        .date-picker{
            height: 6rem;
            width: 80%;
            display: flex;
            justify-content: space-between;
            border-radius: 20px;
            align-items: center;
            padding-right: 2vw;
            flex-wrap: nowrap;

            img{
                max-height: 100%;
                max-width: 100%;
            }
            >ion-col{
                color: #0095EB;
                display: flex;
                font-size: 1.5rem;
                 font-weight: bold;
                ion-icon{
                    color: #a9a9a9;
                    padding-left: .5rem;

                }
            }
        }
        }
    }
    
}






.salesmen-location-box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    ion-item.salesmen-location{
        border-radius: 50px;
        width: 90%;
        height: 5rem;
        display: flex;
        ion-img{
            width: 50px;
        }
        ion-select{
            width: 100%;
            height: 100%;
            position: relative;
            right: 2rem;
        }
        ion-select::part(placeholder) {
            padding-left: 35vw;
        }
        ion-select::part(text) {
            text-align: right;
        }
        ion-list.checkbox-group-container{
            background: none;
            padding-left: 2vw;
        }

       
    }
   
}

