<ion-header>
  <ion-toolbar>
    <ion-row
      class="primary-bg ion-justify-content-between header ion-no-margin"
    >
      <ion-col size="1" class="ion-align-self-center">
        <ion-button fill="clear" routerLink="/main">
          <ion-img
            class="back-button ion-justfy-self-start ion-align-self-cente"
            src="assets\pages\customer-history\Backward arrow.png"
          ></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="7" class="ion-text-center ion-align-self-center">
        <ion-title class="white-text">
          <h3><b>Trace Salesmen </b></h3>
        </ion-title>
      </ion-col>
      <ion-col></ion-col>
      <ion-col class="ion-align-self-center hide" (click)="show=!show" size="1">
        <ion-img
          class="hide"
          [ngClass]="{'show-content' : show}"
          src="\assets\pages\customer-nearby\Hide.png"
        >
        </ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center wifi" size="1">
        <ion-img
          class="wifi-online"
          src="\assets\mainPage\main\wifi.png"
        ></ion-img>
      </ion-col>
    </ion-row>
    <ion-grid class="secondary-bg white-text">
      <ion-row class="ion-justify-content-between">
        <ion-col size="3" class="ion-no-padding ion-text-start">
          2022.04.02
        </ion-col>
        <ion-col size="3" class="ion-no-padding ion-text-center">
          Saturday
        </ion-col>
        <ion-col size="3" class="ion-no-padding ion-text-end">
          13 فروردین
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="show">
    <ion-col>
      <ion-row class="date-picker-container">
        <ion-row class="date-picker-box">
          <label for="Date-picker"> Date</label>
          <ion-row class="date-picker">
            <img src="\assets\pages\Max PPED\Group 1438.png" alt="" />
            <ion-col id="open-modal" class="ion-justify-content-end">
              {{dateNow | date:'yyyy/MM/dd'}}
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-row>
      <ion-popover trigger="open-modal" show-backdrop="false">
        <ng-template>
          <ion-datetime
            showDefaultButtons="true"
            presentation="date"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-col>
    <!-- =========================================== -->
    <ion-col class="salesmen-location-container">
      <div class="salesmen-location-box">
        <ion-item class="salesmen-location box-shadow">
          <ion-label>
            <ion-img src="\assets\pages\salesmen-location\RSM.png"></ion-img>
            RSM
            <ion-item>
              <ion-icon name="chevron-down-outline"></ion-icon>
              <ion-list>
                <ion-radio-group
                  allow-empty-selection
                  name="auto"
                  value="tesla"
                >
                  <ion-item>
                    <ion-radio
                      allow-empty-selection
                      mode="md"
                      value="RSM"
                    ></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ion-item>
          </ion-label>

          <ion-select interface="popover">
            <ion-select-option value="peperoni">Peperoni</ion-select-option>
            <ion-select-option value="peperoni">Peperoni</ion-select-option>
            <ion-select-option value="peperoni">Peperoni</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="salesmen-location-box">
        <ion-item class="salesmen-location box-shadow">
          <ion-label>
            <ion-img src="\assets\pages\salesmen-location\RSM-1.png"></ion-img>
            ASM
            <ion-item>
              <ion-icon name="chevron-down-outline"></ion-icon>
              <ion-list>
                <ion-radio-group
                  allow-empty-selection
                  name="auto"
                  value="tesla"
                >
                  <ion-item>
                    <ion-radio
                      allow-empty-selection
                      mode="md"
                      value="ASM"
                    ></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ion-item>
          </ion-label>

          <ion-select interface="popover">
            <ion-select-option slot="end" value="peperoni"
              >Peperoni</ion-select-option
            >
            <ion-select-option value="peperoni">Peperoni</ion-select-option>
            <ion-select-option value="peperoni">Peperoni</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="salesmen-location-box">
        <ion-item class="salesmen-location box-shadow">
          <ion-label>
            <ion-img src="\assets\pages\salesmen-location\RSM-2.png"></ion-img>
            SSV
            <ion-item>
              <ion-icon name="chevron-down-outline"></ion-icon>
              <ion-list>
                <ion-radio-group
                  allow-empty-selection
                  name="auto"
                  value="tesla"
                >
                  <ion-item>
                    <ion-radio
                      allow-empty-selection
                      mode="md"
                      value="SSV"
                    ></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ion-item>
          </ion-label>

          <ion-select interface="popover">
            <ion-select-option value="peperoni">Peperoni</ion-select-option>
            <ion-select-option value="peperoni">Peperoni</ion-select-option>
            <ion-select-option value="peperoni">Peperoni</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="salesmen-location-box">
        <ion-item class="salesmen-location box-shadow">
          <ion-label>
            <ion-img src="\assets\pages\salesmen-location\RSM-3.png"></ion-img>
            SR
            <ion-item>
              <ion-icon name="chevron-down-outline"></ion-icon>
              <ion-list>
                <ion-radio-group
                  allow-empty-selection
                  name="auto"
                  value="tesla"
                >
                  <ion-item>
                    <ion-radio
                      allow-empty-selection
                      mode="md"
                      value="SR"
                    ></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ion-item>
          </ion-label>

          <ion-select interface="popover">
            <ion-select-option value="peperoni">Peperoni</ion-select-option>
            <ion-select-option value="peperoni">Peperoni</ion-select-option>
            <ion-select-option value="peperoni">Peperoni</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-col>
  </ng-container>
</ion-content>
