<ion-header>
  <ion-toolbar>
    <ion-row [ngStyle]="{'background-color': sharedService.handleBackgroundColor()}" class=" ion-justify-content-between header ion-no-margin">
      <ion-col size="1" class="ion-align-self-center">
        <ion-buttons >
          <ion-back-button color="light" defaultHref="main"></ion-back-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="8" class="ion-text-center ion-align-self-center">
        <ion-title class="white-text">
          <h3><b>{{language.Trace_Salesman.Title}}</b></h3>
        </ion-title>
      </ion-col>

      <ion-col class="ion-align-self-center hide" (click)="show=!show" size="1">
        <ion-img class="hide" [ngClass]="{'show-content' : show}" src="\assets\pages\customer-nearby\Hide.png">
        </ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center wifi" size="1">
        <ion-img *ngIf="isOnline"
          class="wifiOn"
          src="\assets\pages\Wifi\Internet On.png"
        ></ion-img>
        <ion-img *ngIf="!isOnline"
          class="wifiOn"
          src="\assets\pages\Wifi\Internet Off.png"
        ></ion-img>
      </ion-col>
    </ion-row>
    <ion-grid class="secondary-bg white-text">
      <ion-row class="ion-justify-content-between">
        <ion-col size="3" class="ion-no-padding ion-text-start">
          2022.04.02
        </ion-col>
        <ion-col size="3" class="ion-no-padding ion-text-center">
          Saturday
        </ion-col>
        <ion-col size="3" class="ion-no-padding ion-text-end">
          13 فروردین
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="show">
    <ion-col>
      <ion-row class="date-picker-container">
        <ion-row class="date-picker-box">
          <label for="Date-picker"> {{language.DatePicker.Title}}</label>
          <ion-row class="date-picker lightBlue-shadow">
            <img src="\assets\pages\Max PPED\Group 1438.png" alt="" />
            <ion-col id="open-modal" class="ion-justify-content-end">
              {{selectedDate | date:'yyyy/MM/dd'}}
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-row>
      <ion-popover trigger="open-modal" show-backdrop="false">
        <ng-template>
          <ion-datetime #date [value]="selectedDate" (ionChange)="selectedDate = date.value; dateChanged()"
            presentation="date">
            <ion-buttons slot="buttons">
              <ion-button (click)="date.cancel(true)">{{language.DatePicker.reset}}</ion-button>
              <ion-button (click)="date.confirm(true)">{{language.DatePicker.confirm}}</ion-button>
            </ion-buttons>
          </ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-col>

    <form [formGroup]="form">
      <ion-col class="salesmen-location-container">
        <div class="salesmen-location-box">
          <ion-item lines="none" class="salesmen-location lightBlue-shadow">
            <ion-img src="\assets\pages\salesmen-location\RSM.png"></ion-img>
            <ion-select class="drop-down select-drop-down" placeholder="{{language.Trace_Salesman.rsm}}" interface="popover"
              formControlName="selectedRsm" (ionChange)="rsmSelect()">
              <ion-select-option *ngFor="let rsm of rsms" [value]="rsm">{{rsm.FullName}}</ion-select-option>
            </ion-select>
            <ion-icon name="chevron-down-outline"></ion-icon>
            <ion-list class="checkbox-group-container">
              <ion-checkbox formControlName="showRsm" (ionChange)="showDataChanged('rsm',f.showRsm.value)"></ion-checkbox>
            </ion-list>
          </ion-item>

          <!--  -->
        </div>
        <div class="salesmen-location-box">
          <ion-item lines="none" class="salesmen-location lightBlue-shadow">
            <ion-img src="\assets\pages\salesmen-location\RSM-1.png"></ion-img>
            <ion-select class="drop-down select-drop-down" placeholder="{{language.Trace_Salesman.asm}}" interface="popover"
              formControlName="selectedAsm" (ionChange)="asmSelect()">
              <ion-select-option *ngFor="let asm of asms" [value]="asm">{{asm.FullName}}</ion-select-option>
            </ion-select>
            <ion-icon name="chevron-down-outline"></ion-icon>
            <ion-list class="checkbox-group-container">
              <ion-checkbox formControlName="showAsm" (ionChange)="showDataChanged('asm',f.showAsm.value)"></ion-checkbox>
            </ion-list>
          </ion-item>
        </div>
        <div class="salesmen-location-box">
          <ion-item lines="none" class="salesmen-location lightBlue-shadow">
            <ion-img src="\assets\pages\salesmen-location\RSM-2.png"></ion-img>
            <ion-select class="drop-down select-drop-down" placeholder="{{language.Trace_Salesman.ssv}}" interface="popover"
              formControlName="selectedSsv" (ionChange)="ssvSelect()">
              <ion-select-option *ngFor="let ssv of ssvs" [value]="ssv">{{ssv.FullName}}</ion-select-option>
            </ion-select>
            <ion-icon name="chevron-down-outline"></ion-icon>
            <ion-list class="checkbox-group-container">
              <ion-checkbox formControlName="showSsv" (ionChange)="showDataChanged('ssv',f.showSsv.value)"></ion-checkbox>
            </ion-list>
          </ion-item>
        </div>
        <div class="salesmen-location-box">
          <ion-item lines="none" class="salesmen-location lightBlue-shadow">
            <ion-img src="\assets\pages\salesmen-location\RSM-3.png"></ion-img>
            <ion-select class="drop-down select-drop-down" placeholder="{{language.Trace_Salesman.sr}}" interface="popover"
              formControlName="selectedSr" (ionChange)="srSelect()">
              <ion-select-option *ngFor="let sr of srs" [value]="sr">{{sr.FullName}}</ion-select-option>
            </ion-select>
            <ion-icon name="chevron-down-outline"></ion-icon>
            <ion-list class="checkbox-group-container">
              <ion-checkbox formControlName="showSr" (ionChange)="showDataChanged('sr',f.showSr.value)"></ion-checkbox>
            </ion-list>
          </ion-item>
        </div>
      </ion-col>
    </form>
  </ng-container>
  <div [ngStyle]="{display: !show ? 'block' : 'none'}">
    <div *ngIf="showMap" style="width: 100vw; height: 100vh">
      <!-- [markers]="markers" -->
      <app-map [showMap]="showMap" [markers]="markers" [polylines]="polylines" [mapView]="mapView">
      </app-map>
    </div>
  </div>
</ion-content>