<ion-header>
  <ion-toolbar class="ion-no-padding">
    <ion-row class="primary-bg ion-justify-content-between">
      <ion-col size="1" class="ion-align-self-center">
        <ion-button fill="clear" routerLink="/main">
          <ion-img class="back-button" src="assets\pages\customer-history\Backward arrow.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="8" class="ion-text-start ion-align-self-center">
        <ion-title class="ion-no-padding white-text ion-align-self-center">
          <h3>{{language.Today_Planned_Not_Buying.Title}}</h3>
        </ion-title>
      </ion-col>
      <ion-col size="1" class="ion-align-self-center reload">
        <ion-img src="\assets\pages\customer-nearby\Group 1325.png"></ion-img>
      </ion-col>

      <ion-col class="ion-align-self-center wifi" size="1">
        <ion-img *ngIf="isOnline"
          class="wifiOn"
          src="\assets\pages\Wifi\Internet On.png"
        ></ion-img>
        <ion-img *ngIf="!isOnline"
          class="wifiOn"
          src="\assets\pages\Wifi\Internet Off.png"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-grid class="secondary-bg white-text">
    <ion-row class="ion-justify-content-between">
      <ion-col size="3" class="ion-no-padding ion-text-start">
        2022.04.02
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-center">
        Saturday
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-end">
        13 فروردین
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-col>
    <ion-row class="date-picker-container">
      <ion-row id="open-modal" class="date-picker-box">
        <label for="Date-picker"> Date</label>
        <ion-row class="date-picker lightBlue-shadow">
          <img src="\assets\pages\Max PPED\Group 1438.png" alt="" />
          <ion-col class="ion-justify-content-end">
            {{selectedDate | date:'yyyy/MM/dd'}}
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-row>
    <ion-popover trigger="open-modal" show-backdrop="false">
      <ng-template>
        <ion-datetime #date [value]="selectedDate" (ionChange)="selectedDate = date.value; getTRoutesCity()"
          size="cover" showDefaultButtons="true" presentation="date"></ion-datetime>
      </ng-template>
    </ion-popover>
    <!--  -->
  </ion-col>
  <ion-col class="ion-justify-content-center">
    <ion-row>
      <ion-col class="search-bar">
        <ion-row class="search-box ion-justify-content-center">
          <ion-col size="12" class="ion-justify-content-center">
            <ion-item class="search-container lightBlue-shadow">
              <button class="search-submit primary-bg" (click)="getTRoutesCity()">
                <ion-icon name="search-outline"></ion-icon>
              </button>
              <ng-select *ngIf="dcList.length" [items]="dcList" [multiple]="true" bindLabel="itemName"
                groupBy="group" appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false"
                [closeOnSelect]="false" bindValue="itemName" [(ngModel)]="selectedDc">

                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
                </ng-template>

                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.itemName}}
                </ng-template>

              </ng-select>
              <span class="search-icon">
                <ion-icon name="chevron-down-outline"></ion-icon>
              </span>
            </ion-item>
          </ion-col>
          <ion-col size="12" class="ion-justify-content-center">
            <ion-item class="search-container lightBlue-shadow">
              <button class="search-submit primary-bg" (click)="getTRoutesCity()">
                <ion-icon name="search-outline"></ion-icon>
              </button>
              <ng-select *ngIf="clustersList.length" [items]="clustersList" [multiple]="true" bindLabel="itemName"
                groupBy="group" appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false"
                [closeOnSelect]="false" bindValue="itemName" [(ngModel)]="selectedCluster">

                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
                </ng-template>

                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.itemName}}
                </ng-template>

              </ng-select>
              <span class="search-icon">
                <ion-icon name="chevron-down-outline"></ion-icon>
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>

  <ion-col>
    <!--  -->
    <table class="main-table">
      <tr>
        <td>
          <table class="header-table" cellspacing="0" cellpadding="1">
            <tr class="">
              <th class=" firstcolumn">Route</th>
              <th class=" ">Visitor</th>
              <th class=" oddColumns">Count</th>
          </table>
        </td>
      </tr>

      <tr>
        <td colspan="5">
          <div class="body-table-container">
            <table class="body-table" *ngFor="let Master_row of ctrl.data; let i = index"
              cellspacing="0" cellpadding="1">
              <tr  (click)="Show_Load_Detail(Master_row , i)">
                <td class="firstColumn">{{Master_row.Route}}</td>
                <td  >{{Master_row.Visitor}}</td>
                <td class="oddColumns" >{{Master_row.Others.length}}</td>
              </tr>
              <tr id="{{Master_row.Route}}_Detail" *ngIf="isVisible==i">
                <td colspan="8">
                  <table  class="details-table">
                    <tr>
                      <td>
                        <div class="details-inner-table-container" *ngFor="let row of Master_row.Others; let j = index;let odd = odd">
                          <table  class="details-inner-table" cellspacing="0" cellpadding="1">
                              <thead>
                                  <tr>
                                      
                                      <th [class]="odd ? 'detail-header-odd':'detail-header-even'">Name</th>
                                      <th [class]="odd ? 'detail-header-odd':'detail-header-even'" >Number</th>
                                  </tr>
                                  
                              </thead>
                            <tr class="detail-rows">
                                  <td  class="details-body">{{row.CustName}}</td>
                                  <td  class="details-body">{{row.CustID}}</td>
                            </tr>
                            
                            <tr>
                                <td  colspan="2" [class]="odd ? 'detail-header-odd':'detail-header-even'" >Address</td>
                            </tr>
                            <tr  class="">
                              <td colspan="2" class="details-body">{{row.Address}}</td>
                            </tr>
                            
                            <!-- <tr (click)="Child_Data(Master_row , j)" class="detail-rows">
                              <td colspan="2" class="detail-rows">{{row.Address}}</td>
                            </tr> -->
                          </table>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
    <!--  -->
    <!-- <table class="table">
      <thead class="table-head">
        <tr class="table-head-content">
          <th><span>Route</span></th>
          <th>Visitor</th>
          <th>Coute</th>
        </tr>
      </thead>
      <tbody class="table-body table-body-content" *ngFor="let mockData of routeVisitorData; let i = index;"
        [ngClass]="{'oddRows': 1 === i % 2}">
        <tr (click)="toggleDtails1()">
          <td class="table-body-icon">
            <ion-icon name="chevron-down-outline"></ion-icon> {{mockData.Route}}
          </td>
          <td>{{mockData.Visitor}}</td>
          <td>{{mockData.count}}</td>
        </tr>
        <div *ngIf="Is1DetailsShowing" class="table-detail">
          <div class="border">
            <table class="lightBlue-shadow">
              <tbody *ngFor="let mockDetailData of routeVisitorDetailData; let i = index;"
                [ngClass]="{'oddRowsDetails': 0 === i % 2}">
                <tr>
                  <td><span>Name:</span> {{mockDetailData.Name}}</td>
                  <td><span>Number:</span> {{mockDetailData.Number}}</td>
                  <td><span>Address:</span> {{mockDetailData.Address}}</td>
                </tr>
              </tbody>
              <hr class="line-1" />
              <hr class="line-2" />
              <hr class="line-3" />
              <hr class="line-4" />
            </table>
          </div>
        </div>
      </tbody>
    </table> -->
  </ion-col>
</ion-content>