<ion-header>
  <ion-toolbar class="ion-no-padding">
    <ion-row class="primary-bg ion-justify-content-between">
      <ion-col size="1" class="ion-align-self-center">
        <ion-button fill="clear" routerLink="/main">
          <ion-img
            class="back-button"
            src="assets\pages\customer-history\Backward arrow.png"
          ></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="8" class="ion-text-start ion-align-self-center">
        <ion-title class="ion-no-padding white-text ion-align-self-center"
          ><h3>Today Planned/Not Buying</h3>
        </ion-title>
      </ion-col>
      <ion-col size="1" class="ion-align-self-center reload">
        <ion-img src="\assets\pages\customer-nearby\Group 1325.png"></ion-img>
      </ion-col>

      <ion-col size="1" class="ion-justfy-self-end ion-align-self-center wifi">
        <ion-img
          class="wifi-online"
          src="/assets\mainPage\main\wifi.png"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-grid class="secondary-bg white-text">
    <ion-row class="ion-justify-content-between">
      <ion-col size="3" class="ion-no-padding ion-text-start">
        2022.04.02
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-center">
        Saturday
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-end">
        13 فروردین
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-col>
    <ion-row class="date-picker-container">
      <ion-row id="open-modal" class="date-picker-box">
        <label for="Date-picker"> Date</label>
        <ion-row class="date-picker lightBlue-shadow">
          <img src="\assets\pages\Max PPED\Group 1438.png" alt="" />
          <ion-col class="ion-justify-content-end">
            {{dateNow | date:'yyyy/MM/dd'}}
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-row>
    <ion-popover trigger="open-modal" show-backdrop="false">
      <ng-template>
        <ion-datetime
          size="cover"
          showDefaultButtons="true"
          presentation="date"
        ></ion-datetime>
      </ng-template>
    </ion-popover>
    <!--  -->
  </ion-col>
  <ion-col class="ion-justify-content-center">
    <ion-row>
      <ion-col class="search-bar">
        <ion-row class="search-box ion-justify-content-center">
          <ion-col size="12" class="ion-justify-content-center">
            <ion-item class="search-container lightBlue-shadow">
              <button class="search-submit primary-bg">
                <ion-icon name="search-outline"></ion-icon>
              </button>
              <ion-select multiple="true" interface="popover">
                <ion-select-option value="esfahan">ESFAHAN</ion-select-option>
                <ion-select-option value="rasht">RASHT</ion-select-option>
                <ion-select-option value="tehran">TEHRAN</ion-select-option>
                <ion-select-option value="karaj">KARAJ</ion-select-option>
                <ion-select-option value="shiraz">SHIRAZ</ion-select-option>
              </ion-select>
              <span class="search-icon">
                <ion-icon name="chevron-down-outline"></ion-icon>
              </span>
            </ion-item>
          </ion-col>
          <ion-col size="12" class="ion-justify-content-center">
            <ion-item class="search-container lightBlue-shadow">
              <button class="search-submit primary-bg">
                <ion-icon name="search-outline"></ion-icon>
              </button>
              <ion-select multiple="true" interface="popover">
                <ion-select-option value="rated-a+">A+</ion-select-option>
                <ion-select-option value="rated-a">A</ion-select-option>
                <ion-select-option value="rated-b">B</ion-select-option>
                <ion-select-option value="rated-c">C</ion-select-option>
                <ion-select-option value="rated-c">C</ion-select-option>
              </ion-select>
              <span class="search-icon">
                <ion-icon name="chevron-down-outline"></ion-icon>
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>

  <ion-col>
    <table class="table">
      <thead class="table-head">
        <tr class="table-head-content">
          <th><span>Route</span></th>
          <th>Visitor</th>
          <th>Coute</th>
        </tr>
      </thead>
      <tbody
        class="table-body table-body-content"
        *ngFor="let mockData of routeVisitorData; let i = index;"
        [ngClass]="{'oddRows': 1 === i % 2}"
      >
        <tr (click)="toggleDtails1()">
          <td class="table-body-icon">
            <ion-icon name="chevron-down-outline"></ion-icon> {{mockData.Route}}
          </td>
          <td>{{mockData.Visitor}}</td>
          <td>{{mockData.count}}</td>
        </tr>
        <div *ngIf="Is1DetailsShowing" class="table-detail">
          <div class="border">
            <table class="lightBlue-shadow">
              <tbody
                *ngFor="let mockDetailData of routeVisitorDetailData; let i = index;"
                [ngClass]="{'oddRowsDetails': 0 === i % 2}"
              >
                <tr>
                  <td><span>Name:</span> {{mockDetailData.Name}}</td>
                  <td><span>Number:</span> {{mockDetailData.Number}}</td>
                  <td><span>Address:</span> {{mockDetailData.Address}}</td>
                </tr>
              </tbody>
              <hr class="line-1" />
              <hr class="line-2" />
              <hr class="line-3" />
              <hr class="line-4" />
            </table>
          </div>
        </div>
      </tbody>
    </table>
  </ion-col>
</ion-content>
