.oddRowsDetails{
    background: #b8e2fa;
}
.box-shadow{
    box-shadow: 5px 8px 16px 0 #e3f6ff, 0 6px 20px 0 #E6F5FC ;

}

ion-toolbar ion-row{
    --background: #fff;
    --color: #0095EB;
    // flex-wrap: nowrap;
}
ion-toolbar.ios{
    --ion-padding-bottom:0;
}

ion-content {
    --background: #fff;
}

ion-title {
    height: 100%;
    padding-left: 5px;
    h3{
        font-size: 3vw;
    }
}
ion-item{
    --background: #fff;
}

ion-input{
    --padding-stsart : 5vw;
    --placeholder-color : #b9b9b9;
    --background : #fff
}

ion-img{
    // max-width: 100px;
    max-width: 100%;
    // min-width: 80px;
}

.wifi{
    min-width: 50px;
}
.reload{
    min-width: 50px;
}

ion-img .back-button.ios{
    min-width: 40px;
    max-width: 80px;
    margin-right: 3px;
}
.table-detail-opaned{
    ion-icon{
        color:#0095EB;
    }
}

.back-button {
    max-width: 20px;
    min-width: 15px;
    

}

ion-popover.search-popover{
    --backdrop-opacity:0;
    // --width:450px;
    --width:60vw;
    // height: 300px;
    --offset-x:-1vw;
    --offset-y:-1rem;
    label{
        color:#b9b9b9;
    }

}





// date picker

ion-col{
    .date-picker-container{
        // width: 100vw;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .date-picker-box{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #6b6b6b;
        border-radius: 10px;
        padding-top: 1rem;
        label{
            font-size: 1.5rem;
            color: #cfcfcf;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        .date-picker{
            height: 6rem;
            width: 80%;
            display: flex;
            justify-content: space-between;
            border-radius: 20px;
            align-items: center;
            // padding: 1rem 2rem 1rem 0 ;
            // padding-right: 2rem;

            img{
                max-height: 100%;
                max-width: 100%;
            }
            >ion-col{
                color: #0095EB;
                display: flex;
                font-size: 1.5rem;
                font-weight: bold;
                ion-icon{
                    color: #a9a9a9;
                    padding: 0 1rem;

                }
            }
        }
        }
    }
    ion-modal{
        --background: red;
        .ion-page{
            --width: 2rem;
        }
        ion-buttons{
            --background: red;
        }
    }
}

// search
    .search-container{
        // margin-bottom: 3rem;
        .search-box{
            width: 88%;
            height: 30vh;
            border: 1px solid #6b6b6b;
            border-radius: 10px;
            display: flex;
            
            ion-row.search-box-outer{
               
                ion-select{
                    width: 100%;
                    height: 100%;
                }
                // --border-style:none;
                // --inner-border-width: 0;
                // border-bottom: none;
                width: 100%;
                // --border: 0;
                &.search-select-rating{
                    border: none;
                    ion-select{
                    width: 100%;
                    height: 100%;
                    .my-custom-interface{
                        background:red ;
                    }
                }
            }    
            &.search-select-city{
                --background: none;
                ion-select{
                    width: 100%;
                    height: 100%;
                }            }    
            .search-submit{
                width: 10vw;
                height: 12vh;
                border-radius:  10px  0 0  10px ;
                font-size: 2rem;
                font-weight: bolder;
                color: #fff;
                z-index: 2;
            }
            span{
                position: relative;
                // top: 1.5rem;
                right: 2rem;
                color: #e5e5e5df;
                font-size: 1.3rem;
            }

        }

    }
}

// // search
// ion-col{
//     ion-row.search-container{
//         // margin-bottom: 3rem;
//         ion-item.search-box{
//             width: 88%;
//             height: 20vh;
//             border: 1px solid #6b6b6b;
//             border-radius: 10px;
//             display: flex;
//             ion-item{
//                 background: none;
//                 --border-style:none;
//                 --inner-border-width: 0;
//                 border-bottom: none;
//                 width: 100%;
//                 --border: 0;
//                 &.search-select-rating{
//                     border: none;
//                     ion-select{
//                     width: 100%;
//                     height: 100%;
//                     .my-custom-interface{
//                         background:red ;
//                     }
//                 }
//             }    
//             &.search-select-city{
//                 --background: none;
//                 ion-select{
//                     width: 100%;
//                     height: 100%;
//                 }            }    
//             .search-submit{
//                 width: 10vw;
//                 height: 12vh;
//                 border-radius:  10px  0 0  10px ;
//                 font-size: 2rem;
//                 font-weight: bolder;
//                 color: #fff;
//                 z-index: 2;
//             }
//             .search{
//                 box-shadow: 5px 8px 16px 0 #e3f6ff, 0 6px 20px 0 #E6F5FC ;
//                 border: none;
//                 width: 60vw;
//                 height: 12vh;
//                 display: flex;
//                 justify-content: space-around;
//                 align-items: center;
//                 font-size: 1.3rem;
//                 border-radius: 0 10px  10px 0;
//             }
//             input::-webkit-input-placeholder{
//                 justify-self: center;
//                 align-self: center;
//                 color: #e5e5e5df;
//             }
//             span{
//                 position: relative;
//                 // top: 1.5rem;
//                 right: 2rem;
//                 color: #e5e5e5df;
//                 font-size: 1.3rem;
//             }

//         }

//     }
// }
// }


// ------------table------------------------
table{

    table-layout: fixed;
    width: 100%;
    margin: 0;
    
    tr{
        cursor: pointer;
        z-index: 3;
       
    }
    td{
        // white-space: nowrap;
        padding: 2px 0;
        max-width: 100px;

    }
    .table-head{
        .table-head-content{
            font-weight: bold;
            color: #000;
            th{
                font-size: 1.1rem;
            }
            >:first-child{
                // background: #dadada56;
                background: #eeeff1;
                color:#0095EB;
                min-height: 20px;
            }
            >:nth-child(2){
                width: 55%;

            }
            >:last-child{
                width: 15%;
                background: #dcdcdc92;
            }
        
        }
    }
    .table-body{
       >tr{
            >td{
                font-size: 1.1rem;
                color: #000;
                text-align: center;
                &:first-child{
                    text-align: left;
                    padding-left: 5px;            
                }
            }
            
            >:last-child{
                background: #dcdcdc92;
            }
        }
        
        ion-icon{
            font-size: 1.2rem;
            padding-right: 4px;
        }
        &-icon{
            background: #e0e0e0bf;
            align-items: center;
            justify-content: center;
        }
    }
    .table-detail{
        background: var(--ion-color-light);
        .border{
            border-left: 2px #0095EB solid;
            margin-left: 1rem;
            padding: 1rem 0 0;
        &>table{
            width: 90vw;
            margin:0 1rem 1rem;
            box-shadow: 2px 2px 6px 0 #cdcdcdd6, 0 6px 20px 0 #E6F5FC ;
            position: relative;
            td{
                white-space: nowrap;

            }
            
            
            .line-1{
                background: #0095EB;
                position: absolute;
                top: 3rem;
                left: -1rem;
                height: 1.5px;
                width: 1rem;
            }
            .line-2{
                background:#0095EB;
                position: absolute;
                top: 11rem;
                left: -1rem;
                height: 1.5px;
                width: 1rem;
            }
            .line-3{
                background: #0095EB;
                position: absolute;
                bottom: 11.5rem;
                left: -1rem;
                height: 1.5px;
                width: 1rem;
            }
            .line-4{
                background: #0095EB;
                position: absolute;
                bottom: 3.8rem;
                left: -1rem;
                height: 1.5px;
                width: 1rem;
            }
        }
        tr{
            display: grid;
            grid-template-columns: auto auto;
            padding: 1rem 1rem 0;
        }

        td{
            height: 10vh;
            span{
                color: #343593;
                font-weight: bold;
            }
        }
        tbody{
            text-align: center;
        }
    }
}
}
@media (max-width:375px) {
    table{
        .table-detail{
            .border{
                tr{
                    grid-template-columns: auto ;
                }

            }
        }

    }

    

          
            
}