<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="4">
  <ion-row>
    <ion-icon slot="start" name="add"></ion-icon>
    <ion-icon slot="start" name="add"></ion-icon>
  </ion-row>        
      </ion-col>
      <ion-col size="4">
        <ion-title>Main Page</ion-title>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-icon slot="start" name="add"></ion-icon>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-grid>
    <ion-row class="ion-justify-content-between cafe" >
      <ion-col size="2">
        2022.04.02
      </ion-col>
      <ion-col size="2">
        Saturday
      </ion-col>
      <ion-col size="2">
        13 فروردین
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
<ion-grid class="main-page-content">
  <ion-row>
    <ion-col size="4" style="display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;">
      <div>
        <ion-img style="max-width: 100px;" src="assets/mainPage/Customer-History.png"></ion-img>
        <ion-text>
          <p>Customer History</p>
        </ion-text>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-center">
        <ion-img style="max-width: 100px;" src="assets/mainPage/Questionnaire.png"></ion-img>
        <ion-text>
          <p>Questionnaire</p>
        </ion-text>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-center">
        <ion-img style="max-width: 100px;" src="assets/mainPage/Notification.png"></ion-img>
        <ion-text>
          <p>Notification</p>
        </ion-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="4">
      <div class="ion-text-center">
        <ion-img style="max-width: 100px;" src="assets/mainPage/GPS-Tracking.png"></ion-img>
        <ion-text>
          <p>GPS Tracking</p>
        </ion-text>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-center">
        <ion-img style="max-width: 100px;" src="assets/mainPage/Online-Daily-Sale.png"></ion-img>
        <ion-text>
          <p>Online Daily Sales</p>
        </ion-text>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-center">
        <ion-img style="max-width: 100px;" src="assets/mainPage/Customer-nearby.png"></ion-img>
        <ion-text>
          <p>Customer Nearby</p>
        </ion-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="4">
      <div class="ion-text-center">
        <ion-img style="max-width: 100px;" src="assets/mainPage/Salesmen Location.png"></ion-img>
        <ion-text>
          <p>Salesmen Location</p>
        </ion-text>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-center">
        <ion-img style="max-width: 100px;" src="assets/mainPage/Trace-Salesman.png"></ion-img>
        <ion-text>
          <p>Trace Salesman</p>
        </ion-text>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-center">
        <ion-img style="max-width: 100px;" src="assets/mainPage/Daily-Status.png"></ion-img>
        <ion-text>
          <p>Daily Status</p>
        </ion-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="4">
      <div class="ion-text-center">
        <ion-img style="max-width: 100px;" src="assets/mainPage/Today-Planned-Not-buying.png"></ion-img>
        <ion-text>
          <p>Today-Planned/ Not buying</p>
        </ion-text>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-center">
        <ion-img style="max-width: 100px;" src="assets/mainPage/Loading-Truck-Stauts.png"></ion-img>
        <ion-text>
          <p>Loading Truck Stauts</p>
        </ion-text>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-center">
        <ion-img style="max-width: 100px;" src="assets/mainPage/ScoreCard.png"></ion-img>
        <ion-text>
          <p>ScoreCard</p>
        </ion-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="4">
      <div class="ion-text-center">
        <ion-img style="max-width: 100px;" src="assets/mainPage/Online-Sales-Hourly.png"></ion-img>
        <ion-text>
          <p>Online Sales Hourly</p>
        </ion-text>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-center">
        <ion-img style="max-width: 100px;" src="assets/mainPage/Online-Sale-for-days-hourly.png"></ion-img>
        <ion-text>
          <p>Online Sale for days hourly</p>
        </ion-text>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-center">
        <ion-img style="max-width: 100px;" src="assets/mainPage/Sales-Campare-Traking-Hourly.png"></ion-img>
        <ion-text>
          <p>Sales Campare Traking Hourly</p>
        </ion-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <div class="ion-text-center">
        <ion-img style="max-width: 100px;" src="assets/mainPage/Sales-hourly_Day-and-Sales-Office.png"></ion-img>
        <ion-text>
          <p>Sales hourly_Day & Sales Office</p>
        </ion-text>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-center">
        <ion-img style="max-width: 100px;" src="assets/mainPage/Max-PPED.png"></ion-img>
        <ion-text>
          <p>Max PPED</p>
        </ion-text>
      </div>
    </ion-col>
    
  </ion-row>
</ion-grid>
</ion-content>
