<ion-header>
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3" class="ion-align-self-center">
        <ion-buttons >
          <ion-back-button color="primary" defaultHref="main"></ion-back-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-title>
          <h3><b>{{language.Profile.Title}}</b></h3>
        </ion-title>
      </ion-col>
      <ion-col size="3"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [ngStyle]="{'direction' : sharedService.get_direction()}" >
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-pic ion-margin-top ion-margin-start shadow">
      <img src="" />
      <div class="relative">
        <img class="camera" src="assets/menu/profile/Icon awesome-camera.png" />
      </div>
    </ion-avatar>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-img
      class="change-password-pic"
      src="assets/menu/profile/Change-password.png"
    ></ion-img>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-input
      class="ion-margin-top textbox lightBlue-shadow"
      type="password"
      placeholder="{{language.Profile.Current_password}}"
      [(ngModel)]="currentPassword"
    ></ion-input>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-input
      class="ion-margin-top textbox lightBlue-shadow"
      type="password"
      placeholder="{{language.Profile.New_password}}"
      [(ngModel)]="newPassword"
    ></ion-input>
  </ion-row>
  <ion-row class="ion-justify-content-center container">
    <ion-input
      class="ion-margin-top textbox lightBlue-shadow"
      type="password"
      placeholder="{{language.Profile.Re_enter_new_password}}"
      [(ngModel)]="confirmNewPassword"
      #input
    >
    </ion-input>
    <span [ngClass]="{'eye-rtl' : languageService.selectedLanguage == 'FR'}" class="eye"
      ><img
        src="assets/menu/profile/Atoms- Icons- Eye Active.png"
        alt=""
        (click)="showPassword(input)"
    /></span>
  </ion-row>
  <ion-row class="ion-justify-content-center" *ngIf="!loading">
    <button class="btn submit-btn" (click)="submit()">
      <p>{{language.Profile.Send_Message}}</p>
    </button>
  </ion-row>
  <ion-row class="ion-justify-content-center" *ngIf="loading">
    <ion-spinner color="primary"></ion-spinner>
  </ion-row>
</ion-content>
