
// to do: 
// multiple choice
// when in English text align right
ion-toolbar {
    --background: #0095EB;
    --color: var(--ion-color-light);
}

ion-img.back-button{
    width: 20px;
    z-index: 2;
}
.wifi{

    min-width: 50px;    
}


title{
    width: 100%;
}

ion-title{
    width: 100%;
    h3{
        font-size: 3vw;
        width: 100%;

    }
}

ion-input{
    --padding-start : 5vw;
    --placeholder-color : #b9b9b9;
    --background : var(--ion-color-light)
}


ion-row.select-box{
    margin-bottom: 1rem;
    >ion-item{
        // --background: var(--ion-color-light);
        --color:var(--ion-color-dark) ;
        --padding-top:1rem;
        --padding-bottom:1rem;
        --padding-start:2rem;
        --border-radius: 50px;
        border-radius: 50px;
        width: 80%;
        box-shadow: 5px 8px 16px 0 #e3f6ff, 0 6px 20px 0 #E6F5FC ;
        ion-icon{
            color: #e5e5e5;
            width: 3rem;
            position: absolute;
            right:3vw;

        }
  
    }
}


ion-select{
    width: 100%;
    color: #0095EB;
    --placeholder-color: #6a6a6a;
    &::part(icon) {
        display: none;
      }
   

}

ion-popover{
    ion-select-popover.popover-viewport{
        --background: blue;
    }
}





ion-select.select-drop-down{
    --backdrop-opacity:0;
    --width:70vw;
    // --min-width:200px;
    --offset-x:5vw;
    --offset-y:-2vh;
    // --width:500px;
    // --offset-x:16%;

    ion-content{
        cursor: pointer;
        // --color:#8f8f8f ;
        --color:#8f8f8f ;
        --padding-top: .9rem ;
        --padding-bottom: .9rem ;
        --padding-start: 1.7rem ;
        &:hover{
            --background:#0095EB;
            --color:var(--ion-color-dark) ;
        }
      
        
    }
    ion-content.select-input-popover-title{
        cursor:auto;
        --color:var(--ion-color-dark) ;
        text-align: center;
        border-bottom: 2px dashed #8f8f8f;
        font-weight: bold;
        --padding-start: 0 ;
        &:hover{
            --background:none;
        }
        
    }
}
ion-row{
    width: 100%;
    .select-input-container{
        width:75vw;
        border-radius: 50px;
        box-shadow: 5px 8px 16px 0 #e3f6ff, 0 6px 20px 0 #E6F5FC ;
        .select-input{
            border-radius: 50px;
            width: 98%;
            border: none;
            height: 5rem;
            padding-left: .5rem;
            padding-right: 1rem;
            .input-select-label{
                border-bottom: 2px dashed var(--ion-color-dark);
                padding: 1rem;
            }
        }
        select:focus{
            border: none;
            outline: none;
        }
    }
}



ion-label.questions{
    color: var(--ion-color-primary);
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: .7rem;
    // padding-left: 3.5rem;
    padding-right: 3.5rem;
    text-align: right;
    // background: red;
    width: 100%;
}

// ---- text input
ion-col.text-input-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;    
    ion-row{
        // width: 65vw;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        ion-label{
            color:#0095EB ;
            font-size: 1.5rem;
            font-weight: bold;
            padding-bottom: .7rem;
            padding-left: 1rem;
        }
    }
    
    ion-input{
        background: #e0e0e06c;
        border-radius: 10px;
        height: 2rem;
        --padding-top:1.5rem;
        --padding-bottom:1rem;
        --padding-end:5vh;
    }
}


// radio-button
ion-list.radio-input-container{
    background: #e0e0e06c;
    width: 90%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    margin-left:5vw ;
    ion-list.radio-input-box{
        background: none;      
        ion-label{
            padding:0 1rem;     
            color: #b9b9b9;
            font-weight: bold;
            font-size: 1.1rem;
        }
        .item-radio-checked ion-label {
            --color: red;
            color: #0095EB;
          }
    }
}






.btn-submit{
    margin: 2rem 0;
    // width: 60vw;
    width: 80%;
    height: 9vh;
    font-size: 2rem;
    border-radius: 50px;
    background: #0095EB;
    color: var(--ion-color-light);
}






   
       
        








