<ion-header>
  <ion-toolbar>
    <ion-row class="header ion-justify-content-center ion-no-margin">
      <ion-col size="1" class="ion-align-self-center">
        <ion-button fill="clear" (click)="backButton()">
          <ion-img
            class="back-button ion-justfy-self-start ion-align-self-cente"
            src="assets\pages\customer-history\Backward arrow.png"
          ></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="9" class="ion-text-center">
        <ion-title>
          <h3><b>{{language.Questionnaire.Title}}</b></h3>
        </ion-title>
      </ion-col>
      <ion-col class="ion-align-self-center ion-justfy-self-end wifi" size="1">
        <ion-img
          class="wifi-online"
          src="assets/mainPage/main/wifi.png"
        ></ion-img>
      </ion-col>
    </ion-row>
    <ion-grid class="secondary-bg white-text">
      <ion-row class="ion-justify-content-between">
        <ion-col size="3" class="ion-no-padding ion-text-start">
          2022.04.02
        </ion-col>
        <ion-col size="3" class="ion-no-padding ion-text-center">
          Saturday
        </ion-col>
        <ion-col size="3" class="ion-no-padding ion-text-end">
          13 فروردین
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-col class="">
      <ion-row class="ion-justify-content-center select-box">
        <ion-item
          id="trigger-input-date"
          lines="none"
          class="box-shadow select-input"
        >
          <!-- <ion-label>DC</ion-label> -->
          <ion-select
            class="drop-down select-drop-down"
            placeholder="DC"
            interface="popover"
            formControlName="DC"
            (ionChange)="selectCity($event)"
          >
            <ion-select-option class="select-label" disabled value="">
              DC
            </ion-select-option>
            <ion-select-option *ngFor="let item of cities" [value]="item.City">
              {{item.City}}
            </ion-select-option>
          </ion-select>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-center select-box">
        <ion-item id="trigger-input-route" lines="none" class="box-shadow">
          <ion-select
            class="drop-down select-drop-down"
            placeholder="Route"
            interface="popover"
            formControlName="Route"
            (ionChange)="selectRoute($event)"
          >
            <ion-select-option class="select-label" disabled value=""
              >Route</ion-select-option
            >
            <ion-select-option
              *ngFor="let item of routes"
              [value]="item.routename"
              >{{item.routename}}</ion-select-option
            >
          </ion-select>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-center select-box">
        <ion-item
          id="trigger-input-route-daily"
          lines="none"
          class="box-shadow"
        >
          <ion-select
            class="drop-down select-drop-down"
            placeholder="Route Daily"
            interface="popover"
            formControlName="RouteDaily"
            (ionChange)="selectRouteDaily($event)"
          >
            <ion-select-option class="select-label" disabled value=""
              >RouteDaily</ion-select-option
            >
            <ion-select-option
              *ngFor="let item of routedailys"
              [value]="item.RouteID"
              >{{item.Title}}</ion-select-option
            >
          </ion-select>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-center select-box">
        <ion-item id="trigger-input-customer" lines="none" class="box-shadow">
          <ion-select
            class="drop-down select-drop-down"
            placeholder="customer"
            interface="popover"
            formControlName="Customer"
            (ionChange)="selectCustomer($event)"
          >
            <ion-select-option class="select-label" disabled value=""
              >Customer</ion-select-option
            >
            <ion-select-option *ngFor="let item of customers" [value]="item"
              >{{item.custName}}-{{item.CustCode}}</ion-select-option
            >
          </ion-select>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center select-box">
        <ion-item
          id="trigger-input-customer-category"
          lines="none"
          class="box-shadow"
        >
          <ion-select
            class="drop-down select-drop-down"
            placeholder="Customer Category"
            interface="popover"
            formControlName="QuestionCategory"
            (ionChange)="selectQuestion($event)"
          >
            <ion-select-option
              size="cover"
              class="select-label"
              disabled
              value=""
              >Customer Category</ion-select-option
            >
            <ion-select-option
              *ngFor="let item of questioncats"
              [value]="item.QusCatID"
              >{{item.CatName}}</ion-select-option
            >
          </ion-select>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-item>
      </ion-row>
    </ion-col>
  </form>

  <ion-col class="ion-justify-content-center input-text">
    <ion-row class="ion-justify-content-center">
      <ion-label>Store:</ion-label>
      <ion-input></ion-input>
    </ion-row>
    <ion-row>
      <ion-label>Customer Name:</ion-label>
      <ion-input></ion-input>
    </ion-row>
    <ion-row>
      <ion-label>Address:</ion-label>
      <ion-input></ion-input>
    </ion-row>
  </ion-col>

  <ion-col class="radio-input-container">
    <ion-row class="radio-input">
      <label for="breakfast">Breakfast: </label>
      <div class="">
        <div class="">
          <input type="radio" name="radio-input-2" id="" />
          <label for="yes">Yes</label>
        </div>
        <div class="">
          <input type="radio" name="radio-input-2" id="" />
          <label for="no">No</label>
        </div>
      </div>
    </ion-row>
    <button class="btn-submit">Submit</button>
  </ion-col>
</ion-content>
