
ion-toolbar {
    --color: var(--ion-color-light);
}

ion-img.back-button{
    width: 20px;
    z-index: 2;
}
.wifi{

    min-width: 50px;    
}


title{
    width: 100%;
}

ion-title{
    width: 100%;
    h3{
        font-size: 2rem;
        width: 100%;

    }
}

ion-input{
    --padding-start : 5vw;
    --placeholder-color : #b9b9b9;
    --background : var(--ion-color-light)
}


ion-row.select-box{
    margin-bottom: 1rem;
    >ion-item{
        // --background: var(--ion-color-light);
        --color:var(--ion-color-dark) ;
        --padding-top:1rem;
        --padding-bottom:1rem;
        --padding-start:2rem;
        --border-radius: 50px;
        border-radius: 50px;
        width: 80%;
        ion-icon{
            color: #e5e5e5;
            width: 3rem;
            position: absolute;
            right:3vw;
        }
        .icon-rtl{
            color: #e5e5e5;
            width: 3rem;
            position: absolute;
            right: 60vw;
        }
  
    }
}


ion-select{
    width: 100%;
    color: #0095EB;
    --placeholder-color: #6a6a6a;
    &::part(icon) {
        display: none;
      }
   

}

ion-popover{
    ion-select-popover.popover-viewport{
        --background: blue;
    }
}





ion-select.select-drop-down{
    --backdrop-opacity:0;
    --width:70vw;
    --offset-x:5vw;
    --offset-y:-2vh;
}




ion-label.questions{
    color: #0095EB;
    font-size: 1.5rem;
     font-weight: bold;
    padding: 1vh 5vh 0;
    width: 100%;
}

// ---- text input
ion-col.text-input-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    ion-row{
        width: 90%;
        display: flex;
        flex-direction: column;
        ion-label{
            color:#0095EB ;
            font-size: 1.5rem;
             font-weight: bold;
            padding: 1vh 5vh 0;
        }
    }
    
    ion-input{
        border-radius: 10px;
        height: 2rem;
        --padding-top:1.5rem;
        --padding-bottom:1rem;
        --padding-end:5vh;
    }
}


// radio-button
ion-list.radio-input-container{
    background: var(--ion-color-light);
    width: 90%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
    margin:3vh 4.5vw 0;
    ion-list.radio-input-box{
        background: none;      
        ion-label{
            padding:0 1rem;     
            color: #b9b9b9;
             font-weight: bold;
            font-size: 1.1rem;
        }
        .item-radio-checked ion-label {
            color: #0095EB;
          }
    }
}




.btn-container{
    display: flex;
    button.btn-submit{
        margin: 2rem 0;
        width: 80%;
        height: 9vh;
        font-size: 2rem;
        border-radius: 50px;
        background: #0095EB;
        color: var(--ion-color-light);
    }
}