<ion-header>
  <ion-toolbar class="ion-no-padding">
    <ion-row
      class="primary-bg ion-justify-content-between header ion-no-margin"
    >
      <ion-col size="1" class="ion-align-self-center">
        <ion-button fill="clear" (click)="backButton()">
          <ion-img
            class="back-button ion-justfy-self-start ion-align-self-cente"
            src="assets\pages\customer-history\Backward arrow.png"
          ></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="7" class="ion-text-center ion-align-self-center">
        <ion-title class="white-text">
          <h3><b>Online Daily Sales</b></h3>
        </ion-title>
      </ion-col>
      <ion-col></ion-col>
      <ion-col class="ion-align-self-center reload" size="1">
        <ion-img class="" src="\assets\pages\customer-nearby\Group 1325.png">
        </ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center wifi" size="1">
        <ion-img
          class="wifi-online"
          src="\assets\mainPage\main\wifi.png"
        ></ion-img>
      </ion-col>
    </ion-row>
    <!--  -->
  </ion-toolbar>
  <ion-grid class="secondary-bg white-text">
    <ion-row class="ion-justify-content-between">
      <ion-col size="3" class="ion-no-padding ion-text-start">
        2022.04.02
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-center">
        Saturday
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-end">
        13 فروردین
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-col class="ion-no-padding segment-change">
    <ion-segment class="" (ionChange)="segmentChanged($event)">
      <ion-segment-button class="DSD" value="DSD">
        <ion-label>DSD</ion-label>
      </ion-segment-button>
      <ion-segment-button class="NON_DSD" value="NON_DSD">
        <ion-label>NON_DSD</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-col>
</ion-header>
<!-- -------------------------------------------------------------------------------------------- -->
<ion-content class="ion-no-padding ion-no-margin">
  <ion-col class="DSD-page" *ngIf="selectedSegment == 'DSD'">
    <ion-col class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <button class="search-submit primary-bg">
          <ion-icon name="search-outline"></ion-icon>
        </button>
        <input
          type="search"
          name=""
          id="trigger-search"
          placeholder="Search"
          class="search search-customer-history input-shadow"
        />
        <ion-popover class="popover search-popover" trigger="trigger-search">
          <ng-template>
            <ion-item>
              <label for="select-all">SELECT ALL</label>
              <ion-checkbox slot="end" value="select-all"></ion-checkbox>
            </ion-item>
            <ion-item>
              <label for="esfahan">ESFAHAN</label>
              <ion-checkbox slot="end" value="esfahan"></ion-checkbox>
            </ion-item>
            <ion-item>
              <label for="rasht">RASHT</label>
              <ion-checkbox slot="end" value="rasht"></ion-checkbox>
            </ion-item>
            <ion-item>
              <label for="tehran">TEHRAN</label>
              <ion-checkbox slot="end" value="tehran"></ion-checkbox>
            </ion-item>
            <ion-item>
              <label for="karaj">KARAJ</label>
              <ion-checkbox slot="end" value="karaj"></ion-checkbox>
            </ion-item>
            <ion-item>
              <label for="shiraz">SHIRAZ</label>
              <ion-checkbox slot="end" value="shiraz"></ion-checkbox>
            </ion-item>
          </ng-template>
        </ion-popover>
        <span class="search-icon">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </span>
      </ion-row>
    </ion-col>
    <ion-col>
      <table>
        <thead class="table-head">
          <tr class="table-head-content">
            <th><span>Route</span></th>
            <th>Pin</th>
            <th>Inv</th>
            <th>%</th>
            <th>OOR</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table-body table-body-content">
          <tr (click)="toggleDtailsDCD()">
            <td class="table-body-icon">
              <ion-icon name="chevron-down-outline"></ion-icon> 1100
            </td>
            <td></td>
            <td>6</td>
            <td>6</td>
            <td>5</td>
            <td></td>
          </tr>
          <div *ngIf="IsDCDDetailsShowing" class="table-detail">
            <div class="table-line-ver"></div>
            <div class="table-line-horiz"></div>
            <table class="">
              <thead>
                <th>Visitor</th>
                <th>Driver</th>
              </thead>
              <tbody>
                <td>Ali Zardust</td>
                <td>Hosein Aghai</td>
              </tbody>
            </table>
          </div>
          <tr (click)="toggleDtails()">
            <td>
              <!-- <ion-icon class="isShowing" name="chevron-up-outline"> </ion-icon> -->

              <ion-icon
                class="isNotShowing"
                name="chevron-down-outline"
              ></ion-icon>

              1103
            </td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>1</td>
            <td></td>
          </tr>
          <div *ngIf="IsDetailsShowing" class="table-detail">
            <div class="table-line-ver"></div>
            <div class="table-line-horiz"></div>
            <table class="">
              <thead>
                <th>Visitor</th>
                <th>Driver</th>
              </thead>
              <tbody>
                <td>Ali Zardust</td>
                <td>Hosein Aghai</td>
              </tbody>
            </table>
          </div>
          <tr>
            <td class="table-body-icon">
              <ion-icon name="chevron-down-outline"></ion-icon> 1104
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="">
              <ion-icon name="chevron-down-outline"></ion-icon> 1105
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="table-body-icon">
              <ion-icon name="chevron-down-outline"></ion-icon> 1106
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="">
              <ion-icon name="chevron-down-outline"></ion-icon> 1107
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </ion-col>
  </ion-col>

  <!-- ----------------------------------------------------------------------------- -->
  <ion-col *ngIf="selectedSegment == 'NON_DSD'" class="searchbar">
    <ion-col class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <button class="search-submit primary-bg">
          <ion-icon name="search-outline"></ion-icon>
        </button>
        <input
          type="search"
          name=""
          id="trigger-search"
          placeholder="Search"
          class="search search-customer-history input-shadow"
        />
        <ion-popover class="popover search-popover" trigger="trigger-search">
          <ng-template>
            <ion-item>
              <label for="select-all">SELECT ALL</label>
              <ion-checkbox slot="end" value="select-all"></ion-checkbox>
            </ion-item>
            <ion-item>
              <label for="esfahan">ESFAHAN</label>
              <ion-checkbox slot="end" value="esfahan"></ion-checkbox>
            </ion-item>
            <ion-item>
              <label for="rasht">RASHT</label>
              <ion-checkbox slot="end" value="rasht"></ion-checkbox>
            </ion-item>
            <ion-item>
              <label for="tehran">TEHRAN</label>
              <ion-checkbox slot="end" value="tehran"></ion-checkbox>
            </ion-item>
            <ion-item>
              <label for="karaj">KARAJ</label>
              <ion-checkbox slot="end" value="karaj"></ion-checkbox>
            </ion-item>
            <ion-item>
              <label for="shiraz">SHIRAZ</label>
              <ion-checkbox slot="end" value="shiraz"></ion-checkbox>
            </ion-item>
          </ng-template>
        </ion-popover>
        <span class="search-icon">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </span>
      </ion-row>
    </ion-col>
    <ion-col>
      <h2 class="table-title">Weight _ T</h2>
      <table class="NON_DSD-table">
        <tbody class="table-body table-body-content">
          <tr>
            <td class=""><span></span></td>
            <td>9.61</td>
          </tr>

          <tr (click)="toggleDtailsDCD()">
            <td class="table-body-icon">
              <ion-icon name="chevron-down-outline"></ion-icon> KA
            </td>
            <td class="white-bg"></td>
          </tr>
          <div *ngIf="IsDCDDetailsShowing" class="NON_DSD-table-detail">
            <div class="border">
              <table class="">
                <thead>
                  <th>Test 0</th>
                  <th>Number 0</th>
                </thead>
                <tbody>
                  <tr>
                    <td>Test 1</td>
                    <td>Number 1</td>
                  </tr>
                  <tr>
                    <td>Test 2</td>
                    <td>Number 2</td>
                  </tr>
                </tbody>
                <hr class="line-1" />
                <hr class="line-2" />
                <hr class="line-3" />
              </table>
            </div>
          </div>
          <tr class="dark-blue-bg" (click)="toggleDtails()">
            <td>
              <!-- <ion-icon class="isShowing" name="chevron-up-outline"> </ion-icon> -->

              <ion-icon
                class="isNotShowing"
                name="chevron-down-outline"
              ></ion-icon>

              Distributor
            </td>
            <td>4.59</td>
          </tr>
          <div *ngIf="IsDetailsShowing" class="NON_DSD-table-detail">
            <div class="border">
              <table class="">
                <thead class="light-blue-bg">
                  <th>Test 0</th>
                  <th>Number 0</th>
                </thead>
                <tbody>
                  <tr class="white-bg">
                    <td>Test 1</td>
                    <td>Number 1</td>
                  </tr>
                  <tr class="light-blue-bg">
                    <td>Test 2</td>
                    <td>Number 2</td>
                  </tr>
                </tbody>
                <hr class="line-1" />
                <hr class="line-2" />
                <hr class="line-3" />
              </table>
            </div>
          </div>
          <tr>
            <td class="table-body-icon">
              <ion-icon name="chevron-down-outline"></ion-icon> AFH
            </td>
            <td class="white-bg">0.44</td>
          </tr>
          <tr class="dark-blue-bg">
            <td><ion-icon name="chevron-down-outline"></ion-icon> Total</td>
            <td>0.21</td>
          </tr>
        </tbody>
      </table>
    </ion-col>
  </ion-col>
</ion-content>
