<ion-header>
  <ion-toolbar class="ion-no-padding">
    <ion-row
      class="primary-bg ion-justify-content-between header ion-no-margin"
    >
      <ion-col size="1" class="ion-align-self-center">
        <ion-button fill="clear" routerLink="/main">
          <ion-img
            class="back-button ion-justfy-self-start ion-align-self-cente"
            src="assets\pages\customer-history\Backward arrow.png"
          ></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="7" class="ion-text-center ion-align-self-center">
        <ion-title class="white-text">
          <h3><b>Online Daily Sales</b></h3>
        </ion-title>
      </ion-col>
      <ion-col></ion-col>
      <ion-col class="ion-align-self-center reload" size="1">
        <ion-img class="" src="\assets\pages\customer-nearby\Group 1325.png">
        </ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center wifi" size="1">
        <ion-img
          class="wifi-online"
          src="\assets\mainPage\main\wifi.png"
        ></ion-img>
      </ion-col>
    </ion-row>
    <!--  -->
  </ion-toolbar>
  <ion-grid class="secondary-bg white-text">
    <ion-row class="ion-justify-content-between">
      <ion-col size="3" class="ion-no-padding ion-text-start">
        2022.04.02
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-center">
        Saturday
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-end">
        13 فروردین
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-col class="ion-no-padding segment-change">
    <ion-segment
      mode="md"
      class="ion-justify-content-between"
      (ionChange)="segmentChanged($event)"
      value="DSD"
    >
      <ion-segment-button class="DSD" value="DSD">
        <ion-label>DSD</ion-label>
      </ion-segment-button>
      <ion-segment-button class="NON_DSD" value="NON_DSD">
        <ion-label>NON_DSD</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-col>
</ion-header>
<!-- -------------------------------------------------------------------------------------------- -->
<ion-content class="ion-no-padding ion-no-margin">
  <ion-col class="DSD-page" *ngIf="selectedSegment === 'DSD'">
    <ion-col class="search-bar ion-no-padding ion-no-margin">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item *ngIf="showSelect">
          <button class="search-submit primary-bg">
            <ion-icon name="search-outline"></ion-icon>
          </button>
          <!-- <ion-select
            [(ngModel)]="selected_dc"
            multiple="true"
            interface="popover"
          >
            <ion-select-option
              *ngFor="let city of dropdownList"
              [value]="city.itemName"
              >{{city.itemName}}</ion-select-option
            >
          </ion-select> -->
          <ion-item (click)="showAlert()">
            <ion-label> {{selected_dc}} </ion-label>
          </ion-item>
          <span class="search-icon">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </span>
        </ion-item>
      </ion-row>
    </ion-col>

    <ion-col class="table-container ion-no-padding ion-no-margin" size="12">
      <table class="container-table">
        <tr>
          <td>
            <table class="borderSet-header">
              <tr class="Materhead">
                <th class="borderSet Materhead"><span> Route </span></th>
                <th class="borderSet Materhead">Pln</th>
                <th class="borderSet Materhead">Inv</th>
                <th class="borderSet Materhead">%</th>
                <th class="borderSet Materhead">OOR</th>
                <th class="borderSet Materhead">Total</th>
                <th class="borderSet Materhead">NotINV</th>
                <th class="borderSet Materhead">Sale</th>
                <th class="borderSet Materhead">PPED</th>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <div>
              <table
                *ngFor="let Master_row of ctrl.data; let i = index"
                [ngClass]="{'oddRows': 1 === i % 2}"
                class="borderSet-body"
              >
                <tr
                  class="borderSet"
                  (click)="Show_Load_Detail(Master_row , i)"
                >
                  <td class="borderSet-detail">
                    <ion-icon name="chevron-down-outline"></ion-icon
                    >{{Master_row.Route}}
                  </td>
                  <td class="borderSet-detail">{{Master_row.Pln}}</td>
                  <td class="borderSet-detail">{{Master_row.Inv}}</td>
                  <td class="borderSet-detail">{{Master_row.Per}}</td>
                  <td class="borderSet-detail">{{Master_row.OOR}}</td>
                  <td class="borderSet-detail">{{Master_row.Total}}</td>
                  <td class="borderSet-detail">{{Master_row.NotINV}}</td>
                  <td class="borderSet-detail">{{Master_row.Sale}}</td>
                  <td class="borderSet-detail">{{Master_row.PPED}}</td>
                </tr>
                <tr id="{{Master_row.Route}}_Detail" *ngIf="isVisible==i">
                  <td colspan="9" class="detailsContainer">
                    <table class="borderSet">
                      <tr class="skuhead header">
                        <td>
                          <table
                            class="borderSet"
                            cellspacing="0"
                            cellpadding="1"
                          >
                            <tr class="ion-justify-content-around">
                              <th class="borderSet">Visitor</th>
                              <th class="borderSet skuhead">Driver</th>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr class="skuhead body">
                        <td>
                          <div>
                            <table
                              class="borderSet-detailsContainer"
                              cellspacing="0"
                              cellpadding="1"
                            >
                              <tr
                                class="borderSet ion-justify-content-around"
                                *ngFor="let row of Load_Detail; let j = index"
                              >
                                <td class="visitor primary-bg white-text">
                                  {{row.Id}}
                                </td>
                                <td class="driver">{{row.Driver}}</td>
                              </tr>
                            </table>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </ion-col>
  </ion-col>

  <!-- ----------------------------------------------------------------------------- -->
  <ion-col *ngIf="selectedSegment === 'NON_DSD'" class="searchbar">
    <ion-col class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item *ngIf="showSelect">
          <button class="search-submit primary-bg">
            <ion-icon name="search-outline"></ion-icon>
          </button>
          <ion-select
            [(ngModel)]="selected_dcN"
            multiple="true"
            interface="popover"
          >
            <ion-select-option
              *ngFor="let city of dropdownListN"
              [value]="city.itemName"
              >{{city.itemName}}</ion-select-option
            >
          </ion-select>
          <span class="search-icon">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </span>
        </ion-item>
      </ion-row>
    </ion-col>

    <ion-grid class="maingrid ion-no-padding">
      <div
        *ngFor="let row of virtual_rows2; let i = index"
        [ngClass]="{'firstrow': i==0}"
      >
        <ion-row>
          <ng-container
            *ngIf="i==0 && row.show && (row.type=='a' || row.type=='h')"
          >
            <ion-col
              *ngFor="let item of srsales2[row.index]; let j = index"
              [ngClass]="{'firstculomn': j==0 && i!=0,'visitor': j==1 && i!=0,'driver': j==2 && i!=0}"
            >
              {{ item }}
            </ion-col>
          </ng-container>
        </ion-row>
      </div>
      <div>
        <div
          *ngFor="let row of virtual_rows2; let i = index"
          (click)="row_click2(row)"
          [ngClass]="{'oddRows': 3 === i % 4}"
        >
          <ion-row>
            <ng-container
              *ngIf="i!=0 &&row.show && (row.type=='a' || row.type=='h')"
            >
              <ion-col
                class="ion-align-self-center"
                *ngFor="let item of srsales2[row.index]; let j = index"
                [ngClass]="{'firstculomn': j==0 && i!=0,'visitor': j==1 && i!=0,'driver': j==2 && i!=0}"
              >
                {{ item }}
              </ion-col>
            </ng-container>
            <ng-container *ngIf="row.show && row.type=='b'">
              <ion-grid class="details">
                <ion-row
                  wrap
                  *ngFor="let rows of selected_ch2[row.index]; let i =index; "
                  [ngClass]="{'oddRows': 0 === i % 2}"
                >
                  <ion-col
                    class="detail ion-align-items-center"
                    *ngFor="let item of rows"
                    [ngClass]="{'detailDarkBg': tableDetails(item) && 0 === i % 2}"
                  >
                    {{ item }}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-container>
          </ion-row>
        </div>
      </div>
    </ion-grid>
  </ion-col>
</ion-content>
