<ion-app *ngIf="startApp" [ngStyle]="{'font-size': fontSize(),'font-weight': isBold() }">
  <ion-split-pane contentId="main-content" [disabled]="disableSplitPane">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-grid class="secondary-bg menu-header">
          <ion-row class="menu-header">
            <ion-col size="8">
              <ion-avatar class="profile-pic ion-margin-top ion-margin-start">
                <img src=""/>
              </ion-avatar>
            </ion-col>
            <ion-col size="4">
              <ion-row class="ion-justify-content-end">
                <ion-col size="4">
                  <ion-img
                    class="notification"
                    src="assets/mainPage/main/notifications-outline.png"
                  ></ion-img>
                </ion-col>
              </ion-row>
              <ion-row
                class="ion-margin-top ion-align-items-center ion-justify-content-center white-background gps-toggle"
              >
                <b> {{selectedLanguage.Menu.en}} </b>
                <ion-toggle color="primary" [(ngModel)]="language" (ionChange)="languageChanged()"></ion-toggle>
                <b> {{selectedLanguage.Menu.fa}} </b>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-list id="labels-list" class="menu-content" [ngStyle]="{'background-color': sharedService.handleThemeColor()}">
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" routerLink="/main">
              <ion-img src="assets/menu/main-page.png"></ion-img>
              <ion-label class="ion-margin-horizontal">{{selectedLanguage.Menu.MainPage}}</ion-label>
            </ion-item>
            <ion-item lines="none" routerLink="/profile">
              <ion-img src="assets/menu/profile.png"></ion-img>
              <ion-label class="ion-margin-horizontal">{{selectedLanguage.Menu.Profile}}</ion-label>
            </ion-item>
            <ion-item lines="none" routerLink="/contact-us">
              <ion-img src="assets/menu/contact-us.png"></ion-img>
              <ion-label class="ion-margin-horizontal">{{selectedLanguage.Menu.ContactUs}}</ion-label>
            </ion-item>
            <ion-item lines="none" routerLink="/about-app">
              <ion-img src="assets/menu/about-us.png"></ion-img>
              <ion-label class="ion-margin-horizontal">{{selectedLanguage.Menu.AboutUs}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-row [ngStyle]="{'background-color': sharedService.handleThemeColor()}" >
          <ion-col size="12" class="text-align-center">
            <ion-menu-toggle>
              <button class="btn lighter footer-btn-color flex-row">
                <p class="settings" routerLink="/settings"><ion-icon name="settings-sharp"></ion-icon> {{selectedLanguage.Menu.Setting}}</p>
                <p class="logOut" id="open-logOut" >{{selectedLanguage.Menu.LogOut}}</p>
              </button>
              <ion-modal #modal trigger="open-logOut">
                <ng-template>
                  <ion-content>
                    <ion-item class="title ion-text-center ion-justify-content-center ion-align-items-end">
                      <ion-title>{{selectedLanguage.logOut.areYouSure}}</ion-title>
                    </ion-item>
                    <ion-item class="label ion-text-center ion-justify-content-center  ion-align-items-center  ">
                      <ion-label>{{selectedLanguage.logOut.message}}</ion-label>
                    </ion-item>
                    <ion-item class="buttons ion-text-center ion-justify-content-center  ion-align-items-center ">
                      <ion-item>
                        <ion-button class="logOut-btn" (click)="logout();modal.dismiss()">
                          {{selectedLanguage.logOut.logOut}} 
                        </ion-button>
                        <ion-button (click)="modal.dismiss()">
                          {{selectedLanguage.logOut.cancel}}
                        </ion-button>
                      </ion-item>
                    </ion-item>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-menu-toggle>
          </ion-col>
        </ion-row>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
