ion-modal{
    --height: 53vh;
    --border-radius: 50px;
    --width: 90%;
}
ion-content{
    background: var(--ion-color-light);
}

.title{
    height: 18vh;
    display: flex;
    color: #0095eb;
    flex-wrap: wrap;
    ion-title{
        font-size: 1.8rem;;
    }
}
.label{
    height: 20vh;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    ion-label{
        font-size: 1.9rem;
        font-weight: bold;    
    }
}
.buttons{
    height: 14vh;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    ion-button{
        width: 40vw;
        height: 5vh;
        --border-radius: 50px;
        font-size: 1rem;
        &.logOut-btn{
            --background:#a4c1d3;
        }
    }
}