<ion-buttons>
  <ion-button (click)="camera()">
    <ion-icon slot="start" name="add"></ion-icon>
    {{language.Add_Edit_News.Camera}}
  </ion-button>
  <ion-button (click)="gallery()">
    <ion-icon slot="start" name="add"></ion-icon>
    {{language.Add_Edit_News.Gallery}}
  </ion-button>
</ion-buttons>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">{{language.Add_Edit_News.Title}}</ion-label>
    <ion-input formControlName="title" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">{{language.Add_Edit_News.Text}}</ion-label>
    <ion-input formControlName="text" type="text"></ion-input>
  </ion-item>
  <ion-button block color="primary" type="submit" [disabled]="form.invalid">
    {{language.Add_Edit_News.Submit}}
  </ion-button>
</form>