

ion-toolbar ion-row{
    --background: var(--ion-color-light);
    --color: #0095EB;
}
ion-toolbar.ios{
    --ion-padding-bottom:0;
}

ion-content {
    --background: var(--ion-color-light);
}

ion-title {
    height: 100%;
    padding-left: 5px;
    text-align: center;
    h3{
        font-size: 3vw;
    }
}
ion-item{
    --background: var(--ion-color-light);
}

ion-input{
    --padding-stsart : 5vw;
    --placeholder-color : #b9b9b9;
    --background : var(--ion-color-light)
}

ion-img{
    max-width: 100%;
}

.wifi{
    min-width: 40px;
    max-width: 60px;
}
.reload{
    min-width: 40px;
    max-width: 60px;
}

ion-img .back-button.ios{
    min-width: 40px;
    max-width: 80px;
    margin-right: 3px;
}
.table-detail-opaned{
    ion-icon{
        color:#0095EB;
    }
}

.back-button {
    max-width: 20px;
    min-width: 15px;
    

}

ion-popover.search-popover{
    --backdrop-opacity:0;
    --width:60vw;
    --offset-x:-1vw;
    --offset-y:-1rem;
    label{
        color:#b9b9b9;
    }

}





// date picker

ion-row{
    .date-picker-container{
        width: 100%;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .date-picker-box{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #6b6b6b;
        border-radius: 10px;
        padding-top: 1rem;
        label{
            font-size: 1.5rem;
            color: #cfcfcf;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        .date-picker{
            height: 6rem;
            width: 80%;
            display: flex;
            justify-content: space-between;
            border-radius: 20px;
            align-items: center;
            img{
                max-height: 100%;
                max-width: 100%;
            }
            >ion-col{
                color: #0095EB;
                display: flex;
                font-size: 1.5rem;
                font-weight: bold;
                ion-icon{
                    color: #a9a9a9;
                    padding: 0 1rem;

                }
            }
        }
        }
    }
}

// ----searchbar

.search-bar{
    .search-box{
        width: 90%;
        border: 1px solid var(--ion-color-dark);
        border-radius: 10px;
        padding: 2rem 0;
        margin: 3vh 4vw;
        &>ion-item{
            margin-left: 3vw;
            width: 90%;
            border-radius: 10px;
            ng-select{
                width: 100%;
                height: 10vh;
            }
        }
        .search-submit{
            z-index: 2;
            width: 3rem;
            height: 100%;
            border-radius: 10px 0 0 10px;
            ion-icon{
                color: var(--ion-color-light);
                font-size: 1.5rem; 
            }
        }
        input::-webkit-input-placeholder{
            justify-self: center;
            align-self: center;
            color: #e5e5e5df;
        }
      
        .search{
            text-align: center;
            height: 5rem;
            width:75%;
            outline: none;
            border: none;
            border-radius: 0 10px 10px 0 ;

       
        }
        span{
            position: absolute;
            bottom: 18.5vh;
            left: 77vw;
        }
        ion-icon{
            color:var(--ion-color-light);
        }
    }
    }


// ------------table------------------------
table.main-table{
    table-layout: fixed;
    width: 100%;
    margin: 0;

    .header-table{
        width: 100vw;
        .header{
            th{
                width: 20%;
                height: 5vh;
                text-align: center;
            }
        }

    }
    .body-table-container{
        width: 100vw;
        overflow: scroll;
        height: 80vh;        
        table.body-table{
            width: 100%;
            .header{
                td{
                    width: 20%;
                    height: 5vh;
                    text-align: center;
                }
            }
        }
    }
    .details-table-container{
        width: 100vw;
        table.details-driver{
            width: 100%;
            height: 5vh;
            tr.details-driver{
                background: #205172;
                th{
                    color: #f4f4f4;
                }
            }
        }
        table.details-table{
            width: 100%;
            tr.header{
                background: #0095EB;
                th{
                    width: 20%;
                    height: 5vh;
                    text-align: center;
                }
            }
        }
        .details-body-table-container{
            width: 100vw;
            overflow: scroll;
            height: 50vh;        
            table.details-body-table{
                background: var(--ion-color-light);
                width: 100%;
                tr{
                    td{
                        width: 20%;
                        height: 5vh;
                        text-align: center;
                    }
                    .firstcolumn{
                        background: #5ebff8;
                    }
                }
            }
        }
    }
    
}
