.box-shadow{
    box-shadow: 5px 8px 16px 0 #e3f6ff, 0 6px 20px 0 #E6F5FC ;

}

ion-toolbar ion-row{
    --background: var(--ion-color-light);
    --color: #0095EB;
    // flex-wrap: nowrap;
}
ion-toolbar.ios{
    --ion-padding-bottom:0;
}

ion-content {
    --background: var(--ion-color-light);
}

ion-title {
    height: 100%;
    padding-left: 5px;
    h3{
        font-size: 3vw;
    }
}
ion-item{
    --background: var(--ion-color-light);
}

ion-input{
    --padding-stsart : 5vw;
    --placeholder-color : #b9b9b9;
    --background : var(--ion-color-light)
}

ion-img{
    // max-width: 100px;
    max-width: 100%;
    // min-width: 80px;
}

.wifi{
    min-width: 50px;
}
.reload{
    min-width: 50px;
}

ion-img .back-button.ios{
    min-width: 40px;
    max-width: 80px;
    margin-right: 3px;
}
.table-detail-opaned{
    ion-icon{
        color:#0095EB;
    }
}

.back-button {
    max-width: 20px;
    min-width: 15px;
    

}

ion-popover.search-popover{
    --backdrop-opacity:0;
    // --width:450px;
    --width:60vw;
    // height: 300px;
    --offset-x:-1vw;
    --offset-y:-1rem;
    label{
        color:#b9b9b9;
    }

}





// date picker

ion-col{
    .date-picker-container{
        // width: 100vw;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .date-picker-box{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #6b6b6b;
        border-radius: 10px;
        padding-top: 1rem;
        label{
            font-size: 1.5rem;
            color: #cfcfcf;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        .date-picker{
            height: 6rem;
            width: 80%;
            display: flex;
            justify-content: space-between;
            border-radius: 20px;
            align-items: center;
            // padding: 1rem 2rem 1rem 0 ;
            // padding-right: 2rem;
            // box-shadow: 5px 8px 16px 0 #e3f6ff, 0 6px 20px 0 #E6F5FC ;

            img{
                max-height: 100%;
                max-width: 100%;
            }
            >ion-col{
                color: #0095EB;
                display: flex;
                font-size: 1.5rem;
                font-weight: bold;
                ion-icon{
                    color: #a9a9a9;
                    padding: 0 1rem;

                }
            }
        }
        }
    }
}

// ----searchbar

.search-bar{
    .search-box{
        width: 90%;
        border: 1px solid var(--ion-color-dark);
        border-radius: 10px;
        padding: 2rem 0;
        margin: 3vh 4vw;
        &>ion-item{
            --background: none;
            width: 90%;
            border-radius: 10px;
            ion-select{
                width: 100%;
                height: 100%;
            }
        }
        .search-submit{
            z-index: 2;
            width: 3rem;
            height: 5rem;
            border-radius: 10px 0 0 10px;
            ion-icon{
                color: var(--ion-color-light);
                font-size: 1.5rem; 
            }
        }
        input::-webkit-input-placeholder{
            justify-self: center;
            align-self: center;
            color: #e5e5e5df;
        }
      
        .search{
            text-align: center;
            height: 5rem;
            width:75%;
            outline: none;
            border: none;
            border-radius: 0 10px 10px 0 ;

       
        }
        span{
            position: absolute;
            bottom: 18.5vh;
            left: 77vw;
        }
        ion-icon{
            color:var(--ion-color-light);
        }
    }
    }


// ------------table------------------------
table{

    table-layout: fixed;
    width: 100%;
    margin: 0;
    
    tr{
        cursor: pointer;
        z-index: 3;
       
    }
    td{
        white-space: nowrap;
        padding: 2px 0;
        max-width: 100px;

    }
    .table-head{
        .table-head-content{
            font-weight: bold;
            color:var(--ion-color-dark);
            th{
                font-size: 1.1rem;
            }
            >:first-child{
                background: #dadada56;
                color:#0095EB;
                min-height: 20px;
            }
           
            // >:last-child{
            //     width: 15%;
            //     background: #dcdcdc92;
            // }
        
        }
    }
    .table-body{
       >tr{
            >td{
                font-size: 1.3rem;
                color: var(--ion-color-dark);
                text-align: center;
                &:first-child{
                    text-align: left;
                    padding-left: 5px;            
                }
            }
            >:last-child{
                background: #dcdcdc92;
            }
        }
        
        ion-icon{
            font-size: 1.2rem;
            padding-right: 4px;
        }
        &-icon{
            background: #dddddd;
            align-items: center;
            justify-content: center;
        }
    }
    .table-detail{
        .border{
            border-left: 2px #0095EB solid;
            margin-left: 1rem;
            padding: 1rem 0 0;
        &>table{

            width: 90vw;
            margin:0 1rem 1rem;
            box-shadow: 2px 2px 6px 0 #cdcdcdd6, 0 6px 20px 0 #E6F5FC ;
            position: relative;
            
            
            .line-1{
                background: #0095EB;
                position: absolute;
                top: 3rem;
                left: -1rem;
                height: 1.5px;
                width: 1rem;
            }
            .line-2{
                background:#0095EB;
                position: absolute;
                top: 11rem;
                left: -1rem;
                height: 1.5px;
                width: 1rem;
            }
            .line-3{
                background: #0095EB;
                position: absolute;
                bottom: 11.5rem;
                left: -1rem;
                height: 1.5px;
                width: 1rem;
            }
            .line-4{
                background: #0095EB;
                position: absolute;
                bottom: 3.8rem;
                left: -1rem;
                height: 1.5px;
                width: 1rem;
            }
        }
        tr{
            display: grid;
            grid-template-columns: auto auto;
            padding: 1rem 1rem 0;
        }

        td{
            height: 10vh;
            span{
                color: #343593;
                font-weight: bold;
            }
        }
        tbody{
            text-align: center;
        }
    }
}
}
