<ion-header>
  <ion-toolbar class="ion-no-padding">
    <ion-row
      class="primary-bg ion-justify-content-between header ion-no-margin"
    >
      <ion-col size="1" class="ion-align-self-center">
        <ion-button fill="clear" routerLink="/main">
          <ion-img
            class="back-button ion-justfy-self-start ion-align-self-cente"
            src="assets\pages\customer-history\Backward arrow.png"
          ></ion-img>
        </ion-button>
      </ion-col>
      <ion-col></ion-col>

      <ion-col size="8" class="ion-text-center ion-align-self-center">
        <ion-title class="white-text">
          <h3><b>{{language.Online_Sales_Hourly.Title}}</b></h3>
        </ion-title>
      </ion-col>
      <ion-col
        class="ion-align-self-center reload"
        size="1"
        (click)="refresh()"
      >
        <ion-img class="" src="\assets\pages\customer-nearby\Group 1325.png">
        </ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center wifi" size="1">
        <ion-img *ngIf="isOnline"
          class="wifiOn"
          src="\assets\pages\Wifi\Internet On.png"
        ></ion-img>
        <ion-img *ngIf="!isOnline"
          class="wifiOn"
          src="\assets\pages\Wifi\Internet Off.png"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-grid class="secondary-bg white-text">
    <ion-row class="ion-justify-content-between">
      <ion-col size="3" class="ion-no-padding ion-text-start">
        2022.04.02
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-center">
        Saturday
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-end">
        13 فروردین
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-col class="ion-no-padding segment-change">
    <ion-segment
      mode="md"
      class="ion-justify-content-between"
      (ionChange)="segmentChanged($event)"
      value="per-kilo"
    >
      <ion-segment-button class="per-kilo" value="per-kilo">
        <ion-label>{{language.Online_Sales_Hourly.perKilo}}</ion-label>
      </ion-segment-button>
      <ion-segment-button class="per-invoices" value="per-invoices">
        <ion-label>{{language.Online_Sales_Hourly.perInvoices}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-col>
</ion-header>
<ion-content>

  <!-- -------------------------------per-kilo----------------------------------------- -->
  <!-- -------------------------------per-kilo----------------------------------------- -->
  <!-- -------------------------------per-kilo----------------------------------------- -->
  <ion-col class="per-kilo-segment" *ngIf="selectedSegment == 'per-kilo'">
    <ion-row>
      <ion-col class="search-bar">
        <ion-row class="search-box ion-justify-content-center">
          <ion-item class="lightBlue-shadow">
            <button class="search-submit primary-bg" (click)="SelectedDC()">
              <ion-icon name="search-outline"></ion-icon>
            </button>
            <ng-select
              *ngIf="dropdownList.length"
              [items]="dropdownList"
              [multiple]="true"
              bindLabel="itemName"
              groupBy="group"
              appendTo="body"
              [selectableGroup]="true"
              [selectableGroupAsModel]="false"
              [closeOnSelect]="false"
              bindValue="itemName"
              [(ngModel)]="selectedItems"
            >
              <ng-template
                ng-optgroup-tmp
                let-item="item"
                let-item$="item$"
                let-index="index"
              >
                <input
                  id="item-{{index}}"
                  type="checkbox"
                  [ngModel]="item$.selected"
                />
                {{item.group}}
              </ng-template>

              <ng-template
                ng-option-tmp
                let-item="item"
                let-item$="item$"
                let-index="index"
              >
                <input
                  id="item-{{index}}"
                  type="checkbox"
                  [ngModel]="item$.selected"
                />
                {{item.itemName}}
              </ng-template>
            </ng-select>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- -----------------------table -->
    <ion-row>
      <ion-col class="ion-no-padding table-container">
        <ion-grid class="ion-no-padding table">
          <div
            *ngFor="let row of virtual_rows2; let i = index"
            [ngClass]="{'firstrow': i==0}"
          >
            <ion-row>
              <ng-container
                *ngIf="i==0 && row.show && (row.type=='a' || row.type=='h')"
              >
                <ion-col
                  *ngFor="let item of srsales2[row.index]; let j = index"
                  [ngClass]="{'firstcolumn': j==0 && i!=0, 'oddColumns': 0=== j % 2 }"
                  >
                  {{ item }}
                </ion-col>
              </ng-container>
            </ion-row>
          </div>

          <div class="tbody">
            <div
              *ngFor="let row of virtual_rows2; let i = index"
              (click)="row_click2(row)"
              [ngClass]="{ 'oddRows' : 3 === i % 4}"
            >
              <ion-row class="rows">
                <ng-container
                  *ngIf="i!=0 &&row.show && (row.type=='a' || row.type=='h')"
                >
                  <ion-col
                    *ngFor="let item of srsales2[row.index]; let j = index"
                    [ngClass]="{'firstcolumn': j==0 && i!=0, 'oddColumns': 0=== j % 2 }"
                  >
                    {{ item }}
                  </ion-col>
                </ng-container>

                <ng-container *ngIf="row.show && row.type=='b'">
                  <ion-grid class="details">
                    <ion-row wrap *ngFor="let rows of selected_ch2[row.index]">
                      <ion-col *ngFor="let item of rows"> {{ item }} </ion-col>
                    </ion-row>
                  </ion-grid>
                </ng-container>
              </ion-row>
            </div>
          </div>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-col>
  <!-- -------------------------------per-invoices----------------------------------------- -->
<!-- -------------------------------per-invoices----------------------------------------- -->
<!-- -------------------------------per-invoices----------------------------------------- -->

<ion-col
class="per-invoices-segment"
*ngIf="selectedSegment == 'per-invoices'"
>
<ion-row>
  <ion-col class="search-bar">
    <ion-row class="search-box ion-justify-content-center">
      <ion-item class="lightBlue-shadow">
        <button class="search-submit primary-bg" (click)="SelectedDCN()">
          <ion-icon name="search-outline"></ion-icon>
        </button>
        <ng-select
          *ngIf="dropdownListN.length"
          [items]="dropdownListN"
          [multiple]="true"
          bindLabel="itemName"
          groupBy="group"
          appendTo="body"
          [selectableGroup]="true"
          [selectableGroupAsModel]="false"
          [closeOnSelect]="false"
          bindValue="itemName"
          [(ngModel)]="selectedItemsN"
        >
          <ng-template
            ng-optgroup-tmp
            let-item="item"
            let-item$="item$"
            let-index="index"
          >
            <input
              id="item-{{index}}"
              type="checkbox"
              [ngModel]="item$.selected"
            />
            {{item.group}}
          </ng-template>

          <ng-template
            ng-option-tmp
            let-item="item"
            let-item$="item$"
            let-index="index"
          >
            <input
              id="item-{{index}}"
              type="checkbox"
              [ngModel]="item$.selected"
            />
            {{item.itemName}}
          </ng-template>
        </ng-select>
       
      </ion-item>
    </ion-row>
  </ion-col>
</ion-row>
<!-- -----------------------table -->
<ion-row>
  <ion-col class="ion-no-padding table-container">
    <ion-grid class="ion-no-padding table">
      <div
        *ngFor="let row of virtual_rows1; let i = index"
        [ngClass]="{'firstrow': i==0}"
      >
        <ion-row>
          <ng-container *ngIf="i==0 && row.show && (row.type=='h')">
            <ion-col
              *ngFor="let item of srsales1[row.index]; let j = index"
              [ngClass]="{'firstcolumn': j==0 && i!=0, 'oddColumns': 0=== j % 2 }"
              >
              {{ item }}
            </ion-col>
          </ng-container>
        </ion-row>
      </div>

      <div class="tbody">
        <div
          *ngFor="let row of virtual_rows1; let i = index"
          (click)="row_click1(row , i)"
          [ngClass]="{ 'oddRows' : 3 === i % 4}"
        >
          <ion-row class="rows">
            <ng-container *ngIf="i!=0 &&row.show && (row.type=='a')">
              <ion-col
                *ngFor="let item of srsales1[row.index]; let j = index"
                [ngClass]="{'firstcolumn': j==0 && i!=0, 'oddColumns': 0=== j % 2 }"
                >
                {{ item }}
              </ion-col>
            </ng-container>

            <ng-container *ngIf="row.show && row.type=='b'">
              <ion-grid class="details">
                <ion-row wrap *ngFor="let rows of selected_ch1[row.index]">
                  <ion-col *ngFor="let item of rows"> {{ item }} </ion-col>
                </ion-row>
              </ion-grid>
            </ng-container>
          </ion-row>
        </div>
      </div>
    </ion-grid>
  </ion-col>
</ion-row>
</ion-col>
</ion-content>

