// to do change search bar

ion-toolbar ion-row{
    --background: var(--ion-color-light);
    --color: #0095EB;
}
ion-toolbar.ios{
    --ion-padding-bottom:0;
}

ion-content {
    --background: var(--ion-color-light);
    --color: #0095EB;
}

ion-title {
    height: 100%;
    padding-left: 15px;
    h3{
        font-size: 5vw;
    }
}
ion-item{
    --background: var(--ion-color-light);
}

ion-input{
    --padding-stsart : 5vw;
    --placeholder-color : #b9b9b9;
    --background : var(--ion-color-light)
}

ion-img{
    // max-width: 100px;
    max-width: 100%;
    // min-width: 80px;
}

.wifi{
    min-width: 40px;
}
.reload{
    min-width: 40px;
}

ion-img .back-button.ios{
    min-width: 40px;
    max-width: 80px;
    margin-right: 3px;
}
.table-detail-opaned{
    ion-icon{
        color:#0095EB;
    }
}

.back-button {
    max-width: 20px;
    min-width: 20px;
    

}

// -----segment change---------
ion-col.segment-change{
    --height: 3rem;
    ion-segment-button{
        padding: 1rem 0;
        border-bottom: 1px solid #0095EB ;
        width: 100%;
        ion-label{
            font-size: 2vw;
            color: #b9b9b9;
        }
    }
}


ion-content{
    cursor: pointer;
    --color:#8f8f8f ;
    --padding-top: .9rem ;
    --padding-bottom: .9rem ;
    // --padding-start: 1.7rem ;
    &:hover{
        // --background:#0095EB;
        --color:var(--ion-color-dark) ;
    }
    
}
ion-content.select-input-popover-title{
    cursor:auto;
    --color:var(--ion-color-dark) ;
    text-align: center;
    border-bottom: 2px dashed #8f8f8f;
    font-weight: bold;
    --padding-start: 0 ;
    &:hover{
        --background:none;
    }
    
}
// }
ion-popover.search-popover{
    --backdrop-opacity:0;
    // --width:450px;
    --width:60vw;
    // height: 300px;
    --offset-x:-5vw;
    --offset-y:-1rem;
    label{
        color:#b9b9b9;
    }

}

ion-col.DSD-page{
    height: 150vh;
}



// .input-shadow{
//     box-shadow: 5px 8px 16px 0 #e3f6ff, 0 6px 20px 0 #E6F5FC ;
// }
// ----- content------------

// ----searchbar


// ----searchbar

.search-bar{
    .search-box{
        width: 90%;
        border: 1px solid var(--ion-color-dark);
        border-radius: 10px;
        padding: 2rem 0;
        margin: 3vh 4vw;
        &>ion-item{
            --background: none;
            --padding-start:0;
            width: 90%;
            border-radius: 10px;
            ion-select{
                width: 100%;
                height: 100%;
            }
        }
        .search-submit{
            z-index: 2;
            width: 3rem;
            height: 5rem;
            border-radius: 10px 0 0 10px;
            ion-icon{
                color: var(--ion-color-light);
                font-size: 1.5rem; 
            }
        }
        input::-webkit-input-placeholder{
            justify-self: center;
            align-self: center;
            color: #e5e5e5df;
        }
      
        .search{
            text-align: center;
            height: 5rem;
            width:75%;
            outline: none;
            border: none;
            border-radius: 0 10px 10px 0 ;

       
        }
        span{
            position: absolute;
            bottom: 18.5vh;
            left: 77vw;
        }
        ion-icon{
            color:var(--ion-color-light);
        }
    }
    }

// radio-input

ion-col{
    ion-row.radio-input-container{
        margin-bottom: 3rem;
        .radio-input-box{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 88vw;
            height: 20vh;
            border: 1px solid var(--ion-color-dark);
            border-radius: 10px;
            .radio-input{
                // box-shadow: 2px 2px 6px 0 #cdcdcdd6, 0 6px 20px 0 #E6F5FC ;
                width: 80vw;
                height: 12vh;
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-size: 1.3rem;
                border-radius: 50px;
                label{
                    margin-right: 1.5rem;
                    font-weight: bold;
                    color: #cdcdcdd6;
                }

            }

        }

    }
}

// ---table
table{

    table-layout: fixed;
    width: 100%;
    margin: 0;
    
    tr{
        cursor: pointer;
        z-index: 3;
        :nth-child(3),
        :nth-child(5){
            background: #c9c9c95e;

        }
        :nth-child(1){
            max-width: 100px;
        }
        
        &:nth-child(even){
            background: #b9d7e5;
        }
        :last-child{
            max-width: 25px;                
        }
    }
    td{
        white-space: nowrap;
        padding: 2px 0;
        max-width: 100px;

    }
    .table-head{
        .table-head-content{
            font-weight: bold;
            color: var(--ion-color-dark);
            th{
                font-size: 1.1rem;
            }
            >:first-child{
                color:#0095EB;
                    min-height: 20px;
                }
        
        }
    }
    .table-body{
       >tr{
            >td{
                font-size: 1.3rem;
                color: var(--ion-color-dark);
                width: 50px;
                text-align: center;
                &:first-child{
                    text-align: left;
                    padding-left: 5px;            
                }
            }
        }
        
        ion-icon{
            font-size: 1.2rem;
            padding-right: 4px;
            // margin-top: 5px;
        }
        &-icon{
            background: #dddddd;
            // display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    // ---------table-detail--------------
    .table-detail{
        padding: 10px 0;
        
        &>table{
            // min-width: 90vw;
            width: 65vw;
            // box-shadow: 2px 2px 6px 0 #cdcdcdd6, 0 6px 20px 0 #E6F5FC ;
            position: relative;
            left: 5vw;
        }
        thead{
            background: #2cb2ffd8;
            :first-child{
                border-right:1px #0095eb4b solid ;
            }
        }
        th{
            color: #282828;
            min-width: 200px;
            font-size: 1.2rem;
        }
        tbody{
            text-align: center;
            :first-child{
                background: #0095EB;
                color: var(--ion-color-light);
            }

        }
        .table-line-ver{
            position: absolute;
            // top:16vh;
            top:75px;
            // left: 2vw;
            left: 14px;
            width: 2px;
            height: 70px;
            background: #0095EB;
        }
        .table-line-horiz{
            position: absolute;
            top:135px;
            left: 16px;
            width:60px;
            height: 2px;
            background: #0095EB;
        }

    }

    
    
}


@media (min-width: 991px) {
    ion-col{
        ion-row.radio-input-container{
            .radio-input-box{
               
                width: 64vw;
            
                .radio-input{
                    width: 60vw;
                }
            }
        }
    }
}



   