
ion-toolbar ion-row{
    --background: var(--ion-color-light);
    --color: #0095EB;
}
ion-toolbar.ios{
    --ion-padding-bottom:0;
}

ion-content {
    --background: var(--ion-color-light);
    --color: #0095EB;
}

ion-title {
    height: 100%;
    padding-left: 15px;
    h3{
        font-size: 2rem;
    }
}
ion-item{
    --background: var(--ion-color-light);
}

ion-input{
    --padding-stsart : 5vw;
    --placeholder-color : #b9b9b9;
    --background : var(--ion-color-light)
}

// ion-img{
//     max-width: 60px;
//     min-width: 40px;
// }

.wifi{
    max-width: 60px;
    min-width: 45px;
}
.reload{
    max-width: 60px;
    min-width: 45px;
}

ion-img .back-button.ios{
    min-width: 40px;
    max-width: 80px;
    margin-right: 3px;
}
.table-detail-opaned{
    ion-icon{
        color:#0095EB;
    }
}

.back-button {
    max-width: 20px;
    min-width: 20px;
    

}

// -----segment change---------
ion-col.segment-change{
    --height: 3rem;
    ion-segment{
        border-bottom: 2px solid  #0095EB ;
        ion-segment-button{
            --background-checked: #0095EB;
            --indicator-color:var(--ion-color-dark);
            --indicator-height:	10px;	
            padding:.5rem 0;
            width: 100%;
            ion-label{
                font-size: 1.2rem;
                 // font-weight: bold;
                color: #b9b9b9;
                &:checked{
                    color: var(--ion-color-light);
                }
            }
        }
    }
}


ion-content.select-input-popover-title{
    cursor:auto;
    --color:var(--ion-color-dark) ;
    text-align: center;
    border-bottom: 2px dashed #8f8f8f;
     // font-weight: bold;
    --padding-start: 0 ;
    &:hover{
        --background:none;
    }
    
}


ion-col.DSD-page{
    height: 150vh;
}


// ----- content------------



// ----searchbar

.search-bar{
    .search-box{
        width: 90%;
        border: 1px solid var(--ion-color-dark);
        border-radius: 10px;
        padding: 2rem 0;
        margin: 3vh 4vw;
        &>ion-item{
            --background: none;
            --padding-start:0;
            width: 90%;
            border-radius: 10px;
            ng-select{
                width: 100%;
                height: 10vh;
            }
        }
        .search-submit{
            z-index: 2;
            width: 3rem;
            height: 100%;
            border-radius: 10px 0 0 10px;
            ion-icon{
                color: var(--ion-color-light);
                font-size: 1.5rem; 
            }
        }
        input::-webkit-input-placeholder{
            justify-self: center;
            align-self: center;
            color: #e5e5e5df;
        }
      
        .search{
            text-align: center;
            height: 5rem;
            width:75%;
            outline: none;
            border: none;
            border-radius: 0 10px 10px 0 ;

       
        }
        span{
            position: absolute;
            bottom: 18.5vh;
            left: 77vw;
        }
        ion-icon{
            color:var(--ion-color-light);
        }
    }
    }

// radio-input

ion-grid{
    ion-row.radio-input-container{
        margin-bottom: 3rem;
        .radio-input-box{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 88vw;
            height: 20vh;
            border: 1px solid var(--ion-color-dark);
            border-radius: 10px;
            .radio-input{
                width: 80vw;
                height: 12vh;
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-size: 1.3rem;
                border-radius: 50px;
                label{
                    margin-right: 1.5rem;
                     // font-weight: bold;
                    color: #cdcdcdd6;
                }
                >div{
                    display: flex;
                    flex-direction: row-reverse;
                    
                }
                input[type=radio] {
                    // border: 10px;
                    min-width: 15px;
                    height: 15px;
                    accent-color: #0095EB;
                    &:checked + label{
                            color: #0095EB;
                    }
                }


            }

        }

    }
}


ion-grid.table{
    ion-col{
        display: flex;
        height: 5vh;
        width: 10vw;
        text-align: center;
        color: var(--ion-color-dark);
    }
}









