<ion-header>
  <ion-toolbar class="ion-no-padding">
    <ion-row [ngStyle]="{'background-color': sharedService.handleThemeColor()}">
      <ion-col size="1" class="ion-align-self-center">
        <ion-buttons >
          <ion-back-button color="light" defaultHref="main"></ion-back-button>
        </ion-buttons>
      </ion-col>
      <ion-col></ion-col>
      <ion-col size="6" class="ion-text-start ion-align-self-center">
        <ion-title class="ion-no-padding white-text ion-align-self-center">
          <h3> {{language.Score_Card.Title}} </h3>
        </ion-title>
      </ion-col>
      <ion-col size="1" class="ion-align-self-center reload ">
        <ion-img src="\assets\pages\customer-nearby\Group 1325.png"></ion-img>
      </ion-col>

      <ion-col class="ion-align-self-center wifi  " size="1">
        <ion-img *ngIf="isOnline"
          class="wifiOn"
          src="\assets\pages\Wifi\Internet On.png"
        ></ion-img>
        <ion-img *ngIf="!isOnline"
          class="wifiOn"
          src="\assets\pages\Wifi\Internet Off.png"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-toolbar>
   <app-date></app-date>
  <ion-col class="ion-no-padding segment-change">
    <ion-segment class="" (ionChange)="segmentChanged($event)" value="category">
      <ion-segment-button  [style.--background-checked]="sharedService.handleThemeColor()" class="category" value="category">
        <ion-label>{{language.Score_Card.Segment_category}}</ion-label>
      </ion-segment-button>
      <ion-segment-button  [style.--background-checked]="sharedService.handleThemeColor()" class="channel" value="channel">
        <ion-label>{{language.Score_Card.Segment_channel}}</ion-label>
      </ion-segment-button>
      <ion-segment-button  [style.--background-checked]="sharedService.handleThemeColor()" class="category%" value="categoryP">
        <ion-label>{{language.Score_Card.Segment_categoryPer}}</ion-label>
      </ion-segment-button>
      <ion-segment-button  [style.--background-checked]="sharedService.handleThemeColor()" class="channel%" value="channelP">
        <ion-label>{{language.Score_Card.Segment_channelPer}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-col>
</ion-header>
<!-- -------------------------------------------------------------------------------------------- -->
<ion-content class="ion-no-padding">
  <ion-grid class="category-page ion-no-padding" *ngIf="selectedSegment == 'category'">
    <ion-row class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item class="lightBlue-shadow">
          <button class="search-submit " [ngStyle]="{'background-color': sharedService.handleThemeColor()}" (click)="categorySection()">
            <ion-icon name="search-outline"></ion-icon>
          </button>
          <ng-select [searchable]="false" *ngIf="channels1.length" [items]="channels1" [multiple]="true" bindLabel="GPSChannel"
            groupBy="group" appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false"
            [closeOnSelect]="false" bindValue="GPSChannel" [(ngModel)]="selected_channel1">

            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
            </ng-template>

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.GPSChannel}}
            </ng-template>

          </ng-select>
        </ion-item>
      </ion-row>
    </ion-row>

    <ion-grid>
      <ion-row class="radio-input-container ion-justify-content-center">
        <div class="radio-input-box">
          <div class="radio-input lightBlue-shadow">
            <div class="ion-align-items-center">
              <input type="radio" name="radio-input-cat" [value]="1" [(ngModel)]="categoryRadio" id="" (change)="categorySection()" />
              <label for="sales">{{language.Score_Card.Radio_input_sales}}</label>
            </div>
            <div class="ion-align-items-center">
              <input type="radio" name="radio-input-cat" [value]="2" [(ngModel)]="categoryRadio" id="" (change)="categorySection()"/>
              <label for="pped">{{language.Score_Card.Radio_input_PPED}}</label>
            </div>
          </div>
        </div>
      </ion-row>
    </ion-grid>
    <!-- ---------------table------------------------------- -->
    <ion-row>
      <ion-grid class=" ion-no-padding table maingrid-cat ion-no-padding">
        <ion-row wrap *ngFor="let row of virtual_rows1; let i = index"
          [ngClass]="{'firstRow': i==0 , 'oddRows' : 3 === i % 4}">

          <ng-container *ngIf="row.show && (row.type=='a' || row.type=='h')">
            <ion-col class="ion-justify-content-center ion-align-items-center " *ngFor="let item of scorecards1[row.index]; let j = index"
              [ngClass]="{ 'firstcolumn': j==0 && i!=0 , 'oddColumns' : 0 === j % 2 }">
              {{ item }}
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>

  <!-- ----------------------------------------------------------------------------- -->
  <ion-grid class=" ion-no-padding  " *ngIf="selectedSegment == 'channel'">
    <ion-row class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item class="lightBlue-shadow">
          <button class="search-submit " [ngStyle]="{'background-color': sharedService.handleThemeColor()}" (click)="categorySelect2()">
            <ion-icon name="search-outline"></ion-icon>
          </button>

          <ng-select [searchable]="false" *ngIf="categories2.length" [items]="categories2" [multiple]="true" bindLabel="Cat"
            groupBy="group" appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false"
            [closeOnSelect]="false" bindValue="Cat" [(ngModel)]="selected_category2">

            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
            </ng-template>

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.Cat}}
            </ng-template>

          </ng-select>
         
        </ion-item>
      </ion-row>
    </ion-row>
    <ion-row class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item class="lightBlue-shadow">
          <button class="search-submit " [ngStyle]="{'background-color': sharedService.handleThemeColor()}" (click)="channelSectionSkus()">
            <ion-icon name="search-outline"></ion-icon>
          </button>

          <ng-select [searchable]="false" *ngIf="sec2SkuSelect.length" [items]="sec2SkuSelect" [multiple]="true" bindLabel="itemName"
            groupBy="group" appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false"
            [closeOnSelect]="false" bindValue="itemName" [(ngModel)]="selected_sku2">

            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
            </ng-template>

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.itemName}}
            </ng-template>

          </ng-select>
         
        </ion-item>
      </ion-row>
    </ion-row>

    <ion-grid>
      <ion-row class="radio-input-container ion-justify-content-center">
        <div class="radio-input-box">
          <div class="radio-input lightBlue-shadow">
            <div class="ion-align-items-center">
              <input type="radio" name="radio-input-cat" [value]="1" id="" [(ngModel)]="channelRadio" (change)="channelSectionSkus()" />
              <label for="sales">{{language.Score_Card.Radio_input_sales}}</label>
            </div>
            <div class="ion-align-items-center">
              <input type="radio" name="radio-input-cat" [value]="2" id="" [(ngModel)]="channelRadio" (change)="channelSectionSkus()" />
              <label for="pped">{{language.Score_Card.Radio_input_PPED}}</label>
            </div>
          </div>
        </div>
      </ion-row>
    </ion-grid>
    <!-- -----------------------table------------------------------------------------- -->
    <ion-row>
      <ion-grid class=" ion-no-padding table maingrid-ch ">
        <ion-row wrap *ngFor="let rows of scorecards2; let i = index" [ngClass]="{'firstRow': i==0,  'oddRows': 1 === i % 2 }">
          <ion-col class="ion-justify-content-center ion-align-items-center " *ngFor="let item of rows; let j = index"
          [ngClass]="{ 'firstcolumn': j==0 && i!=0 , 'oddColumns' : 0 === j % 2 }">
          {{ item }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
  <!-- ----------------------------------------- -->
  <ion-grid class=" ion-no-padding" *ngIf="selectedSegment == 'categoryP'">
    <ion-row class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item class="lightBlue-shadow">
          <button class="search-submit " [ngStyle]="{'background-color': sharedService.handleThemeColor()}" (click)="categoryPSection()">
            <ion-icon name="search-outline"></ion-icon>
          </button>

          <ng-select [searchable]="false" *ngIf="selected_category_data.length" [items]="selected_category_data" [multiple]="true" bindLabel="itemName"
            groupBy="group" appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false"
            [closeOnSelect]="false" bindValue="itemName" [(ngModel)]="selected_channel3">

            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
            </ng-template>

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.itemName}}
            </ng-template>

          </ng-select>
         
        </ion-item>
      </ion-row>
    </ion-row>

    <ion-grid>
      <ion-row class="radio-input-container ion-justify-content-center">
        <div class="radio-input-box">
          <div class="radio-input lightBlue-shadow">
            <div class="ion-align-items-center">
              <input type="radio" name="radio-input-cat" [value]="1" id="" [(ngModel)]="categoryPRadio" (change)="getSales3ByChannel()"/>
              <label for="sales">{{language.Score_Card.Radio_input_sales}}</label>
            </div>
            <div class="ion-align-items-center">
              <input type="radio" name="radio-input-cat" [value]="2" id="" [(ngModel)]="categoryPRadio" (change)="getPped3ByChannel()"/>
              <label for="pped">{{language.Score_Card.Radio_input_PPED}}</label>
            </div>
          </div>
        </div>
      </ion-row>
    </ion-grid>
<!-- ----------------------table--------------------- -->
    <ion-row>
      <ion-grid class=" ion-no-padding table maingrid-catP ion-no-padding  ">
        <ion-row wrap *ngFor="let row of virtual_rows3; let i = index"
          [ngClass]="{'firstRow': i==0, 'oddRows':3 === i % 4}">

          <ng-container *ngIf="row.show && (row.type=='a' || row.type=='h')">
            <ion-col *ngFor="let item of scorecards3[row.index]; let j = index"
              [ngClass]="{'firstcolumn': j==0  && i!=0 , 'oddColumns' : 0 === j % 2 }"
              class=" ion-align-items-center  ion-justify-content-center  "
              >
              {{ item }}
            </ion-col>
          </ng-container>
          
        </ion-row>
      </ion-grid>
    </ion-row>
    <ion-row size="12">
      <ion-row class="ion-justify-content-center ion-margin-top">
        <app-pie-charts [columns]="columns1" [series]="data1" *ngIf="columns1.length && data1.length"
          style="max-width: 90vw"></app-pie-charts>
      </ion-row>
    </ion-row>
    <ion-row size="12">
      <ion-row class="ion-justify-content-center ion-margin-top">
        <app-pie-charts [columns]="columns2" [series]="data2" *ngIf="columns2.length && data2.length"
          style="max-width: 90vw"></app-pie-charts>
      </ion-row>
    </ion-row>
  </ion-grid>

  <!-- ----------------------------------------------------------------------------- -->
  <ion-grid class="ion-no-padding " *ngIf="selectedSegment == 'channelP'">
    <ion-row class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item class="lightBlue-shadow">
          <button class="search-submit " [ngStyle]="{'background-color': sharedService.handleThemeColor()}" (click)="categorySelect4()">
            <ion-icon name="search-outline"></ion-icon>
          </button>

          <ng-select [searchable]="false" *ngIf="sec4CategorySelect.length" [items]="sec4CategorySelect" [multiple]="true" bindLabel="itemName"
            groupBy="group" appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false"
            [closeOnSelect]="false" bindValue="itemName" [(ngModel)]="selected_category4">

            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
            </ng-template>

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.itemName}}
            </ng-template>

          </ng-select>

         
        </ion-item>
      </ion-row>
    </ion-row>
    
    <ion-row class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item class="lightBlue-shadow">
          <button class="search-submit " [ngStyle]="{'background-color': sharedService.handleThemeColor()}" (click)="channelPSectionSkus()">
            <ion-icon name="search-outline"></ion-icon>
          </button>
          <ng-select [searchable]="false" *ngIf="sec4SkuSelect.length" [items]="sec4SkuSelect" [multiple]="true" bindLabel="itemName"
            groupBy="group" appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false"
            [closeOnSelect]="false" bindValue="itemName" [(ngModel)]="selected_sku4">

            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
            </ng-template>

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.itemName}}
            </ng-template>
          </ng-select>
        </ion-item>
      </ion-row>
    </ion-row>

    <ion-grid>
      <ion-row class="radio-input-container ion-justify-content-center">
        <div class="radio-input-box">
          <div class="radio-input lightBlue-shadow">
            <div class="ion-align-items-center">
              <input type="radio" name="radio-input-cat" [value]="1" id="" [(ngModel)]="channelPRadio" (change)="getSales4ByCatSku()" />
              <label for="sales">{{language.Score_Card.Radio_input_sales}}</label>
            </div>
            <div class="ion-align-items-center">
              <input type="radio" name="radio-input-cat" [value]="2" id="" [(ngModel)]="channelPRadio" (change)="getPped4ByCatSku()" />
              <label for="pped">{{language.Score_Card.Radio_input_PPED}}</label>
            </div>
          </div>
        </div>
      </ion-row>
    </ion-grid>
<!-- --------------table----------------- -->
    <ion-row>
      <ion-grid class=" ion-no-padding table maingrid-chaP">
        <ion-row wrap *ngFor="let rows of scorecards4; let i = index" [ngClass]="{'firstRow': i==0 , 'oddRows':1 === i % 2}">
          <ion-col class="ion-justify-content-center ion-align-items-center " *ngFor="let item of rows; let j = index" 
          [ngClass]="{'firstcolumn': j==0  && i!=0  ,'oddColumns' : 0 === j % 2  }">
            {{ item }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    <ion-col size="12">
      <ion-row class="ion-justify-content-center ion-margin-top">
        <app-pie-charts [columns]="columns3" [series]="data3" *ngIf="columns3.length && data3.length"></app-pie-charts>
      </ion-row>
    </ion-col>
    <ion-col size="12">
      <ion-row class="ion-justify-content-center ion-margin-top">
        <app-pie-charts [columns]="columns4" [series]="data4" *ngIf="columns4.length && data4.length"></app-pie-charts>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
