<ion-header>
  <ion-toolbar class="ion-no-padding">
    <ion-row class="primary-bg">
      <ion-col size="1" class="ion-align-self-center">
        <ion-button fill="clear" routerLink="/main">
          <ion-img class="back-button" src="assets\pages\customer-history\Backward arrow.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col size="6" class="ion-text-start ion-align-self-center">
        <ion-title class="ion-no-padding white-text ion-align-self-center">
          <h3>Score Cards</h3>
        </ion-title>
      </ion-col>
      <ion-col size="1" class="ion-align-self-center reload">
        <img src="\assets\pages\customer-nearby\Group 1325.png" alt="" />
      </ion-col>

      <ion-col size="1" class="ion-justfy-self-end ion-align-self-center wifi">
        <ion-img class="wifi-online" src="/assets\mainPage\main\wifi.png"></ion-img>
      </ion-col>
      <!-- <ion-col size="1" class="ion-justfy-self-end">
        <ion-img src="assets/mainPage/wifi.png"></ion-img>
      </ion-col> -->
    </ion-row>
  </ion-toolbar>
  <ion-grid class="secondary-bg white-text">
    <ion-row class="ion-justify-content-between">
      <ion-col size="3" class="ion-no-padding ion-text-start">
        2022.04.02
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-center">
        Saturday
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-end">
        13 فروردین
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-col class="ion-no-padding segment-change">
    <ion-segment class="" (ionChange)="segmentChanged($event)" value="category">
      <ion-segment-button class="category" value="category">
        <ion-label>Category</ion-label>
      </ion-segment-button>
      <ion-segment-button class="channel" value="channel">
        <ion-label>Channel</ion-label>
      </ion-segment-button>
      <ion-segment-button class="category%" value="categoryP">
        <ion-label>Category%</ion-label>
      </ion-segment-button>
      <ion-segment-button class="channel%" value="channelP">
        <ion-label>Channel%</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-col>
</ion-header>
<!-- -------------------------------------------------------------------------------------------- -->
<ion-content class="ion-no-padding">
  <ion-col class="category-page" *ngIf="selectedSegment == 'category'">
    <ion-col class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item class="lightBlue-shadow">
          <button class="search-submit primary-bg" (click)="categorySectionChanged()">
            <ion-icon name="search-outline"></ion-icon>
          </button>
          <ng-select *ngIf="channels1.length" [items]="channels1" [multiple]="true" bindLabel="GPSChannel"
            groupBy="group" appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false"
            [closeOnSelect]="false" bindValue="GPSChannel" [(ngModel)]="selected_channel1">

            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
            </ng-template>

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.GPSChannel}}
            </ng-template>

          </ng-select>
          <span class="search-icon">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </span>
        </ion-item>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row class="radio-input-container ion-justify-content-center">
        <div class="radio-input-box">
          <div class="radio-input lightBlue-shadow">
            <div class="ion-align-items-center">
              <input type="radio" name="radio-input-cat" [value]="1" [(ngModel)]="categoryRadio" id="" (change)="categorySectionChanged()" />
              <label for="sales">Sales</label>
            </div>
            <div class="ion-align-items-center">
              <input type="radio" name="radio-input-cat" [value]="2" [(ngModel)]="categoryRadio" id="" (change)="categorySectionChanged()"/>
              <label for="pped">PPED</label>
            </div>
          </div>
        </div>
      </ion-row>
    </ion-col>
    <!-- ---------------table------------------------------- -->
    <ion-col>
      <ion-grid class="maingrid-cat ion-no-padding">
        <ion-row wrap *ngFor="let row of virtual_rows1; let i = index" (click)="row_click1(row)"
          [ngClass]="{'firstRow': i==0}">

          <ng-container *ngIf="row.show && (row.type=='a' || row.type=='h')">
            <ion-col class="ion-justify-content-center ion-align-items-center " *ngFor="let item of scorecards1[row.index]; let j = index"
              [ngClass]="{ 'firstColumn': j==0 , 'oddColumns' : 0 === j % 2 , 'oddRows' : 1 === i % 4}">
              {{ item }}
            </ion-col>

          </ng-container>
          <ng-container *ngIf="row.show && row.type=='b'">
            <ion-grid>
              <ion-row wrap *ngFor="let rows of selected_channel1[row.index]">
                <ion-col *ngFor="let item of rows">
                  {{ item }}
                </ion-col>
              </ion-row>
            </ion-grid>

          </ng-container>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-col>

  <!-- ----------------------------------------------------------------------------- -->
  <ion-col class="searchbar" *ngIf="selectedSegment == 'channel'">
    <ion-col class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item class="lightBlue-shadow">
          <button class="search-submit primary-bg">
            <ion-icon name="search-outline"></ion-icon>
          </button>

          <ng-select *ngIf="categories2.length" [items]="categories2" [multiple]="true" bindLabel="Cat"
            groupBy="group" appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false"
            [closeOnSelect]="false" bindValue="Cat" [(ngModel)]="selected_category2">

            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
            </ng-template>

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.Cat}}
            </ng-template>

          </ng-select>
          <span class="search-icon">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </span>
        </ion-item>
      </ion-row>
    </ion-col>
    <ion-col class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item class="lightBlue-shadow">
          <button class="search-submit primary-bg">
            <ion-icon name="search-outline"></ion-icon>
          </button>

          <ng-select *ngIf="sec2SkuSelect.length" [items]="sec2SkuSelect" [multiple]="true" bindLabel="itemName"
            groupBy="group" appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false"
            [closeOnSelect]="false" bindValue="itemName" [(ngModel)]="selected_sku2">

            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
            </ng-template>

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.itemName}}
            </ng-template>

          </ng-select>
          <span class="search-icon">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </span>
        </ion-item>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row class="radio-input-container ion-justify-content-center">
        <div class="radio-input-box">
          <div class="radio-input lightBlue-shadow">
            <div class="ion-align-items-center">
              <input type="radio" name="radio-input-cat" [value]="1" id="" [(ngModel)]="channelRadio" />
              <label for="sales">Sales</label>
            </div>
            <div class="ion-align-items-center">
              <input type="radio" name="radio-input-cat" [value]="2" id="" [(ngModel)]="channelRadio" />
              <label for="pped">PPED</label>
            </div>
          </div>
        </div>
      </ion-row>
    </ion-col>
    <!-- -----------------------table------------------------------------------------- -->
    <ion-col>
      <ion-grid class="maingrid-ch ion-no-padding">
        <ion-row wrap *ngFor="let rows of scorecards2; let i = index" [ngClass]="{'firstRow': i==0,  'oddRows': 0 === i % 2 }">
          <ion-col class="ion-justify-content-center ion-align-items-center " *ngFor="let item of rows; let j = index"
            [ngClass]="{'firstcolumn': j==0   , 'first_Channel_row': i==0 && j == 0 , 'oddColumns' : 0 === j % 2}">
            {{ item }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-col>
  <ion-col class="category-page" *ngIf="selectedSegment == 'categoryP'">
    <ion-col class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item class="lightBlue-shadow">
          <button class="search-submit primary-bg">
            <ion-icon name="search-outline"></ion-icon>
          </button>
          <ng-select *ngIf="channels1.length" [items]="channels1" [multiple]="true" bindLabel="GPSChannel"
            groupBy="group" appendTo="body" [selectableGroup]="true" [selectableGroupAsModel]="false"
            [closeOnSelect]="false" bindValue="GPSChannel" [(ngModel)]="selected_channel1">

            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.group | uppercase}}
            </ng-template>

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.GPSChannel}}
            </ng-template>

          </ng-select>
          <span class="search-icon">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </span>
        </ion-item>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row class="radio-input-container ion-justify-content-center">
        <div class="radio-input-box">
          <div class="radio-input lightBlue-shadow">
            <div class="ion-align-items-center">
              <input type="radio" name="radio-input-cat" [value]="1" id="" [(ngModel)]="categoryPRadio" />
              <label for="sales">Sales</label>
            </div>
            <div class="ion-align-items-center">
              <input type="radio" name="radio-input-cat" [value]="2" id="" [(ngModel)]="categoryPRadio" />
              <label for="pped">PPED</label>
            </div>
          </div>
        </div>
      </ion-row>
    </ion-col>
<!-- ----------------------table--------------------- -->
    <ion-col>
      
    </ion-col>
    <ion-col size="12">
      <ion-row class="ion-justify-content-center ion-margin-top">
        <app-pie-charts [columns]="columns1" [series]="data1" *ngIf="columns1.length && data1.length"
          style="max-width: 90vw"></app-pie-charts>
      </ion-row>
    </ion-col>
    <ion-col size="12">
      <ion-row class="ion-justify-content-center ion-margin-top">
        <app-pie-charts [columns]="columns2" [series]="data2" *ngIf="columns2.length && data2.length"
          style="max-width: 90vw"></app-pie-charts>
      </ion-row>
    </ion-col>
  </ion-col>

  <!-- ----------------------------------------------------------------------------- -->
  <ion-col *ngIf="selectedSegment == 'channelP'">
    <ion-col class="search-bar">
      <ion-row class="search-box ion-justify-content-center">
        <ion-item class="lightBlue-shadow">
          <button class="search-submit primary-bg">
            <ion-icon name="search-outline"></ion-icon>
          </button>
          <ion-select multiple="true" interface="popover">
            <ion-select-option value="esfahan">ESFAHAN</ion-select-option>
            <ion-select-option value="rasht">RASHT</ion-select-option>
            <ion-select-option value="tehran">TEHRAN</ion-select-option>
            <ion-select-option value="karaj">KARAJ</ion-select-option>
            <ion-select-option value="shiraz">SHIRAZ</ion-select-option>
          </ion-select>
          <span class="search-icon">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </span>
        </ion-item>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row class="radio-input-container ion-justify-content-center">
        <div class="radio-input-box">
          <div class="radio-input lightBlue-shadow">
            <div class="ion-align-items-center">
              <input type="radio" name="radio-input-cat" [value]="1" id="" [(ngModel)]="channelPRadio" />
              <label for="sales">Sales</label>
            </div>
            <div class="ion-align-items-center">
              <input type="radio" name="radio-input-cat" [value]="2" id="" [(ngModel)]="channelPRadio" />
              <label for="pped">PPED</label>
            </div>
          </div>
        </div>
      </ion-row>
    </ion-col>
<!-- --------------table----------------- -->
    <ion-col>
      
    </ion-col>
    <ion-col size="12">
      <ion-row class="ion-justify-content-center ion-margin-top">
        <app-pie-charts></app-pie-charts>
      </ion-row>
    </ion-col>
  </ion-col>
</ion-content>
