<ion-header>
  <ion-grid class="primary-bg main-page-header">
    <ion-row>
      <ion-col size="1" class="ion-align-self-center">
        <ion-img
          (click)="backButton()"
          class="back-button"
          src="assets/mainPage/customer-history/backward-arrow.png"
        ></ion-img>
      </ion-col>
      <ion-col size="5" class="ion-text-center ion-align-self-center">
        <ion-title class="ion-no-padding main-page-Title"
          >Customer History</ion-title
        >
      </ion-col>
      <ion-col size="2">
        GPS
        <ion-toggle></ion-toggle>
      </ion-col>
      <ion-col size="2">
        <ion-img
          class="arrow-down2"
          src="assets/mainPage/customer-history/arrow-down2.png"
        ></ion-img>
      </ion-col>
      <ion-col size="2">
        <ion-img src="assets/mainPage/customer-history/wifi.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="secondary-bg white-text">
    <ion-row class="ion-justify-content-between">
      <ion-col size="3" class="ion-no-padding ion-text-start">
        2022.04.02
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-center">
        Saturday
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-end">
        13 فروردین
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content> </ion-content>
