ion-toolbar{
    --background: var(--ion-color-light);
    --color: #0095EB;
}

ion-content{
    --background: var(--ion-color-light);
    --color: #0095EB;
}

ion-title{
    height: 100%;
}

ion-input{
    --padding-start : 5vw;
    --placeholder-color : #b9b9b9;
    --background : var(--ion-color-light)
}

ion-textarea{
    --padding-start : 5vw;
    --padding-top : 4vh;
    --placeholder-color : #b9b9b9;
    --background : var(--ion-color-light)
}

.back-button{
    max-width: 20px;
}

.contact-us{
    max-width: 20vw;
    max-height: 20vh;
}

.textbox{
    max-width: 70vw;
    height: 60px;
    border-radius: 3rem;
}

.textarea{
    max-width: 70vw;
    border-radius: 2rem;
    max-height: 180px;
}

.center{
    text-align: -webkit-center;
}

.submit-btn{
   background-color: #333894;
   color: var(--ion-color-light);
   max-width: 70vw;
   height: 60px;
   margin-bottom: 4vh;
}
.support-img-col{
    display: flex;
    justify-content: flex-end;
}
.support-img{
    max-width: 14vh;
}
.support{
    align-self: center;
    text-align: center;
}

.support p{
    color: #3D3C64;
}

.support b{
    color: #1C8DCF;
}

