<ion-header>
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3" class="ion-align-self-center">
        <ion-button fill="clear" (click)="backButton()">
          <ion-img class="back-button" src="assets/menu/about-app/back-button.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-title>
          <h3><b>Contact Us</b></h3>
        </ion-title>
      </ion-col>
      <ion-col size="3">

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-margin-top ion-no-padding">
    <ion-row class="ion-justify-content-center ion-margin-vertical">
      <ion-img class="contact-us" src="assets/menu/contact-us/Contact-us.png"></ion-img>
    </ion-row>
    <ion-row class="primary-color ion-justify-content-center">
      <ion-input class="ion-margin-top textbox" type="text" placeholder="Name"></ion-input>
    </ion-row>
    <ion-row class="primary-color ion-justify-content-center">
      <ion-textarea class="ion-margin-vertical textarea" rows="6" cols="20" placeholder="Your Message"></ion-textarea>
    </ion-row>
    <ion-row class="primary-color ion-justify-content-center">
      <button class="btn submit-btn">
        <p>Send Message</p>
      </button>
    </ion-row>
    <ion-row style="height: 20vh;">
      <ion-col size="4" class="ion-text-center support-img-col">
        <ion-img class="support-img" src="assets/menu/contact-us/Support.png"></ion-img>
      </ion-col>
      <ion-col size="4" class="support">
        <h3 class="ion-no-margin"><b>Support:</b></h3>
        <p class="ion-no-margin">Tell:021</p>
        <p class="ion-no-margin">Sell:0912</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>