<ion-header>
  <ion-toolbar class="ion-no-padding">
    <ion-row
      class="primary-bg ion-justify-content-between header ion-no-margin"
    >
      <ion-col size="1" class="ion-align-self-center">
        <ion-button fill="clear" routerLink="/main">
          <ion-img
            class="back-button ion-justfy-self-start ion-align-self-cente"
            src="assets\pages\customer-history\Backward arrow.png"
          ></ion-img>
        </ion-button>
      </ion-col>
      <ion-col> </ion-col>
      <ion-col size="8" class="ion-text-center ion-align-self-center">
        <ion-title class="white-text ion-no-padding">
          <h3><b>Sales hourly_Day & Sales Office</b></h3>
        </ion-title>
      </ion-col>
      <ion-col class="ion-align-self-center reload" size="1">
        <ion-img class="" src="\assets\pages\customer-nearby\Group 1325.png">
        </ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center wifi" size="1">
        <ion-img
          class="wifi-online"
          src="\assets\mainPage\main\wifi.png"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-grid class="secondary-bg white-text">
    <ion-row class="ion-justify-content-between">
      <ion-col size="3" class="ion-no-padding ion-text-start">
        2022.04.02
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-center">
        Saturday
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-text-end">
        13 فروردین
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-col class="ion-no-padding segment-change">
    <ion-segment
      mode="md"
      class="ion-justify-content-between"
      (ionChange)="segmentChanged($event)"
      value="dsd-hourly-city"
    >
      <ion-segment-button class="dsd-hourly-city" value="dsd-hourly-city">
        <ion-label>DSD HOURLY CITY</ion-label>
      </ion-segment-button>
      <ion-segment-button class="dsd-hourly-days" value="dsd-hourly-days">
        <ion-label>DSD HOURLY DAYS</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-col>
</ion-header>
<!-- -----------------------------------------dsd-hourly-city--------------------------------------------------- -->
<!-- -----------------------------------------dsd-hourly-city--------------------------------------------------- -->
<!-- -----------------------------------------dsd-hourly-city--------------------------------------------------- -->
<ion-content>
  <ion-col
    class="dsd-hourly-days-segment"
    *ngIf="selectedSegment == 'dsd-hourly-city'"
  >
    <!-- --------------date_ picker ------------->
    <ion-col>
      <ion-row class="date-picker-container">
        <ion-row class="date-picker-box">
          <label for="Date-picker">{{language.DatePicker.title}}</label>
          <ion-row class="date-picker lightBlue-shadow">
            <img src="\assets\pages\Max PPED\Group 1438.png" alt="" />
            <ion-col id="open-popover" class="ion-justify-content-end">
              {{dateNow | date:'yyyy/MM/dd'}}
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-row>
      <ion-popover trigger="open-popover" show-backdrop="false">
        <ng-template>
          <ion-datetime
            size="cover"
            showDefaultButtons="true"
            presentation="date"
          >
            <ion-buttons slot="buttons">
              <ion-button (click)="reset()"
                >{{language.DatePicker.reset}}</ion-button
              >
              <ion-button (click)="confirm()"
                >{{language.DatePicker.confirm}}</ion-button
              >
            </ion-buttons>
          </ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-col>
    <!-- ------------------search_bar -->
    <ion-row>
      <ion-col class="search-bar">
        <ion-row class="search-box ion-justify-content-center">
          <ion-item class="lightBlue-shadow">
            <button class="search-submit primary-bg">
              <ion-icon name="search-outline"></ion-icon>
            </button>
            <ion-select multiple="true" interface="popover">
              <ion-select-option value="esfahan">SELECT ALL</ion-select-option>
              <ion-select-option value="esfahan">ESFAHAN</ion-select-option>
              <ion-select-option value="rasht">RASHT</ion-select-option>
              <ion-select-option value="tehran">TEHRAN</ion-select-option>
              <ion-select-option value="karaj">KARAJ</ion-select-option>
              <ion-select-option value="shiraz">SHIRAZ</ion-select-option>
            </ion-select>
            <span class="search-icon">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </span>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- -----------------------table -->
    <ion-row>
      <ion-col class="ion-no-padding table-container">
        <table>
          <thead>
            <th class="city"><span>City</span></th>
            <th>H08</th>
            <th>H09</th>
            <th>H10</th>
            <th>H11</th>
            <th>H12</th>
            <th>H13</th>
            <th>H14</th>
            <th>H15</th>
            <th>H16</th>
            <th>H17</th>
            <th>Total</th>
          </thead>
          <tbody>
            <tr
              *ngFor="let data of salesHourlyCity; let i= index"
              [ngClass]="{'oddRows' : 0 === i % 2 }"
            >
              <td class="table-darker-bg">
                <ion-icon name="chevron-down-outline"></ion-icon>{{data.city}}
              </td>
              <td>{{data.H8}}</td>
              <td>{{data.H9}}</td>
              <td>{{data.H10}}</td>
              <td>{{data.H11}}</td>
              <td>{{data.H12}}</td>
              <td>{{data.H13}}</td>
              <td>{{data.H14}}</td>
              <td>{{data.H15}}</td>
              <td>{{data.H16}}</td>
              <td>{{data.H17}}</td>
              <td>{{data.total}}</td>
            </tr>
            <div class="nested-table-container"></div>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </ion-col>
  <!-- -----------------------------------------dsd-hourly-days--------------------------------------------------- -->
  <!-- -----------------------------------------dsd-hourly-days--------------------------------------------------- -->
  <!-- -----------------------------------------dsd-hourly-days--------------------------------------------------- -->

  <ion-col
    class="dsd-hourly-city-segment"
    *ngIf="selectedSegment == 'dsd-hourly-days'"
  >
    <!-- --------------date_ picker -->
    <ion-col>
      <div class="date-picker-double-container">
        <div class="date-picker-box">
          <div id="open-popover-from" class="date-picker lightBlue-shadow">
            <img src="\assets\pages\Max PPED\Group 1438.png" alt="" />
            <div class="">
              <h4>{{language.DatePicker.from}}</h4>
              <div class="">
                2021/03/01
                <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
            </div>
          </div>
          <div id="open-popover-to" class="date-picker lightBlue-shadow">
            <img src="\assets\pages\Max PPED\Group 1438.png" alt="" />
            <div class="">
              <h4>{{language.DatePicker.to}}</h4>
              <div class="">
                2022/11/29
                <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <ion-popover
        showBackdrop="false"
        trigger="open-popover-from"
        class="ion-no-margin"
      >
        <ng-template>
          <ion-datetime value="2021-03-01" presentation="date">
            <ion-buttons slot="buttons">
              <ion-button (click)="reset()"
                >{{language.DatePicker.reset}}</ion-button
              >
              <ion-button (click)="confirm()"
                >{{language.DatePicker.confirm}}</ion-button
              >
            </ion-buttons>
          </ion-datetime>
        </ng-template>
      </ion-popover>
      <ion-popover
        showBackdrop="false"
        trigger="open-popover-to"
        class="ion-no-margin"
      >
        <ng-template>
          <ion-datetime value="2022-11-29" presentation="date">
            <ion-buttons slot="buttons">
              <ion-button (click)="reset()"
                >{{language.DatePicker.reset}}</ion-button
              >
              <ion-button (click)="confirm()"
                >{{language.DatePicker.confirm}}</ion-button
              >
            </ion-buttons>
          </ion-datetime>
        </ng-template>
      </ion-popover>
      <!--  -->
    </ion-col>
    <!-- ------------------search_bar -->
    <ion-row>
      <ion-col class="search-bar">
        <ion-row class="search-box ion-justify-content-center">
          <ion-item class="lightBlue-shadow">
            <button class="search-submit primary-bg">
              <ion-icon name="search-outline"></ion-icon>
            </button>
            <ion-select multiple="true" interface="popover">
              <ion-select-option value="esfahan">SELECT ALL</ion-select-option>
              <ion-select-option value="esfahan">ESFAHAN</ion-select-option>
              <ion-select-option value="rasht">RASHT</ion-select-option>
              <ion-select-option value="tehran">TEHRAN</ion-select-option>
              <ion-select-option value="karaj">KARAJ</ion-select-option>
              <ion-select-option value="shiraz">SHIRAZ</ion-select-option>
            </ion-select>
            <span class="search-icon">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </span>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- -----------------------table -->
    <ion-row>
      <ion-col class="ion-no-padding table-container">
        <table>
          <thead>
            <th class="route"><span>SaleDate</span></th>
            <th>H08</th>
            <th>H09</th>
            <th>H10</th>
            <th>H11</th>
            <th>H12</th>
            <th>H13</th>
            <th>H14</th>
            <th>H15</th>
            <th>H16</th>
            <th>H17</th>
            <th>Total</th>
          </thead>
          <tbody>
            <tr
              *ngFor="let data of salesHourlyCity; let i= index"
              [ngClass]="{'oddRows' : 0 === i % 2 }"
            >
              <td class="table-darker-bg">
                <ion-icon name="chevron-down-outline"></ion-icon>{{data.city}}
              </td>
              <td>{{data.H8}}</td>
              <td>{{data.H9}}</td>
              <td>{{data.H10}}</td>
              <td>{{data.H11}}</td>
              <td>{{data.H12}}</td>
              <td>{{data.H13}}</td>
              <td>{{data.H14}}</td>
              <td>{{data.H15}}</td>
              <td>{{data.H16}}</td>
              <td>{{data.H17}}</td>
              <td>{{data.total}}</td>
            </tr>
            <div class="nested-table-container"></div>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-content>

<!-- ----------------------- -->
