<ion-content>
  <ion-row [ngStyle]="{'background-color': sharedService.handleBackgroundColor()}" class="ion-justify-content-center">
    <ion-col size="3" class="ion-align-self-center white-text">
      <ion-buttons >
        <ion-back-button color="light" defaultHref="settings"></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col size="6" class="ion-text-center white-text">
      <ion-title>
        <h3><b>{{selectedLanguage.Language.Title}}</b></h3>
      </ion-title>
    </ion-col>
    <ion-col size="3"> </ion-col>
  </ion-row>
  <ion-row [ngStyle]="{'background-color': sharedService.handleBackgroundColor()}" class="h-50vh  ion-justify-content-center">
    <ion-img class="img" src="assets/menu/language/Group 1166.png"></ion-img>
  </ion-row>
  <ion-row class="ion-justify-content-center primary-color h-20vh">
    <p class="ion-align-self-center">{{selectedLanguage.Language.Select}}</p>
  </ion-row>
  <ion-row class="ion-justify-content-center h-10vh">
    <ion-item fill="outline">
      <ion-select value="english" class="w-50vw" [(ngModel)]="language" (ionChange)="languageChanged()">
        <ion-select-option [value]="'EN'">{{selectedLanguage.Language.en}}</ion-select-option>
        <ion-select-option [value]="'FR'">{{selectedLanguage.Language.fa}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-row>
</ion-content>
